<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#people">People</a></li>
<li><a href="#officers">Current Officers</a></li>
<li><a href="#history">History</a></li>
<li><a href="#meeting_organizers">Meeting Organizers</a></li>
<li><a href="#about_site">About This Site</a></li>
</ul>
      <h1 id="introduction" style="border-top: none; padding-top: 0;">Introduction</h1>
      <p>
         <a href="http://www.pm.org/">Perl Mongers</a> is the term used to describe both
	 the participants of certain groups of Perl users, as well as the organization which is composed of the
	 loose association of said Perl User Groups from all over the world.<br />

	 Perl Monger groups have different goals, but all are composed of Perl users who like to
	 talk with and meet their fellow Perl Mongers.<br />

	 Specifically, the Israeli Perl Mongers (Israel.pm) is the Israeli Perl user group registered at the
	 International Perl Mongers site.
	 It is composed of Perl users of various levels, from total beginners who have yet to write "Hello, World"
	 to veteran Perl programmers -- all are welcome.<br />
	 The goals of the Israeli Perl Mongers are first and foremost to
	 facilitate communication and mutual help between Israeli Perl Mongers, and secondly to advance
	 the usage of Perl in Israel and to disseminate information about our favourite programming
	 language to the programming community in Israel.<br />

	 To fulfill its goals, Israel.pm:
      </p>
      <ol>
         <li>
	    Has built <a href="index.html">this site</a>, to host archives, local content and to
	    feature local Perl related news items.
	 </li>
         <li>
	    Has several <a href="mailing_lists.html">mailing lists</a> dedicated to Perl.
	    This is the main avenue of participation for the majority of Israeli Perl users.
	 </li>
         <li>
	    Holds <a href="meetings.html">monthly meetings</a> that feature 2 or more Perl (or programming
	    in general) related lectures. For the Israeli Perl Mongers, this is the main avenue by which
	    we meet and socialize.
	 </li>
         <li>
	    Has held <a href="yapc.html">yearly conferences</a> (for the past 2 years, with
	    hopefully more to come), through which Israel.pm has exposed a wider audience to a
	    full day of back to back Perl lectures given by members of the community.
	 </li>
      </ol>
      <p>
	 Anyone may become a member of Israel.pm, by simply registering to the mailing list.
	 Registration is free, but is required to keep the mailing list spam free.
	 Participation in the monthly meetings is also free.
      </p>

      <h1 id="people">People</h1>
<ul>
<tmpl_loop name="people">
  <li>
     <tmpl_if blog>
       <a href="<tmpl_var blog>"><tmpl_var name></a>
     <tmpl_else>
       <tmpl_var name>
     </tmpl_if><br />
     <tmpl_if pause><a href="https://metacpan.org/author/<tmpl_var pause>"><tmpl_var pause></a><br /></tmpl_if>
     <tmpl_if irc>IRC: <tmpl_var irc><br /></tmpl_if>
     <tmpl_if github>Github: <a href="https://github.com/<tmpl_var github>"><tmpl_var github></a><br /></tmpl_if>
     <tmpl_if linkedin><a href="<tmpl_var linkedin>">LinkedIN</a><br /></tmpl_if>
     <tmpl_if twitter><a href="http://twitter.com/#!/<tmpl_var twitter>"><tmpl_var twitter></a><br /></tmpl_if>
     <tmpl_if projects>
     Projects:
     <ul>
     <tmpl_loop name="projects">
       <li><tmpl_var title></li>
     </tmpl_loop>
     </ul>
     </tmpl_if>
  </li>
</tmpl_loop>
</ul>

      <h1 id="officers">Current Officers</h1>
      <p>
         Israel.pm is lead by <a href="http://www.szabgab.com/">Gabor Szabo</a>, who is also its
	 founder. When he is not acting in his capacity as Israel.pm's fearless leader, Gabor
	 manages his own Perl training company, appropriatly named
	 <a href="https://szabgab.com/">Perl Training Israel</a>.
      </p>
      <p>
         Until about the beginning of 2004, nearly all of the routine work involving the running and
	 organization of Israel.pm has fallen on the shoulders of Gabor Szabo. Since then, several
	 Perl Mongers have stepped up to help him run various aspects of the group:
      </p>
      <ul>
         <li>
	    <a href="mailto:library_HATESPAM_@perl.org.il" title="Email the Librarian">Thomas Maier</a>
	    serves as Israel.pm's librarian, keeping track of who has which book and
	    updating the library page as required, and bringing requested books to the meetings.
	 </li>
    <li>
	    <a href="http://okaye.esmartweb.com/">Offer Kaye</a>
	    serves as the English PR officer for Israel.pm. He is responsible for sending
       meeting announcements and other PR related
	    materials to English-language websites and mailing lists.
	 </li>
         <li>
         The webmasters are Gabor and
         <a href="http://www.shlomifish.org/">Shlomi Fish</a>.
	     Email the <a href="mailto:web_HATESPAM_master@perl.org.il" title="Email the Webmaster">webmaster</a>.
	 </li>
      </ul>

      <h1 id="history">History</h1>
      <p>
         The Israeli Perl mailing list was originally setup by Gabor to allow students who attended a
	 recent Perl course given by Gabor to ask him further questions. The
	 <a href="http://www.perl.org.il/pipermail/perl/2001-April/000000.html">first email</a> to the list
	 was sent on Friday, April 27, 2001. <br/>
	 From these humble beginnings Israel.pm has grown to be one of the largest and most active
	 <a href="http://www.pm.org/">Perl Users groups</a> in the world, with hundreds
	 subscribed to the mailing list and an increasing volume of emails
	 <a href="mailing_lists.html#statistics">sent each year</a>.<br />
	 The weekly Perl meetings have also been progressing nicely. The initial meeting, which took place
	 at March 18, 2002, was a small meeting with only 6 people, no set agenda and no regular place to
	 meet. However, since about June 2003 <a href="http://www.d.co.il/">Dapey Zahav</a> have kindly
	 donated the use of a room and overhead projector. Thanks to this set location, great participation by
	 Perl Mongers willing to prepare lectures, and the organization of Gabor Szabo, the Israeli Perl
	 Mongers have since then met regularly, with an attendence of usually about 15-25 people.
	 Recently the Perl Mongers have started to follow-up the technical session with a social one, going
	 together after the lectures are over to a nearby pub. Hopefully this will continue and become a
	 tradition :-)
      </p>

<h1 id="meeting_organizers">Meeting Organizers</h1>
<p>
Starting from August 2012 we have a rotation of meeting organizers.
</p>
<p>The list of organizers</p>

<ul>
<li>For <a href="/#telaviv_meeting_29_August_2012">29 August 2012</a> - Thomas Maier</li>
<li>For <a href="/#telaviv_meeting__September_2012">September 2012</a> - Moshe Nahmias</li>
</ul>

<p>The TODO list for organization</p>
<ul>
<li>Don't say "no" to sawyer or Gabor when they ask you to organize next meeting.</li>
<li>During the meeting search for volunteers to talk on the next meeting.</li>
<li>If that's not enough, send an email to people you know, you might know or you don't know.
    Ask them to give a talk on the next meeting and hope for good.</li>
<li>When you have enough talks (2,3), send immediately mail to the mailing list that
    meeting will occur, who will talk and about what.</li>
<li>Talk to Sawyer to make sure we have a room.</li>
<li>Week before the meeting send mail to this list with reminder about
    the meeting. Add Hebrew announcement as well. <a href="http://mail.perl.org.il/pipermail/perl/2012-August/012714.html">example</a></li>
<li>Update the main page of http://perl.org.il (currently Gabor and Shlomi have commit bits)</li>
<li>Send out invitations to our <a href="http://www.facebook.com/Israeli.Perl.Mongers">Facebook</a>
    and <a href="https://plus.google.com/105209189901369984525/">Google+</a> pages,
    and to the <a href="http://www.linkedin.com/groups?gid=684">LinkedIN group</a> (Gabor)</li>
<li>Submit to <a href="http://startupdigest.com/israel/">Israel StartupDigest</a> (Gabor, needs to be done on the Thursday, before the meeting)</li>
<li>Add the event to the <a
href="http://www.hamakor.org.il/%D7%A7%D7%94%D7%99%D7%9C%D7%94/%D7%99%D7%95%D7%9E%D7%9F-%D7%90%D7%99%D7%A8%D7%95%D7%A2%D7%99%D7%9D/">HaMakori calendar</a></li>
<li>Add the event to the Perl Monger's calendar (??) (this is probably NOT <a href="https://www.theperlreview.com/">The Perl Review calendar</a> any more.</li>
<li>Submit to <a href="http://whatsup.org.il/">Whatsup</a> (Meir Kriheli) <a href="http://whatsup.org.il/modules.php?op=modload&name=News&file=article&sid=7022">example</a></li>
</ul>


      <h1 id="about_site">About This Site</h1>
      <p>
         The new Israel.pm site is an
	 <a href="http://html-template.sourceforge.net/">HTML::Template</a> based site,
	 with the look being based on
	 the <a href="http://www.oswd.org/viewdesign.phtml?id=1192">Gila</a> template, which was
	 downloaded from the <a href="http://www.oswd.org/">Open Source Web Design</a> site.<br />
	 The site sources are managed under <a href="http://subversion.tigris.org/">Subversion</a>,
	 and can be downloaded using the command:<br />
	 <code>svn co http://svn1.hostlocal.com/perl.org.il/</code>
	 <br />
     If you have commit access to the repository you need to use the other address:<br />
	 <code>svn co https://svn1.hostlocal.com/perl.org.il/</code>
	 On Windows you can use <a href="http://tortoisesvn.tigris.org/">TortoiseSVN</a> to access the repository.
	 <br />
	 If you feel like contributing to the site, please do the following:
     </p>
	 <ol>
	    <li> Check out the source code from the Subversion repository with the above command.</li>
	    <li> Make your changes in the new_site_sources directory. Content should nearly always be
	         changed in the templates/*.tmpl files.</li>
	    <li> Run <code>perl update_site.pl</code> in the new_site_sources directory and check
	         (in the "./site" directory by default) if the changes were correct.</li>
	    <li> Run <code>svn diff &gt; diff.txt</code> while in the new_site_sources directory.</li>
	    <li> Send the diff.txt file to
	         <a href="mailto:web_HATESPAM_master@perl.org.il"
             title="Email the Webmaster">the webmaster</a>.</li>
	 </ol>
     <p>
	 If they accept the patch they will apply it to the repository and then
     to the site.
     </p>

