      <h1 id="jobs" style="border-top: none; padding-top: 0;">Perl Related Jobs in Israel</h1>
      <p>
         Every once in a while, someone posts a Perl related job (in Israel) to Israel.pm.
         The following list is intended to help people find these job offerings even after
         some time has passed, as well as to give people an idea of which
         companies are (or were) looking for Perl programmers and what kind of jobs are
         offered, all in one central place. The list of the last 10 job postings to the
         list (from newest to oldest):
      </p>
      <ol>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-December/008344.html" title="Dec2006">Seeking Sr. developer for free software technologies</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-November/008333.html" title="28Nov2006">Zlango</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-October/008238.html" title="11Oct2006">ECI Petach-Tikva</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-September/008206.html" title="27Sep2006">Checkpoint</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-September/008186.html" title="20Sep2006">ABC (Yoram Shitrit) Ltd.</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-September/008163.html" title="6Sep2006">Freelance gig at Log-On Software</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-August/008099.html" title="25Aug2006">Bezeq</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-July/008003.html" title="11Jul2006">Radware</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-May/007876.html" title="May2006">Company in the fuel automation market</a></li>
        <li><a href="http://www.perl.org.il/pipermail/perl/2006-March/007674.html" title="1Mar2006">EWAVE</a></li>
      </ol>

      <h1 id="commercial">Commercial Support</h1>
      <p>
         The following companies provide commerical Perl support in Israel:
      </p>
      <ul>
         <li><a href="https://szabgab.com/">Perl Training Israel</a> (PTI)</li>
         <li><a href="http://www.raz.co.il/">Raz Information Systems</a></li>
         <li><a href="http://www.cortext.co.il/cortext.html">Cortext</a></li>
         <li><a href="http://www.mirimar.net/">Mirimar Networks</a></li>
      </ul>

      <h1 id="who_uses_perl">Who Uses Perl</h1>
      <p>
        <em>There's a great myth out there that no one uses Perl.
        This is because Perl tends to be a great stealth tool,
        being used in organisations where it's needed with or without official approval.</em>
        The truth is that there are a lot of companies where Perl is used starting from small tasks
        to mission critical applications. People in
        <a href="http://www.perltraining.com.au/">Perl Training Australia</a> have put together a nice
        explanation with the title <a href="http://www.perltraining.com.au/whyperl.html">Why Perl?</a>
        They also include a list of Australian comapanies using Perl.
      </p>
      <p>
         As a partial response to the "Perl obscurity problem", we've composed the following list of
         Israeli companies where Perl is being used. This way, if you are using Perl or considering
         using Perl, you'll know that you are in good company :-)<br />
         In the following list, each company name is followed by a (very) short description of where
         they use Perl. We don't guarantee that the details are exact.
      </p>
      <ul>
<!--
         <li><a href="http://www.actcom.co.il/">Actcom</a> Billing, CRM, system administration, provisioning</li>
         <li><a href="http://www.sheernetworks.com/">Sheer Networks</a> -  Integration with their customer's legacy systems</li>
         <li><a href="http://www.mercury.com/">Mercury</a> - Configuration Management, build system, packaging</li>
-->
         <li><a href="http://www.agentinteractive.com/">Agent Interactive</a> and <a href="http://www.agent.co.il/">in Hebrew</a> - content management, database connectivity, Apache::ASP</li>
         <li><a href="http://www.amdocs.com/">Amdocs</a> - Configuration management</li>
         <li><a href="http://www.bankhapoalim.com/">Bank HaPoalim</a> - System administration</li>
         <li><a href="http://www.cellcom.co.il/">Cellcom</a> - System administration, provisoning</li>
         <li><a href="http://www.checkpoint.com/">Check Point</a> - QA testing automation, internal web applications</li>
         <li><a href="http://www.compugen.co.il/">Compugen</a> - Bioinformatics</li>
         <li><a href="http://www.dwarfrabbit.net/">Dwarf Rabbit Netorks</a> - (a start-up company, no details are available)</li>
         <li><a href="http://www.ecitele.com/">ECI</a> - Both in the development and run time environment, Database access, preprocessing data</li>
         <li><a href="http://www.exlibris.co.il/">Ex Libris</a> - Data munging, converting data exported from competing products to their own format</li>
         <li><a href="http://www.h24.co.il/">H24</a> - Testing automation and build system</li>
         <li><a href="http://www.infoneto.co.il/">InfoNeto</a> - Web application GUI for CV Management systems</li>
         <li><a href="http://www.intel.com/">Intel</a></li>
         <li><a href="http://www.ladpc.co.il/">Israel Local Authorities Data Processing Center</a> - Using Perl as primary or core programming tool in leading our projects and for a wide number of administration tasks in NT/UNIX environments</li>
         <li><a href="http://www.marvell.com/">Marvell Semiconductor</a> - testing automation</li>
         <li><a href="http://www.mennenmedical.com/">Mennen Medical Ltd.</a> - Uses Perl in its Cathlab product in scripts, which create reports and export data to other systems</li>
         <li><a href="http://www.monoshpere.com/">Monoshpere</a> - Automated testing environment</li>
         <li><a href="http://www.motorola.com/">Motorola Semiconductors</a> - system automation, testing automation</li>
         <li><a href="http://www.nasa.proj.ac.il/">Israeli EOSDIS NASA node (Israeli Space Agency)</a> - primary development language</li>
         <li><a href="http://www.optier.com/">OpTier</a> - Automatic testing framework</li>
         <li><a href="http://www.qualcomm.co.il/">Qualcomm</a> - system conformance automation, software and hardware build systems, configuration management tools extensions, system administration</li>
         <li><a href="http://www.radware.com/">Radware</a> - Testing automation</li>
         <li><a href="http://www.sanctum.com/">Sanctum</a> - QA testing automation for web application (proxy-like system)</li>
         <li><a href="http://www.shopping.com/">Shopping (formerly known as Dealtime)</a> - The production web site was built using mod_perl</li>
         <li><a href="http://www.sweethome.co.il/">SweetHome</a> use Perl for out domain registration,
                CRM and internal billing, as well as providing professional hosting and security for Perl applications.</li>
      </ul>
      <p>
        If you'd like to add more companies to the list, please contact
        <a href="mailto:web_HATESPAM_master@perl.org.il" title="Email the Webmaster">the webmaster</a>.
      </p>

