<h1 id="telaviv_meeting_27_July_2011">Tel Aviv Meeting on 27-July-2011</h1>

<h2>How to write a module and package it as a CPAN (like) distribution by <a href="http://szabgab.com/">Gabor
Szabo</a></h2>
<p>
Regardless if you want to upload a module to CPAN or just want
to distribute it within your company there are advantages to package it the
same way as the CPAN authors do.
</p>
<p>
We will write a simple module including its unit tests.
We will see the basic layout of a CPAN-like package along with the content
of the Makefile.PL.
We will see how to prepare everything and how to package for distribution.
</p>
<p>
We are going to have only one talk but that will cover a number of topics including
</p>

<ul>
<li>Writing a module</li>
<li>OOP</li>
<li>Testing</li>
<li>Packaging</li>
</ul>


<h2>Introduction to JavaScript by <a href="http://ynonperek.com/">Ynon Perek</a></h2>
<p>
JavaScript, the world's most misunderstood programming language (perhaps other than perl),
is gaining more interest by the minute. For desktop and mobile platforms,
JavaScript is currently the only true cross platform programming language.
</p>
<p>
This talk will cover JavaScript from a perl developer's point of view.
I will present the functional and Object Oriented programming paradigms in JavaScript,
and how they relate with perl on the language perspective.
I will also cover the use of globals, strict mode, and the revolution
JavaScript is going through from a web toy to a real programming language.
</p>
<p>
<a href="http://ynonperek.com/course/fed/javascript-intro.html">slides of Javascript intro</a>
</p>

<p>
The meeting takes place at Shenkar College, Anna Frank 12, Ramat Gan, room 323!<br />
We get together at 6:30pm, and talks begin at 7:00pm.
</p>

<h1 id="telaviv_meeting_29_June_2011">Tel Aviv Meeting on 29-June-2011</h1>
<ul>
<li>Scraping A Cookbook by <a href="http://ynonperek.com/">Ynon Perek</a></li>
<li>#myjourneytoperl - graphing a meme by Dotan Dimet</a></li>
<li><a href="http://szabgab.com/blog/2011/06/building-a-blog-engine-using-perl-dancer.html">A blog engine in 15 minutes</a>
by <a href="http://szabgab.com/">Gabor Szabo</a></li>
</ul>
<p>
For details see <a href="http://telaviv.pm.org/">Tel Aviv Perl Mongers</a> and the
<a href="http://szabgab.com/blog/2011/06/tel-aviv-perl-mongers-meeting-on-29th-june-2011.html">announcement by Gabor Szabo</a>.
</p>

<h1 id="telaviv_meeting_30_March_2011">Tel Aviv Meeting on 30-March-2011</h1>

<p>
The Tel Aviv Perl Mongers will meet on
30-March-2011 at
<a href="http://www.shenkar.ac.il/home/">Shenkar College</a>,
Anna Frank 12, Ramat Gan, room 323. The gathering is going to be at 18:30 and
the talks will start at 19:00. The attendance is free-of-charge and everybody
are welcome.
</p>


<h1 id="telaviv_meeting_29_Dec_2010">Tel Aviv Meeting on 29-December-2010</h1>

<p>
The Tel Aviv Perl Mongers will meet on
29-December-2010 at
<a href="http://www.shenkar.ac.il/home/">Shenkar College</a>,
Anna Frank 12, Ramat Gan, room 323. The gathering is going to be at 18:30 and
the talks will start at 19:00. The attendance is free-of-charge and everybody
are welcome.
</p>

<p>We are going to hear these talks:</p>

<h3>Why Perl? (<a href="http://blogs.perl.org/users/sawyer_x/">Sawyer X</a>)</h3>

<p>
A short talk on what makes Perl such a compelling language to learn and work
with, while focusing on Modern Perl and innovative technologies.
</p>

<h3>What's new in Perl 5.10 and 5.12 (<a href="http://szabgab.com/">Gabor Szabo</a>)</h3>

<p>
Find out what exciting features new versions of Perl offer.
</p>

<h3>Read only state for fun and profit (<a href="http://blog.woobling.org/">Yuval Kogman)</a></h3>

<p>
Even though Perl is highly optimised for modifying data in place, using read
only state can be very rewarding. What is immutability and when it should be
applied.
</p>

    <h1 id="telfoss_meeting_17_Jan_2009">Tel Aviv Meeting: The Moose OOP System for Beginners</h1>

<p>
The <a href="http://www.cs.tau.ac.il/telux/">Tel Aviv Open Source Club</a>
will host <a href="http://wiki.osdc.org.il/index.php/Tel_Aviv_Meeting_on_17_January_2010">the talk "Moose, the Perl OOP System" for beginners</a> by
Sawyer X on
Sunday, 17-January-2009,  at 18:00 (note the change of time since last
year) in Tel Aviv University, Holcblat Hall No. 007 in the corridor of the
exact sciences building (note the change of place from last year). Further
details, maps for arrival, etc. can be found on
<a href="http://www.cs.tau.ac.il/telux/">the web-site</a>
<a href="http://wiki.osdc.org.il/index.php/Tel_Aviv_Meeting_on_17_January_2010">and in the Wiki</a>.
</p>

<p>
Attendance is free, it is not necessary to RSVP and everyone are welcome.
</p>

<p>
With any other problems, feel free to <a href="http://www.shlomifish.org/me/contact-me/">contact the organiser</a>.
</p>

<p><b>Abstract</b></p>

<p>
<a href="http://moose.perl.org/">Moose</a> is a post-modern Object-Oriented
Programming system for Perl 5. It was written since its originator (Stevan
Little) was jealous of the capabilities that Perl 6 provided in regards to OOP,
and so instead of switching to Ruby, he worked on developing a similar system
for Perl 5. Moose drew inspiration from the Object Oriented Programming
capabilities of many languages such as Perl 6, Smalltalk, Common Lisp (CLOS),
Ruby, Java, OCaml and other languages, while remaining faithful to its Perl 5
roots.
</p>

<p><b>About the Lecturer</b></p>

<p>
Sawyer X is a systems' administrator and a Perl developer. He gives talks
about open source, free software, security and programming standards. Sawyer
has previousl given the
<a href="http://wiki.osdc.org.il/index.php/Tel_Aviv_Meeting_on_28_June_2009">presentation
    about red flags in programming of very high languages</a> in
the Tel Aviv Club.
</p>

<p>
We are always looking for people who will volunteer to give presentations on
various topic that are related to open source code and to computers. In case
you are interested to give a talk, or that you have a suggestion for a talk
that interests you, we'll be happy to hear from you.
</p>



<h1 id="rehovot_pm_meetings">The meetings of the new Rehovot Perl Mongers group</h1>

<h2 style="border-top: none; padding-top: 0;">Agenda</h2>

<p>
   Starting from November 2009 the new <a href="http://rehovot.pm.org/">Rehovot Perl Mongers</a>
   are meeting once a month. Check out their web site for further details.
</p>

