<div id="footer">
   <div>
      Please send comments and questions to
      <a href="mailto:web_HATESPAM_master@perl.org.il" title="Email the Webmaster">the webmaster</a>
   </div>
   <div>Last Modified on <tmpl_var name="date"></div>
   <div>Hosted by <a href="http://www.pti.co.il/">Perl Training Israel</a></div>
   <div id="copyright">Copyright 2004, Israel.pm and the respective authors.<br />
   License for code: as in perl <a href="http://www.opensource.org/licenses/">(GPL || Artistic)</a><br />
   License for text: <a href="http://www.gnu.org/licenses/licenses.html">GNU FDL</a>
   </div>
</div>
