<div id="footer">
   <div><a href="https://github.com/szabgab/perl.org.il/">source</a></div>
   <div>Last Modified on <tmpl_var name="date"></div>
   <div>Maintained by <a href="https://szabgab.com/">Gabor Szabo</a></div>
   <div id="copyright">Copyright 2004-2025, Israel.pm and the respective authors.<br />
   License for code: as in perl <a href="http://www.opensource.org/licenses/">(GPL || Artistic)</a><br />
   License for text: <a href="http://www.gnu.org/licenses/licenses.html">GNU FDL</a>
   </div>
</div>
