<h1 id="introduction" style="border-top: none; padding-top: 0;">Introduction</h1>
  <p>
     We welcome <b>Perl programmers</b>, and people who are interested in programming in Perl, or just getting their job done.
  </p>

      <p>
         This is the homepage of the Israeli Perl Mongers, a group of people dedicated
         to the advancement of the <b>Perl Programming language</b> in Israel. There are other
         <a href="http://www.pm.org/">Perl Mongers</a> groups around the world.
        There used to be some other groups in Israel: Jerusalem.pm, Rehovot.pm, TelAviv.pm, and Haifa.pm, but they have all closed.
     </p>

    <p>
    Unfortunately there is no activity in this group either, but Gabor, who used to run this group still mainatins the <a href="https://perlmaven.com/">Perl Maven</a> web site
    and the <a href="https://perlweekly.com/">Perl Weekly newsletter</a>. He also organized <a href="https://live.code-maven.com/">Online live events</a> and some of those events
    are <a href="https://perlmaven.com/live">about Perl</a>.
    </p>

    <p>
    These days Gabor spends a lot more time organizing the <a href="https://python.org.il/">Python</a> and <a href="https://rust.org.il/">Rust</a> communities in Israel and he is also busy <a href="https://szabgab.com/">teaching Python and Rust</a>.
    He would be happy to teach Perl as well, or help companies that have a lot of Perl code.
    </p>

<!--
     <p>
	 Read on below for current news, upcoming meetings and new site content.
      </p>
-->

<!--
<h1 id="yapc-eu">26 August, 2015</h1>

<p>
Some of our members are going to visit <a href="http://act.yapc.eu/ye2015/">YAPC::EU</a>.
Besides that, our <a href="http://mail.perl.org.il/mailman/listinfo/perl">mailing list</a> is
semi active now.
</p>
-->

<p>
See information about <a href="/meeting">past meetings</a>.
</p>

<h1 id="perl_tutorial">Tutorials</h1>

<h3><a href="http://perlmaven.com/perl-tutorial">Perl Tutorial</a> by Gabor Szabo (Israel.pm)</h3>
<h3>Collection and ranking of <a href="http://perl-tutorial.org/">Perl tutorials</a></h3>

<h1 id="social_netowrks">Social Networks</h1>
<p>
You are invited to join us on those sites and help us promote our group via those social networks.
</p>
<p>
<a href="http://www.facebook.com/Israeli.Perl.Mongers" style="text-decoration:none;"><img src="/images/facebook_32x32.png"  alt="Facebook" /></a>
<a href="https://plus.google.com/105209189901369984525/" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" /></a>
<a href="http://www.linkedin.com/groups?gid=684" style="text-decoration:none;"><img src="/images/linkedin_32.png" alt="LinkedIN" /></a>
</p>

