      <h1 id="introduction" style="border-top: none; padding-top: 0;">Introduction</h1>
      <p>
         This is the homepage of the Israeli Perl Mongers, a group of people dedicated
         to the advancement of the <b>Perl Programming language</b> in Israel. There are other
         <a href="http://www.pm.org/">Perl Mongers</a> groups around the world, as well as
         some other groups in Israel:
     <a href="http://jerusalem.perl.org.il/">Jerusalem.pm</a>,
     <a href="http://rehovot.pm.org/">Rehovot.pm</a>,
     <a href="http://telaviv.pm.org/">TelAviv.pm</a>,
     and Haifa.pm.
     </p>

     <p>
     We welcome <b>Perl programmers</b>, and people who are interested in programming in Perl, or just getting their job
     done. Please join our <a href="http://mail.perl.org.il/mailman/listinfo/perl">mailing list</a> or find us on the social
     networks.
     </p>

     <p>
     Read on below for current news, upcoming meetings and new site content.
      </p>

<h1 id="yapc-eu">26 August, 2015</h1>

<p>
Some of our members are going to visit <a href="http://act.yapc.eu/ye2015/">YAPC::EU</a>.
Besides that, our <a href="http://mail.perl.org.il/mailman/listinfo/perl">mailing list</a> is
semi active now.
</p>

<p>
See information about <a href="/meeting">past meetings</a>.
</p>

<h1 id="perl_tutorial">Tutorials</h1>

<h3><a href="http://perlmaven.com/perl-tutorial">Perl Tutorial</a> by Gabor Szabo (Israel.pm)</h3>
<h3>Collection and ranking of <a href="http://perl-tutorial.org/">Perl tutorials</a></h3>

<h1 id="social_netowrks">Social Networks</h1>
<p>
You are invited to join us on those sites and help us promote our group via those social networks.
</p>
<p>
<a href="http://www.facebook.com/Israeli.Perl.Mongers" style="text-decoration:none;"><img src="/images/facebook_32x32.png"  alt="Facebook" /></a>
<a href="https://plus.google.com/105209189901369984525/" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" /></a>
<a href="http://www.linkedin.com/groups?gid=684" style="text-decoration:none;"><img src="/images/linkedin_32.png" alt="LinkedIN" /></a>
</p>

