      <h1 id="projects" style="border-top: none; padding-top: 0;">Perl Projects in Israel</h1>
      <p>
         These are Perl projects and CPAN modules either developed by Israelis or otherwise related to Israel:
      </p>
      <h2>Projects</h2>
      <ul>
         <li>
            <a href="http://migo.sixbit.org/software/arch-magic/">Arch-Magic</a>
            is a GNU Arch infrastructure in Perl that currently includes 4 projects:
            <a href="http://migo.sixbit.org/software/arch-perl/">arch-perl</a>,
            a Perl class library for the Arch revision control system;
            <a href="http://migo.sixbit.org/software/archzoom/">ArchZoom</a>,
            a web-based Arch repository browser;
            <a href="http://migo.sixbit.org/software/axp/">axp</a>,
            Arch eXtension Platform, a command line tool; and
            <a href="http://www.nongnu.org/archway/">ArchWay</a>,
            an advanced GUI for Arch.
            Maintained and developed by <a href="http://migo.sixbit.org/">Mikhael Goikhman</a>.
         </li>
         <li>
            <a href="http://www.wisdom.weizmann.ac.il/~jason/perl/perl.html">tv_grab_il</a>
            is a script to download Israeli tv listings (in hebrew), intended to be part of the
            <a href="http://www.xmltv.org/">xmltv</a> project.
            Maintained and developed by Jason Friedman.
         </li>
         <li>
       <a href="http://www.billauer.co.il/perlilog.html">Perlilog</a>
       is a command-line tool which generates Verilog modules from a set of files,
       which come in several other formats. Maintained and developed by Eli Billauer.
         </li>
         <li>
       <a href="http://www.billauer.co.il/eobj.html">Eobj</a>
       ("<strong>E</strong>asy <strong>Obj</strong>ects") is a Perl programming environment.
       Maintained and developed by Eli Billauer.
         </li>
         <li>
       <a href="http://mila.cs.technion.ac.il/">Mila</a> -
       A Knowledge Center for processing Hebrew. Maintained and developed by Shlomo Yona.
         </li>
         <li>
       <a href="http://cpants.szabgab.com/">CPANTS database</a> - A Web front-end for the
       CPANTS database. Maintained by Gabor Szabo.
         </li>
         <li>
       <a href="http://imagic.weizmann.ac.il/~dov/freesw/FriBidi/">FriBidi</a> -
       A free implementation of the Unicode BiDi algorithm. By Dov (Peter) Grobgeld.
         </li>
         <li>
       <a href="http://nadav.harel.org.il/homepage/work.html">SendSMS</a> - Send SMS messages
            using the web sites of the 4 cell-phone providers in Israel. By Nadav Har'el.
         </li>
         <li>
       <a href="http://sourceforge.net/projects/ilsendsms/">Send SMS (Israel)</a> -
       Another SMS sending project, built on the core of Nadav Har'el script. By Alon Altman.
         </li>
         <li>
       <a href="http://perl-begin.berlios.de/">Perl Beginners' Site</a> -
       The unofficial Perl Beginners' Site. By Shlomi Fish.
         </li>
         <li>
       <a href="http://www.iglu.org.il/shlomif/gamla/">Gamla</a> - A Perl based RAD and application
       server. By Shlomi Fish.
         </li>
         <li>
       <a href="http://www.tracert.com/">Tracert</a> - A database of public traceroute
       gateways with a tool to run them from one central location. By Gabor Szabo.
         </li>
         <li>
       <a href="http://sourceforge.net/projects/rmerge/">Merge</a> - A Perl/HTML/SQL embedded
       scripting tool. By Oded Reznik (see also the CPAN module below).
         </li>
         <li>
            <a href="http://cortext.co.il/">RUI</a> - The goal of the Remote User Interface is to
       allow desktop software to display on remote desktops, for popular server programming
       language/GUI framework combinations, and for popular client platforms. By
       Ran Eilam.
         </li>
         <li>
       <a href="http://www.fvwm.org/documentation/perllib/">FVWM Perl library</a> -
            A Perl library that makes creating FVWM modules in Perl possible and easy.
       By <a href="http://migo.sixbit.org/">Mikhael Goikhman</a>.
         </li>
         <li>
       <a href="http://www.stason.org/">Stas Bekman</a> is one of the co-authors of
            <a href="http://modperlbook.org/">Practical mod_perl</a>, and the
            originator of the <a href="http://perl.apache.org/docs/1.0/guide/">mod_perl guide</a>.
         </li>
         <li>
       <a href="http://chiqchaq.sourceforge.net/">Chiq Chaq</a> is a Wiki for
       regular people. By Yonat Sharon.
         </li>
         <li>
            <a href="http://gimp-test.berlios.de/">The Gimp Automated Testing
            Framwork</a> - an automated testing framework for
            <a href="http://www.gimp.org/">the GIMP</a> image manipulation
            program. By <a href="http://www.shlomifish.org/">Shlomi Fish</a>.
         </li>
         <li>
            <a href="http://web-cpan.berlios.de/latemp/">Latemp</a> -
             a content management system (CMS) for static or semi-static
             HTML pages, based on
             <a href="http://thewml.org/">Website Meta Language</a>. By
             <a href="http://www.shlomifish.org/">Shlomi Fish</a>.
         </li>
         <li>
            <a href="http://podius.wox.org/">Podius</a> -
            a free software content management and web-publishing system.
            By <a href="http://migo.sixbit.org/">Mikhael Goikhman</a>.
         </li>
         <li>
            <a href="http://www.shlomifish.org/open-source/projects/yjobs-on-mozilla/">Yjobs-Proxy</a>
            - a dedicated HTTP proxy written in Perl for making yjobs.co.il
            work with Firefox and other Firefox-based-browsers (and possibly
            other browsers).
         </li>
      </ul>
      <h2>CPAN Authors and Modules</h2>
      <ul>
      <!-- {START_CPAN} -->
<li>
<a href="http://metacpan.org/author/AMOSS">AMOSS</a> - Amos Shapira<br />
<ul>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/EILARA">EILARA</a> - Ran Eilam<br />
<ul>
<li><a href="http://metacpan.org/release/Aspect">Aspect</a> (originally by <a href="http://metacpan.org/author/Marcel/">Marcel Grünauer</a>)</li>
<li><a href="http://metacpan.org/release/Games-TMX-Parser">Games-TMX-Parser</a></li>
<li><a href="http://metacpan.org/release/MooseX-Role-Listenable">MooseX-Role-Listenable</a></li>
<li><a href="http://metacpan.org/release/XUL-Node">XUL-Node</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/FELIXL">FELIXL</a> - Felix Liberman<br />
<ul>
<li><a href="http://metacpan.org/release/vptk_presentation.pod">vptk_presentation.pod</a></li>
<li><a href="http://metacpan.org/release/vptk_w">vptk_w</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/GAAL">GAAL</a> - Gaal Yahas<br />
<ul>
<li><a href="http://metacpan.org/release/App-CSV">App-CSV</a></li>
<li><a href="http://metacpan.org/release/App-Prolix">App-Prolix</a></li>
<li><a href="http://metacpan.org/release/Best">Best</a></li>
<li><a href="http://metacpan.org/release/Bundle-Pugs-SmokeKit">Bundle-Pugs-SmokeKit</a></li>
<li><a href="http://metacpan.org/release/Class-Accessor-Ref">Class-Accessor-Ref</a></li>
<li><a href="http://metacpan.org/release/Class-Rebless">Class-Rebless</a></li>
<li><a href="http://metacpan.org/release/Class-TransparentFactory">Class-TransparentFactory</a></li>
<li><a href="http://metacpan.org/release/FFI">FFI</a></li>
<li><a href="http://metacpan.org/release/Perl6-Signature">Perl6-Signature</a></li>
<li><a href="http://metacpan.org/release/Perl6-Take">Perl6-Take</a></li>
<li><a href="http://metacpan.org/release/Task-Smoke">Task-Smoke</a></li>
<li><a href="http://metacpan.org/release/Template-Patch">Template-Patch</a></li>
<li><a href="http://metacpan.org/release/Test-TAP-HTMLMatrix">Test-TAP-HTMLMatrix</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/GENIE">GENIE</a> - Goldin Evgeny<br />
<ul>
<li><a href="http://metacpan.org/release/Tie-LazyList">Tie-LazyList</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/IDOPEREL">IDOPEREL</a> - Ido Perlmuter<br />
<ul>
<li><a href="http://metacpan.org/release/Abilities">Abilities</a></li>
<li><a href="http://metacpan.org/release/Brannigan">Brannigan</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authorization-Abilities">Catalyst-Plugin-Authorization-Abilities</a></li>
<li><a href="http://metacpan.org/release/Catalyst-View-Tenjin">Catalyst-View-Tenjin</a></li>
<li><a href="http://metacpan.org/release/DBIx-Class-InflateColumn-Markup-Unified">DBIx-Class-InflateColumn-Markup-Unified</a></li>
<li><a href="http://metacpan.org/release/Dancer-Session-MongoDB">Dancer-Session-MongoDB</a></li>
<li><a href="http://metacpan.org/release/Dancer-Template-Tenjin">Dancer-Template-Tenjin</a></li>
<li><a href="http://metacpan.org/release/Dist-Zilla-PluginBundle-IDOPEREL">Dist-Zilla-PluginBundle-IDOPEREL</a></li>
<li><a href="http://metacpan.org/release/Entities">Entities</a></li>
<li><a href="http://metacpan.org/release/Giddy">Giddy</a></li>
<li><a href="http://metacpan.org/release/Homer">Homer</a></li>
<li><a href="http://metacpan.org/release/Leyland">Leyland</a></li>
<li><a href="http://metacpan.org/release/Lingua-EN-Titlecase-Simple">Lingua-EN-Titlecase-Simple</a></li>
<li><a href="http://metacpan.org/release/Locale-Wolowitz">Locale-Wolowitz</a></li>
<li><a href="http://metacpan.org/release/MQUL">MQUL</a></li>
<li><a href="http://metacpan.org/release/Markup-Unified">Markup-Unified</a></li>
<li><a href="http://metacpan.org/release/McBain">McBain</a></li>
<li><a href="http://metacpan.org/release/McBain-WithGearmanXS">McBain-WithGearmanXS</a></li>
<li><a href="http://metacpan.org/release/McBain-WithPSGI">McBain-WithPSGI</a></li>
<li><a href="http://metacpan.org/release/McBain-WithWebSocket">McBain-WithWebSocket</a></li>
<li><a href="http://metacpan.org/release/McBain-WithZeroMQ">McBain-WithZeroMQ</a></li>
<li><a href="http://metacpan.org/release/MongoDBx-Class">MongoDBx-Class</a></li>
<li><a href="http://metacpan.org/release/MongoDBx-KeyValue">MongoDBx-KeyValue</a></li>
<li><a href="http://metacpan.org/release/MorboDB">MorboDB</a></li>
<li><a href="http://metacpan.org/release/Net-Server-ZMQ">Net-Server-ZMQ</a></li>
<li><a href="http://metacpan.org/release/Plack-App-MCCS">Plack-App-MCCS</a></li>
<li><a href="http://metacpan.org/release/Plack-Middleware-PyeLogger">Plack-Middleware-PyeLogger</a></li>
<li><a href="http://metacpan.org/release/Plack-Session-Store-MongoDB">Plack-Session-Store-MongoDB</a></li>
<li><a href="http://metacpan.org/release/Pye">Pye</a></li>
<li><a href="http://metacpan.org/release/Pye-MongoDB">Pye-MongoDB</a></li>
<li><a href="http://metacpan.org/release/Pye-SQL">Pye-SQL</a></li>
<li><a href="http://metacpan.org/release/Svsh">Svsh</a></li>
<li><a href="http://metacpan.org/release/Tenjin">Tenjin</a></li>
<li><a href="http://metacpan.org/release/Text-SpanningTable">Text-SpanningTable</a></li>
<li><a href="http://metacpan.org/release/WWW-Postmark">WWW-Postmark</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/ISAAC">ISAAC</a> - Issac Goldstand<br />
<ul>
<li><a href="http://metacpan.org/release/Apache-GD-Thumbnail">Apache-GD-Thumbnail</a></li>
<li><a href="http://metacpan.org/release/Apache-UploadMeter">Apache-UploadMeter</a></li>
<li><a href="http://metacpan.org/release/DBIx-Objects">DBIx-Objects</a></li>
<li><a href="http://metacpan.org/release/libapreq">libapreq</a></li>
<li><a href="http://metacpan.org/release/libapreq2">libapreq2</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/MIGO">MIGO</a> - Mikhael Goikhman<br />
<ul>
<li><a href="http://metacpan.org/release/Arch">Arch</a></li>
<li><a href="http://metacpan.org/release/Games-Affenspiel">Games-Affenspiel</a></li>
<li><a href="http://metacpan.org/release/Games-Checkers">Games-Checkers</a></li>
<li><a href="http://metacpan.org/release/SMB">SMB</a></li>
<li><a href="http://metacpan.org/release/wikitext-perl">wikitext-perl</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/NUFFIN">NUFFIN</a> - Yuval Kogman (uploads - not all were originated or are presently maintained by him)<br />
<ul>
<li><a href="http://metacpan.org/release/Algorithm-Dependency-Objects">Algorithm-Dependency-Objects</a></li>
<li><a href="http://metacpan.org/release/AnyEvent-Kanye">AnyEvent-Kanye</a></li>
<li><a href="http://metacpan.org/release/App-Git-SitePerl">App-Git-SitePerl</a></li>
<li><a href="http://metacpan.org/release/App-PersistentSSH">App-PersistentSSH</a></li>
<li><a href="http://metacpan.org/release/B-Hooks-XSUB-CallAsOp">B-Hooks-XSUB-CallAsOp</a></li>
<li><a href="http://metacpan.org/release/B-OPCheck">B-OPCheck</a></li>
<li><a href="http://metacpan.org/release/B-XSUB-Dumber">B-XSUB-Dumber</a></li>
<li><a href="http://metacpan.org/release/BerkeleyDB-Manager">BerkeleyDB-Manager</a></li>
<li><a href="http://metacpan.org/release/CGI-Cookie-Splitter">CGI-Cookie-Splitter</a></li>
<li><a href="http://metacpan.org/release/Cache-Cascade">Cache-Cascade</a></li>
<li><a href="http://metacpan.org/release/Cache-Profile">Cache-Profile</a></li>
<li><a href="http://metacpan.org/release/Cache-Ref">Cache-Ref</a></li>
<li><a href="http://metacpan.org/release/Callback-Cleanup">Callback-Cleanup</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Controller-BindLex">Catalyst-Controller-BindLex</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Controller-LeakTracker">Catalyst-Controller-LeakTracker</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Model-KiokuDB">Catalyst-Model-KiokuDB</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authentication">Catalyst-Plugin-Authentication</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authentication-Credential-HTTP">Catalyst-Plugin-Authentication-Credential-HTTP</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authentication-Credential-TypeKey">Catalyst-Plugin-Authentication-Credential-TypeKey</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authentication-Store-DBIC">Catalyst-Plugin-Authentication-Store-DBIC</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authentication-Store-Htpasswd">Catalyst-Plugin-Authentication-Store-Htpasswd</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authorization-ACL">Catalyst-Plugin-Authorization-ACL</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Authorization-Roles">Catalyst-Plugin-Authorization-Roles</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Cache">Catalyst-Plugin-Cache</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Cache-Store-FastMmap">Catalyst-Plugin-Cache-Store-FastMmap</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Continuation">Catalyst-Plugin-Continuation</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Images">Catalyst-Plugin-Images</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-LeakTracker">Catalyst-Plugin-LeakTracker</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Params-Nested">Catalyst-Plugin-Params-Nested</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session">Catalyst-Plugin-Session</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-Defaults">Catalyst-Plugin-Session-Defaults</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-DynamicExpiry">Catalyst-Plugin-Session-DynamicExpiry</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-PerUser">Catalyst-Plugin-Session-PerUser</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-State-Cookie">Catalyst-Plugin-Session-State-Cookie</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-State-URI">Catalyst-Plugin-Session-State-URI</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-Store-DBI">Catalyst-Plugin-Session-Store-DBI</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-Store-Delegate">Catalyst-Plugin-Session-Store-Delegate</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-Store-FastMmap">Catalyst-Plugin-Session-Store-FastMmap</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-Store-File">Catalyst-Plugin-Session-Store-File</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Session-Store-Memcached">Catalyst-Plugin-Session-Store-Memcached</a></li>
<li><a href="http://metacpan.org/release/Catalyst-Plugin-Snippets">Catalyst-Plugin-Snippets</a></li>
<li><a href="http://metacpan.org/release/Catalyst-View-TT-FunctionGenerator">Catalyst-View-TT-FunctionGenerator</a></li>
<li><a href="http://metacpan.org/release/Check-ISA">Check-ISA</a></li>
<li><a href="http://metacpan.org/release/Class-MethodCache">Class-MethodCache</a></li>
<li><a href="http://metacpan.org/release/Class-Workflow">Class-Workflow</a></li>
<li><a href="http://metacpan.org/release/Config-PackageGlobal-OO">Config-PackageGlobal-OO</a></li>
<li><a href="http://metacpan.org/release/Constant-FromGlobal">Constant-FromGlobal</a></li>
<li><a href="http://metacpan.org/release/Context-Handle">Context-Handle</a></li>
<li><a href="http://metacpan.org/release/Crypt-EAX">Crypt-EAX</a></li>
<li><a href="http://metacpan.org/release/Crypt-Random-Source">Crypt-Random-Source</a></li>
<li><a href="http://metacpan.org/release/Crypt-Random-Source-SSLeay">Crypt-Random-Source-SSLeay</a></li>
<li><a href="http://metacpan.org/release/Crypt-Random-Source-Weak-OpenSSLRand">Crypt-Random-Source-Weak-OpenSSLRand</a></li>
<li><a href="http://metacpan.org/release/Crypt-Random-Source-Weak-openssl">Crypt-Random-Source-Weak-openssl</a></li>
<li><a href="http://metacpan.org/release/Crypt-Util">Crypt-Util</a></li>
<li><a href="http://metacpan.org/release/DBIx-Class-Journal">DBIx-Class-Journal</a></li>
<li><a href="http://metacpan.org/release/Data-Stream-Bulk">Data-Stream-Bulk</a></li>
<li><a href="http://metacpan.org/release/Data-Thunk">Data-Thunk</a></li>
<li><a href="http://metacpan.org/release/Data-UUID-LibUUID">Data-UUID-LibUUID</a></li>
<li><a href="http://metacpan.org/release/Data-Visitor">Data-Visitor</a></li>
<li><a href="http://metacpan.org/release/Devel-ArgNames">Devel-ArgNames</a></li>
<li><a href="http://metacpan.org/release/Devel-Events">Devel-Events</a></li>
<li><a href="http://metacpan.org/release/Devel-Events-Filter-Size">Devel-Events-Filter-Size</a></li>
<li><a href="http://metacpan.org/release/Devel-Events-Generator-ClassPublisher">Devel-Events-Generator-ClassPublisher</a></li>
<li><a href="http://metacpan.org/release/Devel-Events-Objects">Devel-Events-Objects</a></li>
<li><a href="http://metacpan.org/release/Devel-FIXME">Devel-FIXME</a></li>
<li><a href="http://metacpan.org/release/Devel-Gladiator">Devel-Gladiator</a></li>
<li><a href="http://metacpan.org/release/Devel-GlobalDestruction">Devel-GlobalDestruction</a></li>
<li><a href="http://metacpan.org/release/Devel-INC-Sorted">Devel-INC-Sorted</a></li>
<li><a href="http://metacpan.org/release/Devel-PartialDump">Devel-PartialDump</a></li>
<li><a href="http://metacpan.org/release/Devel-STDERR-Indent">Devel-STDERR-Indent</a></li>
<li><a href="http://metacpan.org/release/Devel-StringInfo">Devel-StringInfo</a></li>
<li><a href="http://metacpan.org/release/Devel-Sub-Which">Devel-Sub-Which</a></li>
<li><a href="http://metacpan.org/release/Digest-CMAC">Digest-CMAC</a></li>
<li><a href="http://metacpan.org/release/Directory-Transactional">Directory-Transactional</a></li>
<li><a href="http://metacpan.org/release/Dist-Zilla-PluginBundle-NUFFIN">Dist-Zilla-PluginBundle-NUFFIN</a></li>
<li><a href="http://metacpan.org/release/Github-Import">Github-Import</a></li>
<li><a href="http://metacpan.org/release/HTML-FromANSI">HTML-FromANSI</a></li>
<li><a href="http://metacpan.org/release/Hash-Util-FieldHash-Compat">Hash-Util-FieldHash-Compat</a></li>
<li><a href="http://metacpan.org/release/IO-Handle-Util">IO-Handle-Util</a></li>
<li><a href="http://metacpan.org/release/JSON-RPC-Common">JSON-RPC-Common</a></li>
<li><a href="http://metacpan.org/release/KiokuDB">KiokuDB</a></li>
<li><a href="http://metacpan.org/release/KiokuDB-Backend-BDB">KiokuDB-Backend-BDB</a></li>
<li><a href="http://metacpan.org/release/KiokuDB-Backend-CouchDB">KiokuDB-Backend-CouchDB</a></li>
<li><a href="http://metacpan.org/release/KiokuDB-Backend-DBI">KiokuDB-Backend-DBI</a></li>
<li><a href="http://metacpan.org/release/KiokuDB-Backend-Files">KiokuDB-Backend-Files</a></li>
<li><a href="http://metacpan.org/release/KiokuDB-Cmd">KiokuDB-Cmd</a></li>
<li><a href="http://metacpan.org/release/KiokuX-Model">KiokuX-Model</a></li>
<li><a href="http://metacpan.org/release/KiokuX-Model-Role-Annotations">KiokuX-Model-Role-Annotations</a></li>
<li><a href="http://metacpan.org/release/KiokuX-User">KiokuX-User</a></li>
<li><a href="http://metacpan.org/release/Lexical-SingleAssignment">Lexical-SingleAssignment</a></li>
<li><a href="http://metacpan.org/release/Locale-Handle-Pluggable">Locale-Handle-Pluggable</a></li>
<li><a href="http://metacpan.org/release/Locale-Maketext-Lexicon-Slurp">Locale-Maketext-Lexicon-Slurp</a></li>
<li><a href="http://metacpan.org/release/Log-Dispatch-Binlog">Log-Dispatch-Binlog</a></li>
<li><a href="http://metacpan.org/release/Log-Dispatch-Config-TestLog">Log-Dispatch-Config-TestLog</a></li>
<li><a href="http://metacpan.org/release/Log-Log4perl-Layout-SimpleLayout-Multiline">Log-Log4perl-Layout-SimpleLayout-Multiline</a></li>
<li><a href="http://metacpan.org/release/MPEG-Audio-Frame">MPEG-Audio-Frame</a></li>
<li><a href="http://metacpan.org/release/Magical-Hooker-Decorate">Magical-Hooker-Decorate</a></li>
<li><a href="http://metacpan.org/release/Mail-Summary-Tools">Mail-Summary-Tools</a></li>
<li><a href="http://metacpan.org/release/Method-Specialize">Method-Specialize</a></li>
<li><a href="http://metacpan.org/release/Methods-CheckNames">Methods-CheckNames</a></li>
<li><a href="http://metacpan.org/release/Module-Compile-TT">Module-Compile-TT</a></li>
<li><a href="http://metacpan.org/release/MooseX-App-Cmd">MooseX-App-Cmd</a></li>
<li><a href="http://metacpan.org/release/MooseX-AttributeHelpers">MooseX-AttributeHelpers</a></li>
<li><a href="http://metacpan.org/release/MooseX-Blessed-Reconstruct">MooseX-Blessed-Reconstruct</a></li>
<li><a href="http://metacpan.org/release/MooseX-Clone">MooseX-Clone</a></li>
<li><a href="http://metacpan.org/release/MooseX-Compile">MooseX-Compile</a></li>
<li><a href="http://metacpan.org/release/MooseX-Compile-CLI">MooseX-Compile-CLI</a></li>
<li><a href="http://metacpan.org/release/MooseX-Getopt">MooseX-Getopt</a></li>
<li><a href="http://metacpan.org/release/MooseX-Role-TraitConstructor">MooseX-Role-TraitConstructor</a></li>
<li><a href="http://metacpan.org/release/MooseX-Storage">MooseX-Storage</a></li>
<li><a href="http://metacpan.org/release/MooseX-Types-Authen-Passphrase">MooseX-Types-Authen-Passphrase</a></li>
<li><a href="http://metacpan.org/release/MooseX-Types-DateTime">MooseX-Types-DateTime</a></li>
<li><a href="http://metacpan.org/release/MooseX-Types-Set-Object">MooseX-Types-Set-Object</a></li>
<li><a href="http://metacpan.org/release/MooseX-Types-URI">MooseX-Types-URI</a></li>
<li><a href="http://metacpan.org/release/MooseX-Types-VariantTable">MooseX-Types-VariantTable</a></li>
<li><a href="http://metacpan.org/release/MooseX-YAML">MooseX-YAML</a></li>
<li><a href="http://metacpan.org/release/Mouse">Mouse</a></li>
<li><a href="http://metacpan.org/release/Object-Meta-Plugin">Object-Meta-Plugin</a></li>
<li><a href="http://metacpan.org/release/POE-Component-ResourcePool">POE-Component-ResourcePool</a></li>
<li><a href="http://metacpan.org/release/POE-Component-ResourcePool-Resource-TokenBucket">POE-Component-ResourcePool-Resource-TokenBucket</a></li>
<li><a href="http://metacpan.org/release/POE-Component-Supervisor">POE-Component-Supervisor</a></li>
<li><a href="http://metacpan.org/release/POE-Filter-JSON-Incr">POE-Filter-JSON-Incr</a></li>
<li><a href="http://metacpan.org/release/Package-Relative">Package-Relative</a></li>
<li><a href="http://metacpan.org/release/Pod-Wrap">Pod-Wrap</a></li>
<li><a href="http://metacpan.org/release/Prompt-ReadKey">Prompt-ReadKey</a></li>
<li><a href="http://metacpan.org/release/Runops-Hook">Runops-Hook</a></li>
<li><a href="http://metacpan.org/release/Runops-Trace">Runops-Trace</a></li>
<li><a href="http://metacpan.org/release/Scalar-Defer">Scalar-Defer</a></li>
<li><a href="http://metacpan.org/release/Search-GIN">Search-GIN</a></li>
<li><a href="http://metacpan.org/release/SmartMatch-Sugar">SmartMatch-Sugar</a></li>
<li><a href="http://metacpan.org/release/Sub-Call-Recur">Sub-Call-Recur</a></li>
<li><a href="http://metacpan.org/release/Sub-Call-Tail">Sub-Call-Tail</a></li>
<li><a href="http://metacpan.org/release/Sub-Clone">Sub-Clone</a></li>
<li><a href="http://metacpan.org/release/Sub-SmartMatch">Sub-SmartMatch</a></li>
<li><a href="http://metacpan.org/release/Task-KiokuDB">Task-KiokuDB</a></li>
<li><a href="http://metacpan.org/release/Template-Declare-Anon">Template-Declare-Anon</a></li>
<li><a href="http://metacpan.org/release/Template-Multipass">Template-Multipass</a></li>
<li><a href="http://metacpan.org/release/Template-Plugin-JSON">Template-Plugin-JSON</a></li>
<li><a href="http://metacpan.org/release/Term-VT102-Boundless">Term-VT102-Boundless</a></li>
<li><a href="http://metacpan.org/release/Test-TAP-HTMLMatrix">Test-TAP-HTMLMatrix</a></li>
<li><a href="http://metacpan.org/release/Test-TAP-Model">Test-TAP-Model</a></li>
<li><a href="http://metacpan.org/release/Test-TempDir">Test-TempDir</a></li>
<li><a href="http://metacpan.org/release/Tie-FTP">Tie-FTP</a></li>
<li><a href="http://metacpan.org/release/Tie-RefHash">Tie-RefHash</a></li>
<li><a href="http://metacpan.org/release/Tie-RefHash-Weak">Tie-RefHash-Weak</a></li>
<li><a href="http://metacpan.org/release/Tie-ToObject">Tie-ToObject</a></li>
<li><a href="http://metacpan.org/release/Try-Tiny">Try-Tiny</a></li>
<li><a href="http://metacpan.org/release/UNIVERSAL-isa">UNIVERSAL-isa</a></li>
<li><a href="http://metacpan.org/release/Verby">Verby</a></li>
<li><a href="http://metacpan.org/release/Verby-Action-Template">Verby-Action-Template</a></li>
<li><a href="http://metacpan.org/release/Verby-Action-Untar">Verby-Action-Untar</a></li>
<li><a href="http://metacpan.org/release/WWW-SchneierFacts">WWW-SchneierFacts</a></li>
<li><a href="http://metacpan.org/release/XML-LibXSLT-Easy">XML-LibXSLT-Easy</a></li>
<li><a href="http://metacpan.org/release/XML-SAX-Expat-Incremental">XML-SAX-Expat-Incremental</a></li>
<li><a href="http://metacpan.org/release/XML-SAX-ExpatNB">XML-SAX-ExpatNB</a></li>
<li><a href="http://metacpan.org/release/XS-Object-Magic">XS-Object-Magic</a></li>
<li><a href="http://metacpan.org/release/YAML-LibYAML">YAML-LibYAML</a></li>
<li><a href="http://metacpan.org/release/iPod-Squish">iPod-Squish</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/PETERG">PETERG</a> - Peter Gordon<br />
<ul>
<li><a href="http://metacpan.org/release/JQuery">JQuery</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/PRILUSKYJ">PRILUSKYJ</a> - Jaime Prilusky<br />
<ul>
<li><a href="http://metacpan.org/release/Bio-Maxd">Bio-Maxd</a></li>
<li><a href="http://metacpan.org/release/Bundle-DataMint">Bundle-DataMint</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/RAZINF">RAZINF</a> - Oded S. Resnik<br />
<ul>
<li><a href="http://metacpan.org/release/Data-Password">Data-Password</a></li>
<li><a href="http://metacpan.org/release/HTML-Merge">HTML-Merge</a></li>
<li><a href="http://metacpan.org/release/Term-InKey">Term-InKey</a></li>
<li><a href="http://metacpan.org/release/Tk-Text-Viewer">Tk-Text-Viewer</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/REUVEN">REUVEN</a> - Reuven M. Lerner<br />
<ul>
<li><a href="http://metacpan.org/release/Apache-CodeRed">Apache-CodeRed</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/ROMM">ROMM</a> - Roman M. Parparov<br />
<ul>
<li><a href="http://metacpan.org/release/Chess-FIDE">Chess-FIDE</a></li>
<li><a href="http://metacpan.org/release/Config-Hosts">Config-Hosts</a></li>
<li><a href="http://metacpan.org/release/Net-Whois-IANA">Net-Whois-IANA</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/SEMUELF">SEMUELF</a> - Shmuel Fomberg<br />
<ul>
<li><a href="http://metacpan.org/release/Class-STAF">Class-STAF</a></li>
<li><a href="http://metacpan.org/release/Data-ParseBinary">Data-ParseBinary</a></li>
<li><a href="http://metacpan.org/release/Dist-Surveyor">Dist-Surveyor</a></li>
<li><a href="http://metacpan.org/release/HTTP-Recorder">HTTP-Recorder</a></li>
<li><a href="http://metacpan.org/release/PPI-XS-Tokenizer">PPI-XS-Tokenizer</a></li>
<li><a href="http://metacpan.org/release/STAFService">STAFService</a></li>
<li><a href="http://metacpan.org/release/WWW-Github-Files">WWW-Github-Files</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/SHLOMIF">SHLOMIF</a> - Shlomi Fish<br />
<ul>
<li><a href="http://metacpan.org/release/AI-Pathfinding-OptimizeMultiple">AI-Pathfinding-OptimizeMultiple</a></li>
<li><a href="http://metacpan.org/release/Acme-CPANAuthors-Israeli">Acme-CPANAuthors-Israeli</a></li>
<li><a href="http://metacpan.org/release/Acme-Gosub">Acme-Gosub</a></li>
<li><a href="http://metacpan.org/release/Acme-MetaSyntactic-mlpfim">Acme-MetaSyntactic-mlpfim</a></li>
<li><a href="http://metacpan.org/release/App-Countdown">App-Countdown</a></li>
<li><a href="http://metacpan.org/release/App-Du-Analyze">App-Du-Analyze</a></li>
<li><a href="http://metacpan.org/release/App-ManiacDownloader">App-ManiacDownloader</a></li>
<li><a href="http://metacpan.org/release/App-Notifier-Client">App-Notifier-Client</a></li>
<li><a href="http://metacpan.org/release/App-Notifier-Service">App-Notifier-Service</a></li>
<li><a href="http://metacpan.org/release/App-SVG-Graph">App-SVG-Graph</a></li>
<li><a href="http://metacpan.org/release/App-Sky">App-Sky</a></li>
<li><a href="http://metacpan.org/release/App-Timestamper">App-Timestamper</a></li>
<li><a href="http://metacpan.org/release/App-Timestamper-Format">App-Timestamper-Format</a></li>
<li><a href="http://metacpan.org/release/App-XML-DocBook-Builder">App-XML-DocBook-Builder</a></li>
<li><a href="http://metacpan.org/release/App-intrunningsum">App-intrunningsum</a></li>
<li><a href="http://metacpan.org/release/App-intsum">App-intsum</a></li>
<li><a href="http://metacpan.org/release/Bundle-GimpTest">Bundle-GimpTest</a></li>
<li><a href="http://metacpan.org/release/Bundle-Latemp">Bundle-Latemp</a></li>
<li><a href="http://metacpan.org/release/Bundle-QuadPres">Bundle-QuadPres</a></li>
<li><a href="http://metacpan.org/release/Bundle-Sites-BetterScm">Bundle-Sites-BetterScm</a></li>
<li><a href="http://metacpan.org/release/Bundle-Zavitan">Bundle-Zavitan</a></li>
<li><a href="http://metacpan.org/release/CGI-Application-NetNewsIface">CGI-Application-NetNewsIface</a></li>
<li><a href="http://metacpan.org/release/CPANPLUS-Dist-Fedora">CPANPLUS-Dist-Fedora</a></li>
<li><a href="http://metacpan.org/release/Cache">Cache</a></li>
<li><a href="http://metacpan.org/release/Class-Generate">Class-Generate</a></li>
<li><a href="http://metacpan.org/release/Config-IniFiles">Config-IniFiles</a></li>
<li><a href="http://metacpan.org/release/Devel-LineTrace">Devel-LineTrace</a></li>
<li><a href="http://metacpan.org/release/Digest-JHash">Digest-JHash</a></li>
<li><a href="http://metacpan.org/release/Dist-Man">Dist-Man</a></li>
<li><a href="http://metacpan.org/release/Dist-Zilla-Plugin-Mercurial">Dist-Zilla-Plugin-Mercurial</a></li>
<li><a href="http://metacpan.org/release/Dist-Zilla-Plugin-Test-TrailingSpace">Dist-Zilla-Plugin-Test-TrailingSpace</a></li>
<li><a href="http://metacpan.org/release/Dist-Zilla-Plugin-TestRun">Dist-Zilla-Plugin-TestRun</a></li>
<li><a href="http://metacpan.org/release/Dist-Zilla-PluginBundle-SHLOMIF">Dist-Zilla-PluginBundle-SHLOMIF</a></li>
<li><a href="http://metacpan.org/release/Error">Error</a> (originally by <a href="http://metacpan.org/author/Gbarr/">Graham Barr</a> and later maintained by <a href="http://metacpan.org/author/Uarun/">Arun Kumar U</a> - now co-maintained by <a href="http://metacpan.org/author/Pevans/">Paul Evans</a>)</li>
<li><a href="http://metacpan.org/release/File-Dir-Dumper">File-Dir-Dumper</a></li>
<li><a href="http://metacpan.org/release/File-Find-Object">File-Find-Object</a> (originally by <a href="http://metacpan.org/author/Nanardon/">Olivier Thauvin</a>)</li>
<li><a href="http://metacpan.org/release/File-Find-Object-Rule">File-Find-Object-Rule</a></li>
<li><a href="http://metacpan.org/release/File-Find-Object-Rule-MMagic">File-Find-Object-Rule-MMagic</a></li>
<li><a href="http://metacpan.org/release/File-Find-Object-Rule-VCS">File-Find-Object-Rule-VCS</a></li>
<li><a href="http://metacpan.org/release/File-Format-CRD">File-Format-CRD</a></li>
<li><a href="http://metacpan.org/release/File-Remove">File-Remove</a></li>
<li><a href="http://metacpan.org/release/Games-ABC_Path-Generator">Games-ABC_Path-Generator</a></li>
<li><a href="http://metacpan.org/release/Games-ABC_Path-Solver">Games-ABC_Path-Solver</a></li>
<li><a href="http://metacpan.org/release/Games-LMSolve">Games-LMSolve</a></li>
<li><a href="http://metacpan.org/release/Games-Solitaire-BlackHole-Solver">Games-Solitaire-BlackHole-Solver</a></li>
<li><a href="http://metacpan.org/release/Games-Solitaire-Verify">Games-Solitaire-Verify</a></li>
<li><a href="http://metacpan.org/release/Graph-Easy">Graph-Easy</a></li>
<li><a href="http://metacpan.org/release/Graph-Easy-As_svg">Graph-Easy-As_svg</a></li>
<li><a href="http://metacpan.org/release/HTML-Latemp-GenMakeHelpers">HTML-Latemp-GenMakeHelpers</a></li>
<li><a href="http://metacpan.org/release/HTML-Latemp-NavLinks-GenHtml">HTML-Latemp-NavLinks-GenHtml</a></li>
<li><a href="http://metacpan.org/release/HTML-Latemp-News">HTML-Latemp-News</a></li>
<li><a href="http://metacpan.org/release/HTML-Links-Localize">HTML-Links-Localize</a></li>
<li><a href="http://metacpan.org/release/HTML-Spelling-Site">HTML-Spelling-Site</a></li>
<li><a href="http://metacpan.org/release/HTML-Strip-Whitespace">HTML-Strip-Whitespace</a></li>
<li><a href="http://metacpan.org/release/HTML-TabbedExamples-Generate">HTML-TabbedExamples-Generate</a></li>
<li><a href="http://metacpan.org/release/HTML-Widgets-NavMenu">HTML-Widgets-NavMenu</a></li>
<li><a href="http://metacpan.org/release/HTML-Widgets-NavMenu-ToJSON">HTML-Widgets-NavMenu-ToJSON</a></li>
<li><a href="http://metacpan.org/release/IO-Socket-INET6">IO-Socket-INET6</a></li>
<li><a href="http://metacpan.org/release/Inline-Ruby">Inline-Ruby</a></li>
<li><a href="http://metacpan.org/release/Mail-LMLM">Mail-LMLM</a></li>
<li><a href="http://metacpan.org/release/Math-Cephes">Math-Cephes</a></li>
<li><a href="http://metacpan.org/release/Math-FFT">Math-FFT</a></li>
<li><a href="http://metacpan.org/release/Math-GMP">Math-GMP</a></li>
<li><a href="http://metacpan.org/release/Math-GrahamFunction">Math-GrahamFunction</a></li>
<li><a href="http://metacpan.org/release/Math-RNG-Microsoft">Math-RNG-Microsoft</a></li>
<li><a href="http://metacpan.org/release/MediaWiki-CleanupHTML">MediaWiki-CleanupHTML</a></li>
<li><a href="http://metacpan.org/release/Module-Format">Module-Format</a></li>
<li><a href="http://metacpan.org/release/Net-SeedServe">Net-SeedServe</a></li>
<li><a href="http://metacpan.org/release/Object-Declare">Object-Declare</a></li>
<li><a href="http://metacpan.org/release/PDL-Lib-Linear-Solve">PDL-Lib-Linear-Solve</a></li>
<li><a href="http://metacpan.org/release/PerlIO-eol">PerlIO-eol</a></li>
<li><a href="http://metacpan.org/release/Pod-Weaver-Section-Support">Pod-Weaver-Section-Support</a></li>
<li><a href="http://metacpan.org/release/SDLx-Betweener">SDLx-Betweener</a></li>
<li><a href="http://metacpan.org/release/SQ">SQ</a></li>
<li><a href="http://metacpan.org/release/SVN-Pusher">SVN-Pusher</a></li>
<li><a href="http://metacpan.org/release/SVN-RaWeb-Light">SVN-RaWeb-Light</a></li>
<li><a href="http://metacpan.org/release/Spork-Shlomify">Spork-Shlomify</a></li>
<li><a href="http://metacpan.org/release/Statistics-Descriptive">Statistics-Descriptive</a> (originally by <a href="http://metacpan.org/author/Colink/">Colin Kuskie</a>)</li>
<li><a href="http://metacpan.org/release/String-Random">String-Random</a></li>
<li><a href="http://metacpan.org/release/Task-BeLike-SHLOMIF">Task-BeLike-SHLOMIF</a></li>
<li><a href="http://metacpan.org/release/Task-FreecellSolver-Testing">Task-FreecellSolver-Testing</a></li>
<li><a href="http://metacpan.org/release/Task-Latemp">Task-Latemp</a></li>
<li><a href="http://metacpan.org/release/Task-Sites-ShlomiFish">Task-Sites-ShlomiFish</a></li>
<li><a href="http://metacpan.org/release/Task-Test-Run-AllPlugins">Task-Test-Run-AllPlugins</a></li>
<li><a href="http://metacpan.org/release/Template-Preprocessor-TTML">Template-Preprocessor-TTML</a></li>
<li><a href="http://metacpan.org/release/Template-Stash-AutoEscaping">Template-Stash-AutoEscaping</a></li>
<li><a href="http://metacpan.org/release/Term-Shell">Term-Shell</a></li>
<li><a href="http://metacpan.org/release/Test-Count">Test-Count</a></li>
<li><a href="http://metacpan.org/release/Test-Data-Split">Test-Data-Split</a></li>
<li><a href="http://metacpan.org/release/Test-HTML-Recursive-DeprecatedTags">Test-HTML-Recursive-DeprecatedTags</a></li>
<li><a href="http://metacpan.org/release/Test-HTML-Tidy-Recursive">Test-HTML-Tidy-Recursive</a></li>
<li><a href="http://metacpan.org/release/Test-Run">Test-Run</a></li>
<li><a href="http://metacpan.org/release/Test-Run-CmdLine">Test-Run-CmdLine</a></li>
<li><a href="http://metacpan.org/release/Test-Run-Plugin-AlternateInterpreters">Test-Run-Plugin-AlternateInterpreters</a></li>
<li><a href="http://metacpan.org/release/Test-Run-Plugin-BreakOnFailure">Test-Run-Plugin-BreakOnFailure</a></li>
<li><a href="http://metacpan.org/release/Test-Run-Plugin-CollectStats">Test-Run-Plugin-CollectStats</a></li>
<li><a href="http://metacpan.org/release/Test-Run-Plugin-ColorFileVerdicts">Test-Run-Plugin-ColorFileVerdicts</a></li>
<li><a href="http://metacpan.org/release/Test-Run-Plugin-ColorSummary">Test-Run-Plugin-ColorSummary</a></li>
<li><a href="http://metacpan.org/release/Test-Run-Plugin-FailSummaryComponents">Test-Run-Plugin-FailSummaryComponents</a></li>
<li><a href="http://metacpan.org/release/Test-Run-Plugin-TrimDisplayedFilenames">Test-Run-Plugin-TrimDisplayedFilenames</a></li>
<li><a href="http://metacpan.org/release/Test-RunValgrind">Test-RunValgrind</a></li>
<li><a href="http://metacpan.org/release/Test-TrailingSpace">Test-TrailingSpace</a></li>
<li><a href="http://metacpan.org/release/Test-WWW-Mechanize-LibXML">Test-WWW-Mechanize-LibXML</a></li>
<li><a href="http://metacpan.org/release/Test-WWW-Mechanize-Mojo">Test-WWW-Mechanize-Mojo</a></li>
<li><a href="http://metacpan.org/release/Test-XML-Ordered">Test-XML-Ordered</a></li>
<li><a href="http://metacpan.org/release/Text-Aligner">Text-Aligner</a></li>
<li><a href="http://metacpan.org/release/Text-Format">Text-Format</a></li>
<li><a href="http://metacpan.org/release/Text-Sprintf-Named">Text-Sprintf-Named</a></li>
<li><a href="http://metacpan.org/release/Text-Table">Text-Table</a></li>
<li><a href="http://metacpan.org/release/Text-WrapAsUtf8">Text-WrapAsUtf8</a></li>
<li><a href="http://metacpan.org/release/WWW-Form">WWW-Form</a> (originally by <a href="http://metacpan.org/author/Bschmau/">Benjamin Schmaus</a>)</li>
<li><a href="http://metacpan.org/release/WWW-LinkChecker-Internal">WWW-LinkChecker-Internal</a></li>
<li><a href="http://metacpan.org/release/WWW-OpenSVN">WWW-OpenSVN</a></li>
<li><a href="http://metacpan.org/release/WWW-REST">WWW-REST</a></li>
<li><a href="http://metacpan.org/release/WWW-Search-AOL">WWW-Search-AOL</a></li>
<li><a href="http://metacpan.org/release/WWW-Search-MSN">WWW-Search-MSN</a></li>
<li><a href="http://metacpan.org/release/WebService-Gyazo-B">WebService-Gyazo-B</a></li>
<li><a href="http://metacpan.org/release/XML-Amazon">XML-Amazon</a></li>
<li><a href="http://metacpan.org/release/XML-CompareML">XML-CompareML</a></li>
<li><a href="http://metacpan.org/release/XML-Grammar-Fiction">XML-Grammar-Fiction</a></li>
<li><a href="http://metacpan.org/release/XML-Grammar-Fortune">XML-Grammar-Fortune</a></li>
<li><a href="http://metacpan.org/release/XML-Grammar-Fortune-Synd">XML-Grammar-Fortune-Synd</a></li>
<li><a href="http://metacpan.org/release/XML-Grammar-ProductsSyndication">XML-Grammar-ProductsSyndication</a></li>
<li><a href="http://metacpan.org/release/XML-Grammar-Vered">XML-Grammar-Vered</a></li>
<li><a href="http://metacpan.org/release/XML-GrammarBase">XML-GrammarBase</a></li>
<li><a href="http://metacpan.org/release/XML-LibXML">XML-LibXML</a></li>
<li><a href="http://metacpan.org/release/XML-LibXSLT">XML-LibXSLT</a></li>
<li><a href="http://metacpan.org/release/XML-RSS">XML-RSS</a> (originally by other authors. Also see <a href="http://www.perlfoundation.org/may_2_2007_xml_rss_cleanup_grant_completed_final_report">the XML::RSS cleanup grant final report</a>.)</li>
<li><a href="http://metacpan.org/release/XML-SemanticDiff">XML-SemanticDiff</a> (originally by <a href="http://metacpan.org/author/Khampton/">Kip Hampton</a>)</li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/SHLOMOY">SHLOMOY</a> - Shlomo Yona<br />
<ul>
<li><a href="http://metacpan.org/release/Lingua-EN-Sentence">Lingua-EN-Sentence</a></li>
<li><a href="http://metacpan.org/release/Lingua-HE-Sentence">Lingua-HE-Sentence</a></li>
<li><a href="http://metacpan.org/release/MILA-Transliterate">MILA-Transliterate</a></li>
<li><a href="http://metacpan.org/release/SuffixTree">SuffixTree</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/SMALYSHEV">SMALYSHEV</a> - Stanislav Malyshev<br />
<ul>
<li><a href="http://metacpan.org/release/Lingua-IW-Logical">Lingua-IW-Logical</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/SZABGAB">SZABGAB</a> - Gabor Szabo<br />
<ul>
<li><a href="http://metacpan.org/release/Array-Unique">Array-Unique</a></li>
<li><a href="http://metacpan.org/release/Authen-PAM">Authen-PAM</a></li>
<li><a href="http://metacpan.org/release/Business-PayPal">Business-PayPal</a></li>
<li><a href="http://metacpan.org/release/CAM-PDF-Annot">CAM-PDF-Annot</a></li>
<li><a href="http://metacpan.org/release/CGI-FileManager">CGI-FileManager</a></li>
<li><a href="http://metacpan.org/release/CGI-Simple">CGI-Simple</a></li>
<li><a href="http://metacpan.org/release/CGI-Upload">CGI-Upload</a></li>
<li><a href="http://metacpan.org/release/CPAN-Digger">CPAN-Digger</a></li>
<li><a href="http://metacpan.org/release/CPAN-Porters">CPAN-Porters</a></li>
<li><a href="http://metacpan.org/release/CPAN-Test-Dummy-SCO-Lacks">CPAN-Test-Dummy-SCO-Lacks</a></li>
<li><a href="http://metacpan.org/release/CPAN-Test-Dummy-SCO-Missing">CPAN-Test-Dummy-SCO-Missing</a></li>
<li><a href="http://metacpan.org/release/CPAN-Test-Dummy-SCO-Pirated">CPAN-Test-Dummy-SCO-Pirated</a></li>
<li><a href="http://metacpan.org/release/CPAN-Test-Dummy-SCO-Special">CPAN-Test-Dummy-SCO-Special</a></li>
<li><a href="http://metacpan.org/release/CPANTestDummySCOMissing">CPANTestDummySCOMissing</a></li>
<li><a href="http://metacpan.org/release/Class-Base">Class-Base</a></li>
<li><a href="http://metacpan.org/release/Class-Date">Class-Date</a></li>
<li><a href="http://metacpan.org/release/Code-Explain">Code-Explain</a></li>
<li><a href="http://metacpan.org/release/Dwimmer">Dwimmer</a></li>
<li><a href="http://metacpan.org/release/File-Open-OOP">File-Open-OOP</a></li>
<li><a href="http://metacpan.org/release/File-Tools">File-Tools</a></li>
<li><a href="http://metacpan.org/release/Games-Sudoku-CLI">Games-Sudoku-CLI</a></li>
<li><a href="http://metacpan.org/release/Locale-Msgfmt">Locale-Msgfmt</a></li>
<li><a href="http://metacpan.org/release/Markua-Parser">Markua-Parser</a></li>
<li><a href="http://metacpan.org/release/Math-RPN">Math-RPN</a></li>
<li><a href="http://metacpan.org/release/MetaCPAN-Clients">MetaCPAN-Clients</a></li>
<li><a href="http://metacpan.org/release/Module-Packaged-Report">Module-Packaged-Report</a></li>
<li><a href="http://metacpan.org/release/PPIx-EditorTools">PPIx-EditorTools</a></li>
<li><a href="http://metacpan.org/release/Padre-Plugin-CommandLine">Padre-Plugin-CommandLine</a></li>
<li><a href="http://metacpan.org/release/Padre-Plugin-Kate">Padre-Plugin-Kate</a></li>
<li><a href="http://metacpan.org/release/Padre-Plugin-Parrot">Padre-Plugin-Parrot</a></li>
<li><a href="http://metacpan.org/release/Padre-Plugin-Vi">Padre-Plugin-Vi</a></li>
<li><a href="http://metacpan.org/release/Parse-Fedora-Packages">Parse-Fedora-Packages</a></li>
<li><a href="http://metacpan.org/release/Parse-Functions">Parse-Functions</a></li>
<li><a href="http://metacpan.org/release/Perl6-Cookbook">Perl6-Cookbook</a></li>
<li><a href="http://metacpan.org/release/Pipe">Pipe</a></li>
<li><a href="http://metacpan.org/release/Pipe-Tube-Csv">Pipe-Tube-Csv</a></li>
<li><a href="http://metacpan.org/release/Pod-Tree">Pod-Tree</a></li>
<li><a href="http://metacpan.org/release/Syntax-Highlight-Engine-Kate">Syntax-Highlight-Engine-Kate</a></li>
<li><a href="http://metacpan.org/release/Task-DWIM-Linux">Task-DWIM-Linux</a></li>
<li><a href="http://metacpan.org/release/Task-Litmus">Task-Litmus</a></li>
<li><a href="http://metacpan.org/release/Task-Munin">Task-Munin</a></li>
<li><a href="http://metacpan.org/release/Task-Test">Task-Test</a></li>
<li><a href="http://metacpan.org/release/Term-ReadPassword">Term-ReadPassword</a></li>
<li><a href="http://metacpan.org/release/Term-ReadPassword-Win32">Term-ReadPassword-Win32</a></li>
<li><a href="http://metacpan.org/release/Test-CircularDependencies">Test-CircularDependencies</a></li>
<li><a href="http://metacpan.org/release/Test-Snapshots">Test-Snapshots</a></li>
<li><a href="http://metacpan.org/release/Text-MediawikiFormat">Text-MediawikiFormat</a></li>
<li><a href="http://metacpan.org/release/Text-SmartLinks">Text-SmartLinks</a></li>
<li><a href="http://metacpan.org/release/Text-Trac">Text-Trac</a></li>
<li><a href="http://metacpan.org/release/Time-Warp">Time-Warp</a></li>
<li><a href="http://metacpan.org/release/WWW-AdServer">WWW-AdServer</a></li>
<li><a href="http://metacpan.org/release/WWW-Gittip">WWW-Gittip</a></li>
<li><a href="http://metacpan.org/release/WWW-SmartSheet">WWW-SmartSheet</a></li>
<li><a href="http://metacpan.org/release/Web-Feed">Web-Feed</a></li>
<li><a href="http://metacpan.org/release/WebService-GData">WebService-GData</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/XSAWYERX">XSAWYERX</a> - Sawyer X<br />
<ul>
<li><a href="http://metacpan.org/release/Acme-rafl-Everywhere">Acme-rafl-Everywhere</a></li>
<li><a href="http://metacpan.org/release/Algorithm-Diff-Callback">Algorithm-Diff-Callback</a></li>
<li><a href="http://metacpan.org/release/AnyEvent-EC2-Tiny">AnyEvent-EC2-Tiny</a></li>
<li><a href="http://metacpan.org/release/AnyEvent-Eris">AnyEvent-Eris</a></li>
<li><a href="http://metacpan.org/release/AnyEvent-SIP">AnyEvent-SIP</a></li>
<li><a href="http://metacpan.org/release/App-Genpass">App-Genpass</a></li>
<li><a href="http://metacpan.org/release/App-UnANSI">App-UnANSI</a></li>
<li><a href="http://metacpan.org/release/App-cpang">App-cpang</a></li>
<li><a href="http://metacpan.org/release/Authorize-Rule">Authorize-Rule</a></li>
<li><a href="http://metacpan.org/release/Coat">Coat</a></li>
<li><a href="http://metacpan.org/release/Dancer">Dancer</a></li>
<li><a href="http://metacpan.org/release/Dancer-Logger-ConsoleSpinner">Dancer-Logger-ConsoleSpinner</a></li>
<li><a href="http://metacpan.org/release/Dancer-Plugin-Auth-RBAC">Dancer-Plugin-Auth-RBAC</a></li>
<li><a href="http://metacpan.org/release/Dancer-Plugin-Authorize">Dancer-Plugin-Authorize</a></li>
<li><a href="http://metacpan.org/release/Dancer-Serializer-UUEncode">Dancer-Serializer-UUEncode</a></li>
<li><a href="http://metacpan.org/release/Dancer-Session-JSON">Dancer-Session-JSON</a></li>
<li><a href="http://metacpan.org/release/Dancer-Session-KiokuDB">Dancer-Session-KiokuDB</a></li>
<li><a href="http://metacpan.org/release/Dancer-Session-Memcached">Dancer-Session-Memcached</a></li>
<li><a href="http://metacpan.org/release/Dancer-Template-Tiny">Dancer-Template-Tiny</a></li>
<li><a href="http://metacpan.org/release/Dancer2">Dancer2</a></li>
<li><a href="http://metacpan.org/release/Dancer2-Plugin-Ajax">Dancer2-Plugin-Ajax</a></li>
<li><a href="http://metacpan.org/release/Dancer2-Plugin-Auth-Tiny">Dancer2-Plugin-Auth-Tiny</a></li>
<li><a href="http://metacpan.org/release/Dancer2-Plugin-ParamTypes">Dancer2-Plugin-ParamTypes</a></li>
<li><a href="http://metacpan.org/release/Dancer2-Serializer-CBOR">Dancer2-Serializer-CBOR</a></li>
<li><a href="http://metacpan.org/release/Data-Collector">Data-Collector</a></li>
<li><a href="http://metacpan.org/release/Data-PowerSet-Hash">Data-PowerSet-Hash</a></li>
<li><a href="http://metacpan.org/release/Dist-Zilla-Plugin-EmailNotify">Dist-Zilla-Plugin-EmailNotify</a></li>
<li><a href="http://metacpan.org/release/Git-Flux">Git-Flux</a></li>
<li><a href="http://metacpan.org/release/HTTP-Headers-Fast-XS">HTTP-Headers-Fast-XS</a></li>
<li><a href="http://metacpan.org/release/HTTP-XSHeaders">HTTP-XSHeaders</a></li>
<li><a href="http://metacpan.org/release/Juno">Juno</a></li>
<li><a href="http://metacpan.org/release/Log-Dispatch-Screen-Gentoo">Log-Dispatch-Screen-Gentoo</a></li>
<li><a href="http://metacpan.org/release/MetaCPAN-API">MetaCPAN-API</a></li>
<li><a href="http://metacpan.org/release/Module-Starter">Module-Starter</a></li>
<li><a href="http://metacpan.org/release/Module-Version">Module-Version</a></li>
<li><a href="http://metacpan.org/release/MooseX-Role-Loggable">MooseX-Role-Loggable</a></li>
<li><a href="http://metacpan.org/release/Net-IPAddress-Minimal">Net-IPAddress-Minimal</a></li>
<li><a href="http://metacpan.org/release/Net-WOT">Net-WOT</a></li>
<li><a href="http://metacpan.org/release/POE-Component-OpenSSH">POE-Component-OpenSSH</a></li>
<li><a href="http://metacpan.org/release/POE-Test-Helpers">POE-Test-Helpers</a></li>
<li><a href="http://metacpan.org/release/Path-Hilbert-XS">Path-Hilbert-XS</a></li>
<li><a href="http://metacpan.org/release/PathTools">PathTools</a></li>
<li><a href="http://metacpan.org/release/Perl-Critic-Policy-ValuesAndExpressions-ProhibitSingleArgArraySlice">Perl-Critic-Policy-ValuesAndExpressions-ProhibitSingleArgArraySlice</a></li>
<li><a href="http://metacpan.org/release/Perl-Critic-Policy-Variables-ProhibitLoopOnHash">Perl-Critic-Policy-Variables-ProhibitLoopOnHash</a></li>
<li><a href="http://metacpan.org/release/Perlbal-Plugin-ExpandSSL">Perlbal-Plugin-ExpandSSL</a></li>
<li><a href="http://metacpan.org/release/Perlbal-Plugin-ForwardedFor">Perlbal-Plugin-ForwardedFor</a></li>
<li><a href="http://metacpan.org/release/Perlbal-Plugin-SessionAffinity">Perlbal-Plugin-SessionAffinity</a></li>
<li><a href="http://metacpan.org/release/Plack-Middleware-NoMultipleSlashes">Plack-Middleware-NoMultipleSlashes</a></li>
<li><a href="http://metacpan.org/release/RBAC-Tiny">RBAC-Tiny</a></li>
<li><a href="http://metacpan.org/release/Ref-Util">Ref-Util</a></li>
<li><a href="http://metacpan.org/release/Ref-Util-Rewriter">Ref-Util-Rewriter</a></li>
<li><a href="http://metacpan.org/release/Ref-Util-XS">Ref-Util-XS</a></li>
<li><a href="http://metacpan.org/release/Search-GIN">Search-GIN</a></li>
<li><a href="http://metacpan.org/release/Sys-HostIP">Sys-HostIP</a></li>
<li><a href="http://metacpan.org/release/Task-Dancer">Task-Dancer</a></li>
<li><a href="http://metacpan.org/release/Template-Plugin-xkcd">Template-Plugin-xkcd</a></li>
<li><a href="http://metacpan.org/release/Test-DNS">Test-DNS</a></li>
<li><a href="http://metacpan.org/release/Test-Ping">Test-Ping</a></li>
<li><a href="http://metacpan.org/release/Test-SFTP">Test-SFTP</a></li>
<li><a href="http://metacpan.org/release/WWW-FMyLife">WWW-FMyLife</a></li>
<li><a href="http://metacpan.org/release/WWW-xkcd">WWW-xkcd</a></li>
<li><a href="http://metacpan.org/release/if">if</a></li>
<li><a href="http://metacpan.org/release/perl">perl</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/YOSEFM">YOSEFM</a> - Yosef Meller<br />
<ul>
<li><a href="http://metacpan.org/release/HTML-Widget-SideBar">HTML-Widget-SideBar</a></li>
<li><a href="http://metacpan.org/release/Javascript-Menu">Javascript-Menu</a></li>
<li><a href="http://metacpan.org/release/Javascript-Menu-Full">Javascript-Menu-Full</a></li>
<li><a href="http://metacpan.org/release/Tree-Numbered">Tree-Numbered</a></li>
<li><a href="http://metacpan.org/release/Tree-Numbered-DB">Tree-Numbered-DB</a></li>
</ul>
</li>
<li>
<a href="http://metacpan.org/author/SCHOP">SCHOP</a> - Ariel Brosh (R.I.P.)<br />
<ul>
<li><a href="http://metacpan.org/release/Data-ACL">Data-ACL</a></li>
<li><a href="http://metacpan.org/release/Data-Direct">Data-Direct</a></li>
<li><a href="http://metacpan.org/release/Data-ENAML">Data-ENAML</a></li>
<li><a href="http://metacpan.org/release/Data-JavaScript">Data-JavaScript</a></li>
<li><a href="http://metacpan.org/release/File-FTS">File-FTS</a></li>
<li><a href="http://metacpan.org/release/Geography-Country-Utils">Geography-Country-Utils</a></li>
<li><a href="http://metacpan.org/release/Language-Mumps">Language-Mumps</a></li>
<li><a href="http://metacpan.org/release/Locale-Hebrew">Locale-Hebrew</a></li>
<li><a href="http://metacpan.org/release/Mail-EXPN">Mail-EXPN</a></li>
<li><a href="http://metacpan.org/release/Net-Whois-Raw">Net-Whois-Raw</a></li>
<li><a href="http://metacpan.org/release/Text-Morse">Text-Morse</a></li>
<li><a href="http://metacpan.org/release/Tie-Tools">Tie-Tools</a></li>
<li><a href="http://metacpan.org/release/XML-Conf">XML-Conf</a></li>
<li><a href="http://metacpan.org/release/htpl">htpl</a></li>
</ul>
</li>
      <!-- {END_CPAN} -->
      </ul>
