
      <h1 id="learn">Learning Perl</h1>
      <p>
         The following list presents several (local) resources that one can use to
    get help about Perl.
      </p>
      <dl>
         <dt>Online Tutorials and Guides</dt>
    <dd>
       <ul>
          <li><a href="http://perlmaven.com/perl-tutorial">Perl Tutorial</a> by Gabor Szabo</li>
          <li>
             <a href="http://vipe.technion.ac.il/~shlomif/lecture/Perl/Newbies/">
        Perl for Perl Newbies Lecture Series</a>, by Shlomi Fish
          </li>
          <li>
             <a href="http://imagic.weizmann.ac.il/~dov/gimp/perl-tut.html">
             A Tutorial for Perl GIMP Users</a>, by Dov (Peter) Grobgeld
          </li>
          <li>
             <a href="http://www.shmuelfomberg.com/perlhebtut/">
             Hebrew Perl tutorial</a>, by Semuel Vomberg
          </li>
          <li>
             <a href="http://www.guides.co.il/download.php?guide=161">
             Regular Expressions in Hebrew</a>, by Shlomi Loubaton
          </li>
       </ul>
    </dd>
         <dt>Books</dt>
    <dd>
       Apart from the many fine books you can lend from
       <a href="library.html">our library</a>, there are also several free online
       books available at the <a href="http://www.perl.org/books/library.html">perl.org
       library</a>.
    </dd>
         <dt>Courses</dt>
    <dd>
       Gabor Szabo <a href="https://szabgab.com/trainig.html/">Perl training</a>.
    </dd>
         <dt>The Human Touch</dt>
    <dd>
       There are several Perl specific mailing lists listed on our
       <a href="mailing_lists.html">mailing lists</a> page. In addition,
       there is also a Hebrew
       <a href="http://www.whatsup.org.il/index.php?name=PNphpBB2&amp;file=viewforum&amp;f=23">
       Programming under Linux web forum</a> on <a href="http://www.whatsup.org.il/">
       Whatsup</a> where you can post Perl related questions.<br />
       Of course, you can always come to our <a href="meetings.html">meetings</a>.
    </dd>
         <dt></dt>
    <dd>
    </dd>
      </dl>

