<h1 id="overview" style="border-top: none; padding-top: 0;">Overview</h1>

<p>
This page lists the various mailing lists hosted on
<a href="http://perl.org.il/">perl.org.il</a>. All of the lists are in
English, so feel free to participate even
if you don't speak Hebrew, or live in Israel for that matter :-).
In addition, only list subscribers can post to these lists, so these lists are
spam-free.
<br />
For more details, see the general lists
<a href="http://mail.perl.org.il/mailman/listinfo/">information page</a>.
</p>

<p>
See below for descriptions and links for each mailing list.
</p>

<h1 id="israel.pm">Israel.pm Mailing List</h1>

<p>
This is the main mailing list of the Israeli Perl Mongers, where most
discussions take place. Fairly high volume, but of course there is always the
digest version available.  <br /> To register and for more details, see the <a
href="http://mail.perl.org.il/mailman/listinfo/perl/">information page</a>.  To
browse past messages, see
<a href="http://mail.perl.org.il/pipermail/perl/">the archives</a>.
</p>

<h1 id="jerusalem.pm">Jerusalem.pm Mailing List</h1>

<p>
This is the mailing list of the <a href="http://jerusalem.perl.org.il/">Jerusalem Perl Mongers</a>:
</p>

<ul>
<li>
To register and for more details, see the
<a href="http://mail.perl.org.il/mailman/listinfo/jerusalem/">information
page</a>.
</li>

<li>
To browse past messages, see
<a href="http://mail.perl.org.il/pipermail/jerusalem/">the archives</a>.
</li>
</ul>

<h1 id="rehovot.pm">Rehovot.pm Mailing List</h1>

<p>
The mailing list of the <a href="http://rehovot.pm.org/">Rehovot Perl
Mongers</a> is maintained on the central server of the <a
href="http://pm.org/">Perl Mongers</a>.  <br /> To register and for more
details, see the <a
href="http://mail.pm.org/mailman/listinfo/rehovot-pm/">information page</a>.
To browse past messages, see <a
href="http://mail.pm.org/pipermail/rehovot-pm/">the archives</a>.
</p>

<!--
<h1 id="telfoss">The Tel Aviv Open-Source Club</h1>

<p>
<a href="http://tel.foss.org.il/">The Tel Aviv Open Source Club (TelFOSS)</a>
hosts many Perl-related talks and has <a href="http://www.iglu.org.il/mailing-lists/telaviv-linux-club.html">a mailing list</a>.
</p>

<ul>

<li>
To register and for more information
see <a href="http://hamakor.org.il/cgi-bin/mailman/listinfo/telux">the
information page</a>.
</li>

<li>
For past messages see <a href="http://hamakor.org.il/pipermail/telux/">the
archives</a>.
</li>

</ul>
-->

<h1 id="news">News Announcements Mailing List</h1>

<p>
This mailing list is a very low volume mailing list used to distribute
Israel.pm (and Jm.pm) news and
announcements, mostly meeting announcements. Use if even the digest version of the main
mailing list is too much and you just want to receive news about meetings and such.
</p>

<p>
Note that unlike the other lists, this list is <strong>moderated</strong> -
all posts must first be manually approved by the list moderator.
</p>

<ul>

<li>
To register and for more details, see the
<a href="http://mail.perl.org.il/mailman/listinfo/news/">information page</a>.
</li>

<li>
To browse past messages,
see <a href="http://mail.perl.org.il/pipermail/news/">the archives</a>.
</li>

</ul>

<h1 id="statistics">Statistics</h1>

<p>
The following data was collected from <a
href="http://mail.perl.org.il/pipermail/perl/">the archives</a> of the Israel.pm
mailing list and is known to be inaccurate due to the fact the it is not always
possible to extract from the archives the exact sender. Nontheless, these
numbers accuratly show general trends in the mailing list and are fairly
accurate (to within 10%) regarding absolute numbers (per poster).
</p>

<h3 class="year">2001</h3>

<ul>
<li>In the year 2001 there were a total of 27 posts from 9 people.</li>
<li>The top poster was Gabor, with 33.3% of the posts (yes, a grand total of
9 emails in almost a year :-)</li>
<li>Together, the top 3 posters posted over 70% of all posts in 2001.</li>
</ul>

<h3 class="year">2002</h3>

<ul>
<li>In the year 2002 there were a total of 830 posts from 66 people.<br />
That's a rise of over 3000% in the number of emails sent, and an increase of over 700% in the number
of people participating.
</li>
<li>The top poster was again Gabor, with almost 25% of the posts.</li>
<li>Together, the top 10 posters posted over 70% of all posts in 2002.</li>
</ul>

<h3 class="year">2003</h3>

<ul>

<li>In the year 2003 there were a total of 2889 posts from 145 people.<br />
That's a rise of nearly 350% in the number of emails sent as compared to 2002,
and an increase of nearly 220% in the number of people participating. Still
impressive growth :-)
</li>

<li>The top poster was yet again Gabor, but his share fell to "just" 15.6% of
the posts.</li>

<li>Together, the top 10 posters posted nearly 60% of all posts in 2003,
showing a greater amount of participation by a larger amount of people.  </li>

</ul>

<h3 class="year">2004</h3>

<ul>

<li>In the year 2004 there were a total of 2778 posts from 122 people.<br />
That's a slight drop compared to 2003, but still about 230 emails per month,
which is not too shabby :-) </li>

<li>The top poster was yet again Gabor, with a grand total of 10.8% of the
posts.</li>

<li>Together, the top 10 posters posted nearly 65% of all posts in 2004, so
once again this year the community showed an active participation in the
mailing list.</li>

</ul>

<h3 class="year">2005</h3>

<ul>
<li>we had 85 participants and they sent 1042 posts in 2005.<br />
Thats a big drop in the activity to about 87 mails per month, but its not too bad.</li>
<li>the participant with the most posts is Shlomi Fish with 11.0% of the posts.</li>
<li>the top 10 posters made about 57.5% of the posts.
that means the community was more active then last year.</li>
</ul>

<h3 class="year">2006</h3>

<ul>
<li>we had 77 participants and they sent 790 posts in 2006.<br />
a slight drop from last year</li>
<li>the participant with the most posts is Shlomi Fish with 13.2% of the posts.</li>
<li>the top 10 posters made about 59.9% of the posts.</li>
</ul>

<h3 class="year">2007</h3>

<ul>
<li>we had 66 participants and they sent 953 posts in 2007.</li>
<li>the participant with the most posts is Gabor Szabo with 13.3% of the posts.</li>
<li>the top 10 posters made about 65.1% of the posts.</li>
</ul>

<h3 class="year">2008</h3>

<ul>
<li>we had 63 participants and they sent 654 posts in 2008.</li>
<li>the participant with the most posts is Gabor Szabo with 17.3% of the posts.</li>
<li>the top 10 posters made about 65.6% of the posts.</li>
</ul>

<h3 class="year">2009</h3>

<ul>
<li>we had 57 participants and they sent 825 posts in 2009.</li>
<li>the participant with the most posts is Shlomi Fish with 16.2% of the posts.</li>
<li>the top 10 posters made about 69.2% of the posts</li>
</ul>

<h3 class="year">2010</h3>

<ul>
<li>we had 60 participants and they sent 694 posts in 2010.</li>
<li>the participant with the most posts is Gabor Szabo with 19.0% of the posts.</li>
<li>the top 10 posters made about 72.9% of the posts.</li>
</ul>
<h3 class="year">2011</h3>

<ul>
<li>we had 60 participants and they sent 825 posts in 2011.</li>
<li>the participant with the most posts is Gabor Szabo with 21.3% of the posts.</li>
<li>the top 10 posters made about 72.8% of the posts.</li>
</ul>
