<!--

<h1 id="website">Website Mailing List</h1>
<p>
This mailing list is used for discussions related only to the <a href="http://www.perl.org.il/">
Perl.org.il</a> website development and maintanance.
<br />
To register and for more details, see the
<a href="http://mail.perl.org.il/mailman/listinfo/website/">information page</a>.
To browse past messages,
see <a href="http://mail.perl.org.il/pipermail/website/">the archives</a>.
</p>

<h1 id="website-commit">Website-Commit Mailing List</h1>
<p>
This mailing list receives an update every time the <a href="http://www.perl.org.il/">
Perl.org.il</a> website Subversion sources are changed (i.e. every time an "svn commit"
is done). Subscribe if you wish to know about every little change to the website ;-)
<br />
To register and for more details, see the
<a href="http://mail.perl.org.il/mailman/listinfo/website-commit/">information page</a>.
To browse past messages,
see <a href="http://mail.perl.org.il/pipermail/website-commit/">the archives</a>.
</p>

-->

