<tmpl_include name="header.tmpl">
   <!-- ##### Main Copy ##### -->
   <div id="main-copy">
      <tmpl_if name="homepage">
         <tmpl_include name="index_content.tmpl">
      </tmpl_if>
      <tmpl_if name="about">
         <tmpl_include name="about_content.tmpl">
      </tmpl_if>
      <tmpl_if name="mailing">
         <tmpl_include name="mailing_lists_content.tmpl">
      </tmpl_if>
      <tmpl_if name="meetings">
         <tmpl_include name="meetings_content.tmpl">
      </tmpl_if>
      <tmpl_if name="yapc">
         <tmpl_include name="yapc_content.tmpl">
      </tmpl_if>
      <tmpl_if name="library">
         <tmpl_include name="library_content.tmpl">
      </tmpl_if>
      <tmpl_if name="misc">
         <tmpl_include name="misc_content.tmpl">
      </tmpl_if>
      <tmpl_if name="business">
         <tmpl_include name="business_content.tmpl">
      </tmpl_if>
      <tmpl_if name="error">
         <tmpl_include name="error_content.tmpl">
      </tmpl_if>
      <tmpl_if name="israeliproj">
         <tmpl_include name="israeli-projects_content.tmpl">
      </tmpl_if>
      <tmpl_if name="learnperl">
         <tmpl_include name="learning-perl_content.tmpl">
      </tmpl_if>

   </div>

   <!-- ##### Footer ##### -->
   <tmpl_include name="footer.tmpl">

<!-- Google Analytics start -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12199211-6");
pageTracker._setDomainName(".org.il");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- Google Analytics ends -->

</body>
</html>
