      <h1 id="future_meetings" style="border-top: none; padding-top: 0;">Future Meetings</h1>
      <tmpl_if name="future_meetings">
      <ul>
	  <tmpl_loop name="future_meetings">
	    <li><a href="<tmpl_var name="filename">"><tmpl_var name="title"></a> - <tmpl_var name="comment"></li>
	  </tmpl_loop>
      </ul>
      </tmpl_if>
      <h1 id="about_meetings">About Our Meetings</h1>
<!--
      <p style="text-align: center">
         Meetings Hosted By<br />
         <a href="http://www.d.co.il/"><img src="images/d_logo.png" /></a>
      </p>
-->
      <p>
	 Apart from the mailing list, the main avenue for Israel Perl Mongers for
	 the exchange of information and ideas are the Israel.pm monthly meetings.
	 <br />
	 Since June 2002 we have held regular monthly meetings, usually on the first
	 Thursday of the month. During these meetings we meet, socialize for a while,
	 then we have around 2 presentations about topics that interest us and finally we
	 go to a nearby local cafe/pub to talk some more (and drink beer ;-).
	 <br />
	 The level of the presentations varies a lot - from
	 presentations fit for people who have used been using Perl for only 2 months, to
	 advanced material suitable for experienced programmers.
	 <br />
	 The level of the speakers also varies - for some of them this is the first time
	 they give any kind of presentation, others are experienced trainers. All speakers
	 are volunteers who have agreed to share their knowledge and passion with their
	 fellow Perl Mongers.
	 <br />
	 Lectures can last from 5 minutes ("lightning talks") to 90 minute long talks,
	 and can be a simple "lecture style" presentation, or one with lots of interaction
	 from the audience.
	 <br />
	 In addition to the presentations and the ability to meet and talk face to face with
	 other Perl users.
<!--
     Perl Mongers who attend the meetings may also borrow (and return)
	 books from the <a href="library.html">Israel.pm library</a>.
-->
	 <br />
	 Meetings are announced on our <a href="/mailing_lists.html">mailing lists</a>.
      </p>
      <p>
         <strong>Note:</strong> See the
	 <a href="http://jerusalem.perl.org.il/">Jerusalem.pm site</a>
	 for information about their meetings.
      </p>
      <h1 id="past_meetings">Past Meetings</h1>
      <p>
         Following is a list of past meeting archives, from oldest to last. Click each meeting date
	 to go to that particular meeting's page.
      </p>

<h1 id="telaviv_meeting_2014_05">Tel Aviv Meeting on 28 May, 2014</h1>

<p>
Location: Shenkar College, Room 247 in the "old" building. (Entrance from Anna Frank St.) In Ramat Gan.
</p>

<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>

<p>
Ynon Perek - <b>“The Vim Text Editor for Perl Developers”</b>
</p>

<p>
Editing text takes a lot of time. By using and customising a good text editor,
we can get more work done in less time. In this talk I’m going to take Vim and
show how a Perl developer can get a lot more productive by using it. We’ll
start with a plain out-of-the-box Vim installation and add plugins and
customisations to create a perl oriented workflow.
</p>

<h1 id="telaviv_meeting_2014_03">Tel Aviv Meeting on 26 March, 2014</h1>

<p>
Location: Shenkar College, Room 247 in the "old" building. (Entrance from Anna Frank St.) In Ramat Gan.
</p>

<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>

<p>
<b>Special challenges in Hardware Description Languages.</b> by
Meir Guttman
</p>

<ul>

<li>What's it all about.</li>
<li>The advent of programmable logic.</li>
<li>History.</li>
<li>Parallelism taken to its extreme.</li>
<li>Simulation.</li>
<li>Hardware compilation.</li>

</ul>

<h1 id="telaviv_meeting_2014_02">Tel Aviv Meeting on 26 February, 2014</h1>

<p>
Location: Shenkar College, Room 247 in the "old" building. (Entrance from Anna Frank St.) In Ramat Gan.
</p>

<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>

<p>
<b>Introduction to the Dart Programming language</b> by <a href="http://szabgab.com/">Gabor Szabo</a>
</p>

<p>
<a href="https://www.dartlang.org/">Dart is a programming language</a> developed by Google “to replace JavaScript”.
Gabor is currently <a href="https://code-maven.com/slides/dart-programming/toc">exploring Dart</a> and will share with you what he found.
</p>

<hr>
<h1 id="telaviv_meeting_2014_01">Tel Aviv Meeting on 29 January, 2014</h1>

<p>
Location: Shenkar College, Room 2207 in the "new" building. (Entrance from Yeda-Am St.) In Ramat Gan.
</p>

<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>

<p>
<b>Catalyst - The Perl-based Web-Development Framework</b> by Ynon Perek.
</p>

<p>
<a href="http://www.catalystframework.org/">Catalyst</a> is a web development
framework for Perl.
</p>

<p>
The talk will involve:
</p>

<ul>

<li>A small comparison with other web frameworks (or why you should choose
Catalyst)</li>

<li>Writing a dead simple REST API</li>

<li>Rendering some HTML with Template Toolkit</li>

<li>Integrating with plack</li>

<li>Integrating with DBIx::Class</li>

<li>Questions &amp; Answers</li>

</ul>


<h1 id="telaviv_meeting_2013_12">Tel Aviv Meeting on 18 December, 2013</h1>
<p>
Location: Shenkar College, Room 2103 in "new" building. (Entrance from Yeda-Am St.) In Ramat Gan.
</p>
<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>
<p>
<b>Using Linux and Perl for Testing Hardware</b> by Ori Idan
</p>
<p>
Every electronic circuit must be checked before it is delivered to the
customer. The check should perform a functional test of all the circuit’s
functions. In mass production, an automatic test is a must. In this talk, I
will talk about the implementation of some functional test systems which I have
implemented for several customers. All these systems use Linux as their
operating systems and Perl for the actual tests.
</p>


<h1 id="telaviv_meeting_2013_10">Tel Aviv Meeting on 23 October, 2013</h1>
<p>
Location: Shenkar College, Room 247 (previously known as room 407) in the
building in Anna Frank St. in Ramat Gan.
</p>
<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>
<p>
<b>How to Welcome Strangers to Perl.</b> - Erez Schatz
</p>
<p>
Perl and its subsets and extensions have a very unfriendly to outsiders reputation.
Part of it is intentional, but other arrives from cultural and personal differences
between many in the current communities and those who wish to learn, or get answers
and support in Perl, Perl 5, Modern Perl 5, and the CPAN and its main Projects.
I will attempt to map some of these relations in an attempt that bridge the two sides.
</p>
<p>
<b>Distributed Apps with Gearman</b> - Issac Goldstand
</p>
<p>
<a href="http://www.gearman.org/">Gearman</a> is a framework for writing distributed applications across many
nodes.  It allows you to do work in parallel, load balance processes and
write applications across several programming languages.  In this
presentation we'll learn how to get started writing Gearman-powered
applications in Perl.
</p>

<h1 id="telaviv_meeting_2013_05">Tel Aviv Meeting on 22 May, 2013</h1>
<p>
Location: Shenkar College, 8th Yeda Am street, Ramat Gan, Floor 2, Room 2103 in the new building.
</p>
<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>
<p>
<b>Asynchronous Programming FTW!</b> by Sawyer X
</p>
<p>
The new age is all about non-blocking asynchronous creative responsive
deconstructive refactored decoupled conjectured applications. If you're not on
the event loop wagon loop, you're missing out!
</p>
<p>
What the hell am I talking about? Am I just drunk? How many of the above words
are totally made-up? These questions and more will be answered at this talk!
</p>

<p>
<b>Rx.pl - Reactive Extensions for Perl</b> by Ran Eilam
</p>
<p>
<a href="https://github.com/eilara/Rx.pl">github.com</a>
</p>
<p>
A library for composing async programs. Because writing async code is hard,
but working with Perl lists is easy. Lets turn events into lists, and reap
the benefits:
</p>
<ul>
<li>Elegant async programming without callback nesting, using operators we
  all know from working with Perl lists.</li>
<li>Managing and coordinating events, e.g. start an HTTP request when timeout
  on key press if previous HTTP request was OK and arrived in the last
  10 seconds.</li>
<li>Programming with stream transformations, instead of objects and methods-
  say hello to beautiful functional designs with well defined state and
  side-effects . Replace boring UML diagrams with fun marble diagrams.</li>
<li>Stop writing and rewriting retry, timeout, throttle, buffer, window,
  counters, caching, and aggregate functions for each project. Instead
  create your processes as observables, then enjoy a rich library of
  existing operators.</li>
</ul>

<h1 id="ilpw2013">Slides from ILPW 2013</h1>
<p>
The slides of some of the talks from the <a href="http://act.perl.org.il/ilpw2013/">Israeli Perl Workshop</a>
are available here:
</p>
<ul>
  <li><a href="http://perl.org.il/presentations/Unicode_issues_in_Perl.pdf">Unicode Issues in Perl</a> by Meir Guttman</li>
  <li><a href="http://perl.org.il/presentations/Convert_binary_C2.pdf">Convert::Binary::C</a> by Yossi Itzkovich</li>
  <li><a href="http://perl.org.il/presentations/Convert_binary_C2.pptx">Convert::Binary::C</a> by Yossi Itzkovich</li>
<!--
  <li><a href=""></a></li>
-->
</ul>


<h1 id="telaviv_meeting_2012_11">Tel Aviv Meeting on 28 November, 2012</h1>
<p>
Location: Shenkar College, 8th Yeda Am street, Ramat Gan, Floor 2, Room 2103 in the new building.
</p>
<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>
<p><a href="http://idkn.wordpress.com/">Ido Kanner</a> - <b>binding shared libraries with Perl.</b><br />
Overview of what shared libraries are, and how to bind their functions to Perl.
</p>
<p><a href="http://ynonperek.com/">Ynon Perek</a> - <b>Real Time Web with Pocket::IO</b><br />
The Internet is changing direction. More and more web-sites want to
notify their visitors in real time about changes that happen on the server (for instance, a
different visitor uploaded a photo). A library called Socket IO unifies all the various ways to send
messages from the server to the computers of the visitors and allows the programmer to write an
Internet application that gets updated in real time. vti implemented the library in Perl as Pocket::IO.
</p>
<p>
In this talk, I will present the ideas behind Real Time Web, including code excerpts in Perl which
use the library in order to create interactive sites.
</p>
<p><a href="http://blogs.perl.org/users/sawyer_x/">Sawyer X</a> - <b>Regular Expressions Demystified</b><br />
Do you use Regular Expressions? No? Would you like to? Do you find them complicated or confusing?
Let's try to fix that. A beginner's talk for introducing simple, smart, easy-to-understand Regular Expressions.
</p>


<h1 id="telaviv_meeting_31_October_2012">Tel Aviv Meeting on 31 October, 2012</h1>
<p>
Location: Shenkar College, 8th Yeda Am street, Ramat Gan, Floor 2, Room 2103 in the new building.
</p>
<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>
<p>
<a href="http://www.linkedin.com/pub/pavel-zhytomirsky/28/50b/854">Pavel Zhytomirsky</a> - Writing Selenium automatic tests ( Selenium, WebDriver, TAP, TAP::Harness )
</p>
<p>
<a href="http://meirkriheli.com/">Meir Kriheli</a> - NoSQL Database <a href="http://www.mongodb.org/">MongoDB</a>
</p>
<p>
<a href="http://www.linkedin.com/profile/view?id=17539009">Uri Hartmann</a> - Linux Perl Daemons
</p>




<h1 id="telaviv_meeting_19_September_2012">Tel Aviv Meeting on 19 September, 2012</h1>
<p>
Location: Shenkar College, 8th Yeda Am street, Ramat Gan, Floor 2, Room 2106 in the new building.
</p>
<p>Time: meeting at 18:30, the talks begin at 19:00</p>

<h2>Agenda:</h2>
<p>
<a href="http://ynonperek.com/">Ynon Perek</a>: Meta-Moose (using the meta object, dynamically add methods, play with attributes etc.) (20 min)
</p>
<p>
<a href="http://www.shlomifish.org/">Shlomi Fish</a> will talk about <a href="http://projecteuler.net/">Project Euler</a>
</p>
<p>
Moshe Nahmias introducing the mail stats program.
</p>

<h1 id="telaviv_meeting_29_August_2012">Tel Aviv Meeting on 29 August, 2012</h1>
<p>
Location: Shenkar College, 8th Yeda Am street, Ramat Gan, Floor 2, Room <del>2106</del> 2205 in the Mitchel
building.
</p>
<p>
Time: meeting at 18:30, the talks begin at 19:00
</p>

<h2>Agenda:</h2>
<p>
<a href="http://blogs.perl.org/users/sawyer_x/">Sawyer X</a> - "Practical Perl - Earn your living" or
how make money from parsing a string
</p>
<p>
<a href="http://bruck.co.il/">Uri Bruck</a> - "If Music be the Food of Love, try playing it with Perl." or
MIDI, Musical Instrument Digital Interface, is a standard that enables
computers,
musical instruments and other devices to communicate with each other.
It's not surprising that there's something on cpan for that. We'll look into
various aspects of handling MIDI with Perl, and maybe get
to listen to something nice too
</p>
<p>
Sawyer and Gabor - "Report from YAPC 2012 Europe" or
A lot of weird, geek, strange, funny an awesome stories from the
biggest Perl event
in Europe.
</p>

<h1 id="telaviv_meeting_25_July_2012">Tel Aviv Meeting on 25 July, 2012</h1>
<p>
Location: Shenkar College, 8th Yeda Am street, Ramat Gan, Floor 2, Room 2106.
</p>
<p>
Time: meeting at 18:30, the talks begin at 19:00
</p>
<h2>Agenda:</h2>
<p>
<b>Sawyer X:</b>
</p>

<ul>
<li>FatPacker</li>
<li>Packaging for CPAN</li>
</ul>

<b>Gabor Szabo:</b>

<ul>
<li>Modern Web application development using Perl</li>
</ul>


<h1 id="telaviv_meeting_30_May_2012">Tel Aviv Meeting on 30 May, 2012</h1>
<p>
<b>Ido Kanner: From Client to to execution</b>
The lecture will explain how Redis works, writing a client for it,
what and why it was created, and how to use it in Perl.
</p>
<p>
<b>Shlomi Fish: Perl For Perl Newbies</b>
<a href="http://www.shlomifish.org/lecture/Perl/Newbies/lecture5/">"Perl for Perl Newbies" - Part 5 - Good Programming
Practices</a> and the <a href="http://www.shlomifish.org/lecture/Perl/Newbies/lecture5-heb-notes.html">lecture notes in
Hebrew</a>
</p>

<h1 id="telaviv_meeting_2_May_2012">Tel Aviv Meeting on 2 May, 2012</h1>
<p>
the two extremes of the Perl World
</p>
<p><b><a href="http://ynonperek.com/">Ynon Perek</a>: Perl Golf (15-20 minutes)</b>
</p>
<pre>
sub

b{[@b=(abs||No,bottle."s"x!!++$_,of,beer),on,the,wall]}print

"@{+b},\n@b,\nTake one down, pass it around,\n@{+b}.\n"

for-pop||-99..-1
</pre>
<p>
<a href="https://speakerdeck.com/u/ynonperek/p/perl-golf">Perl Golf slides</a> of Ynon Perek and
the <a href="http://terje2.frox25.no-ip.org/perlgolf_history_070109.pdf">Perl golf book</a> he mentioned during the talk.
</p>

<p><b><a href="http://szabgab.com/">Gabor Szabo</a>: Refactoring Perl code (20-40 minutes)</b><br />
Code refactoring is "disciplined technique for restructuring an existing body of code,
altering its internal structure without changing its external behavior". It is needed
to ensure your code remains readable while growing in size and scope.
</p>
<p>
It is needed if you have some old code base that needs improvement and after every
period of intense development when you "did not have the time to properly design your code".
</p>
<p>
There are several patterns in refactoring, some of them you might already practice without knowing the name.
</p>
<p>
The most obvious is when you use a variable $x and suddenly you realize it could have a more descriptive name.
If you change all the occurances of $x to this better name, without changing anything else in the code, that's already refactoring.
</p>
<p>
We will see several patterns for refactoring Perl code. We see examples doing them manually and we'll try to automate them as well.
</p>
<p><b>Mini Hackathon</b><br />
After the talks we are going to have a mini hackathon, where we are going to work on Perl modules.
If possible, please bring your notebook.
</p>
<p>
We meet at 18:30 and the talks begin at 19:00.
The address is: Shenkar College, main building on Anna Frank street, Ramat Gan, Room 300.
</p>


<h1 id="telaviv_meeting_28_March_2012">Tel Aviv Meeting on 28 March, 2012. At 18:30 in Shenkar</h1>
<p>
<b><a href="http://whatsup.org.il/">Meir Kriheli</a>: Sphinx - Documentation in action</b> (45 min)
<a href="http://meirkriheli.com/talks/sphinx/">slides</a> from the previous version of this talk.
</p>
<p><b><a href="http://szabgab.com/">Gabor Szabo</a>: How to contribute to a CPAN module</b> (30-50 min)
</p>
<ol>
  <li>Pick a module</li>
  <li>Check the bug tracking system</li>
  <li>Find and check-out the source code</li>
  <li>Write a test</li>
  <li>Create a fix</li>
  <li>Send a patch</li>
</ol>

<p>
Then we form groups of 2-3 people and fix bugs in CPAN modules.
We can do this in Spaghettim already.
For this, please bring your notebook or arrange with someone else to share one.
Also, please recommend modules that need their RT queue cleaned up!
</p>
<ul>
<li><a href="https://metacpan.org/module/XML::Feed">XML::Feed</a>.
  See also <a href="http://perlhacks.com/2012/03/xmlfeed/">this post</a></li>
<li><a href="https://metacpan.org/module/SVG">SVG</a> See <a href="http://www.youtube.com/watch?v=y6EzuIe70Zo">the video</a></li>
<li><a href="http://mail.perl.org.il/pipermail/perl/2012-March/012476.html">suggestions by Sawyer</a></li>
</ul>


<p>
We meet at 18:30 and the talks begin at 19:00.
The address is: Shenkar College, main building on Anna Frank street, Ramat Gan, Room 300.
</p>

<h1 id="perl_workshop_in_israel_2012">Perl Workshop in Israel 28-February-2012</h1>
<p>
After 4 years of break the next <a href="http://act.perl.org.il/">Perl Workshop in Israel</a> will take place on
28 February 2012. The web site is already open for registation. We are looking for talks and sponsors.
</p>

<h1 id="telaviv_meeting_28_December_2011">Tel Aviv Meeting on 28 December, 2011</h1>

<p>
<b>Please note the change of venue.</b> This is the building where we started
having TA.pm, and not the one which we used for some of the recent meetings.
</p>

<p>
On 28 December, 2011 (Wednesday), the Tel Aviv Perl Mongers will hold their
monthly meetup, and this time it is going to be special. We meet at 18:30 and the
talks begin at 19:00. The address is: Shenkar College, main building on Anna Frank street, Ramat Gan, Room 300.
</p>

<p>
One can find more details on
<a href="http://telaviv.pm.org/">the web-site</a> of
the Tel Aviv Perl mongers.
</p>

<p>
This meeting will hold the following talks:
</p>

<ul>
<li>
<p>
<b>Visualizing the brain of Vim</b> by Ran Eilam -
You loved him in "Game frameworks with SDL, Moose and Coro", you cried over
his performance in the after-meeting get-togethers, and you will absolutely
adore him in "Visualizing the brain of Vim". All-star legend Ran Eilam will
talk to us (both beginners and experts) about Vim and how to fathom this
incredible beast. I warn you, the first two lines in the audience will be
damaged by Emacs flames.
</p>
</li>

<li>
<p>
<b>A bunch of modules which made sense writing</b> - by Sawyer X:
I'm going to cover some utility modules I've written, why they were written
and when they are useful. At the end, you'll have to judge whether they were
worth writing at all.  There will be voting booths available!
(We'll cover Algorithm::Diff::Callback, App::Genpass, Data::PowerSet::Hash
and Module::Version.)
</p>
</li>

<li>
<p>
<b>To upgrade or not to upgrade, Perl 5.6 vs. Perl 5.14</b> - ik vs. Sawyer X:
A source of great concern in the Perl users community is whether to use an
up-to-date Perl and what version should be considered "too old". On one
hand, we have the management that wants as little cost and changes as possible
(sometimes along with systems administrators), and on the other hand, the
developer who wants to use the latest technologies, and is often
stuck on obsolete systems.
</p>

<p>
In light of this serious consideration, we're going to take turns poking at
each other with a stick, wearing funny hats, damning the unbelievers and
heretics until they submit to one side: 5.6 or 5.14!
</p>

</li>

</ul>

<p>
The entrance to the meeting is free-of-charge, and everyone are welcome to
attend. See you there!
</p>

<h1 id="telaviv_meeting_30_November_2011">Tel Aviv Meeting on 30-November-2011</h1>
<p>
<b>Location:</b>
</p>
<ul>
<li>Building: The main building of <a href="http://www.shenkar.ac.il/home/">Shenkar College</a> on Anna Frank street 12, Ramat Gan.</li>
<li>Room: 300.</li>
<li>Time: 6:30pm get-together, 7:00pm talks begin!</li>
</ul>
<p>
We will be presenting the following talks:
</p>

<h2>Tools of the perl, a quick survey of 4 modules (by Erez Schatz)</h2>
<p>
We will cover four modules that make the life of a  Modern Perl developer much easier than it used to be: local::lib, cpanm,
perlbrew, pm-uninstall.
</p>

<h2>DBIx::Class and ORMs (by Erez Schatz)</h2>
<p>
What is an ORM, why do we need it, and what does DBIx::Class bring to the table for perl programmers at large.
</p>

<h2>Firebird: a database that does not burn your data (by ik)</h2>
<p>
An introduction to the Firebird database and why it is so highly-regarded by those who use it
</p>




      <tmpl_loop name="past_meetings">
	    <h2 id="meetings-<tmpl_var name="year">"><tmpl_var name="year"> Meetings</h2>
		<ul>
		  <tmpl_loop name="meetings">
	        <li><a href="<tmpl_var name="filename">"><tmpl_var ESCAPE=HTML name="title"></a> - <tmpl_var ESCAPE=HTML name="comment"></li>
		  </tmpl_loop>
        </ul>
	  </tmpl_loop>

