   <h1 id="pl_vs_pl" style="border-top: none; padding-top: 0;">Perl vs. perl</h1>
      <p>
         The following discussion is an expansion on a question and answer which can be
         found in the perlfaq1 page of Perl's documentation, namely:<br />
         <q>What's the difference between "perl" and "Perl"?</q><br />
         Sometimes you'll see "Perl" written, with a capital P, sometimes "perl", sometimes
         even <acronym title="Practical Extraction and Reporting Language">PERL</acronym>.<br />
         Confused? Not to worry, Israel.pm to the rescue :-)<br />
         The rules are actually quite simple:
      </p>
      <ul>
         <li>
            "Perl" should be used when one is writing about the language, for example:<br />
            <blockquote cite="http://www.perldoc.com/perl5.8.4/pod/perl.html">
             <p>Perl is a language optimized for scanning arbitrary text files, extracting
             information from those text files, and printing reports based on that
             information. It's also a good language for many system management tasks.
             The language is intended to be practical (easy to use, efficient, complete)
             rather than beautiful (tiny, elegant, minimal).</p>
            </blockquote>
         </li>
         <li>
            "perl" should be used when one is writing about the executable which interprets
            and compiles the Perl code, for example: <q>the <em>perl</em> executable can
            usually be found at <span>/use/bin/perl</span> on Unix/Linux systems, or on
            <span>c:\Perl\bin\perl.exe</span> on Windows systems.</q>
         </li>
         <li>
       The above two usage forms are not rigidly adhered to, even in Perl's
       documentation, but in any case you should <strong>never</strong> use
       "PERL".<br />
       "PERL" is a <a href="http://en.wikipedia.org/wiki/Backronym">backronym</a>, so
       unless you are going to use it as a joke, don't. It is way
       overused and abused, and it is time to put it to rest.
    </li>
      </ul>
      <p>
         There's a famous saying, attributed to
    Tom Christiansen, which says that
         <q>Only perl can parse Perl</q> <br />
    We'll leave you now to ponder these words of wisdom...
      </p>

      <h1 id="learn">Learning Perl</h1>

      <p>
      This section <a href="learning-perl.html">moved to its own dedicated
      page</a>.
      </p>

      <h1 id="material">Material of the Talks</h1>

      <h2 id="present_continue_transcript">Larry Wall's "Present Continuous -
      Future Perfect" Talk Material</h2>

      <p>
         <a href="presentations/larry-wall-present-continuous-future-perfect/transcript.html">The transcript and other material from Larry Wall's "Present
         Continuous - Future Perfect" talk</a> (that was given at
         OSDC::Isreal::2006) is now available. Currently available are the
         slides, an mp3 file containing the recording of the talk, and a
         transcript made by various volunteers.
      </p>

      <h1 id="cpan">CPAN Mirrors</h1>
      <p>
         The following is a list of CPAN Israeli mirrors:
      </p>
      <ul>
         <li>
       <a href="http://biocourse.weizmann.ac.il/CPAN/">Weizmann Institute (http)</a> (Not contained in the official CPAN mirrors list yet but updated daily.)
    </li>
      </ul>

      <h1 id="projects">Perl Projects in Israel</h1>
      <p>
      This moved to <a href="israeli-projects.html">its own dedicated page</a>
      </p>

      <h1 id="who_uses_perl">Who Uses Perl</h1>
      <p>This section was moved to the <a href="/business.html#who_uses_perl">commercial section</a>.</p>

      <h1 id="linkedin">LinkedIn Group for the Israeli Perl Mongers</h1>
     <p><a href="http://www.linkedin.com/">LinkedIn</a> is an on-line service that enables people who
     do not know each other but have a common friend to find each-other and get in touch. The system
     is very <i>business</i> oriented meaning mainly business contacts and employment contacts are encouraged.
     </p>
     <p>As several members of the Israeli Perl Mongers have already used the service and interconnected among themself
     it seems logical to setup a group on LinkedIn. This group will enable even more people to register and to share
     the network of each other even among members who do not personally know each other.
     </p>
     <p>
     We belive that by enableing further networking among our members we'll be able to help potential employers to find
     better Perl programmers and for our members to find better job opportunities. We also belive that having such a group
     might have some positive impact on the acceptance of Perl in the Israeli hi-tech world.
     </p>
     <p>As this is a members only group, it requires both the registration of the user and the approval of the group
     administrator to join.
     In order to use the system you'll have to first
     <a href="https://www.linkedin.com/e/gis/684/72A80766509B/">join LinkedIn and request to join the Israeli Perl Mongers group</a>.
     Then in order to get approved please send an e-mail to <a href="mailto:gabor@perl.org.il">Gabor Szabo</a> as he needs to evaluate
     every membership request.
     Once you are a member you'll be able to network with all the other members in the group and their contacts.
     </p>
     <p><a href="http://www.linkedin.com/"><img src="/images/linkedin_logo_tag_bluebg.gif" alt="Linked In" /></a></p>

