<p class="sideBarTitle">Recommended Sites</p>
<!--
   <li><a href="http://perl.org.il/kwiki/index.cgi">Israel.pm's Wiki</a></li>
   <li><a href="http://jerusalem.perl.org.il/">Jerusalem Perl Mongers</a></li>
-->
<div class="sideBarText">
<a href="https://perlmaven.com/perl-tutorial">Perl tutorial</a>
</div>

<!--
<div class="sideBarText">
<a href="http://perl-tutorial.org/">Perl tutorials</a>
</div>
-->

<div class="sideBarText">
<a href="http://perlweekly.com/">Perl Weekly Newsletter</a>
</div>
<div class="sideBarText">
<a href="http://perl6maven.com/">Perl 6 Maven</a>
</div>


<p class="sideBarTitle">Related Sites</p>

<ul>
   <li><a href="http://metacpan.org/">Search Meta CPAN</a></li>
   <li><a href="http://www.perl6.org/">Perl6</a></li>
   <li><a href="http://www.perl.org/">perl.org - The Perl Directory</a></li>
   <li><a href="http://blogs.perl.org/">blogs Perl;</a></li>
   <li><a href="http://perldoc.perl.org/">Perldoc - Perl Documentation</a></li>
   <li><a href="http://perlsphere.net/">Perl Sphere</a></li>
   <li><a href="http://www.perlfoundation.org/">The Perl Foundation</a></li>
   <li><a href="http://www.perlmonks.org/">Perl Monks</a></li>
   <li><a href="http://www.pm.org/">Perl Mongers</a></li>
</ul>

<ul>
   <li><a href="http://www.hamakor.org.il/">Hamakor</a></li>
   <li><a href="http://penguin.org.il/">Penguin</a></li>
</ul>

