<p class="sideBarTitle">Recommended Sites</p>
<!--
   <li><a href="http://perl.org.il/kwiki/index.cgi">Israel.pm's Wiki</a></li>
   <li><a href="http://jerusalem.perl.org.il/">Jerusalem Perl Mongers</a></li>
-->
<div class="sideBarText">
<a href="https://perlmaven.com/perl-tutorial">Perl tutorial</a>
</div>

<!--
<div class="sideBarText">
<a href="http://perl-tutorial.org/">Perl tutorials</a>
</div>
-->

<div class="sideBarText">
<a href="http://perlweekly.com/">Perl Weekly Newsletter</a>
</div>


<p class="sideBarTitle">Related Sites</p>

<ul>
   <li><a href="https://metacpan.org/">Search Meta CPAN</a></li>
   <li><a href="https://www.perl.org/">perl.org - The Perl Directory</a></li>
   <li><a href="https://blogs.perl.org/">blogs Perl;</a></li>
   <li><a href="https://perldoc.perl.org/">Perldoc - Perl Documentation</a></li>
   <li><a href="https://perl.theplanetarium.org/">Perl Planetarium</a></li>
   <li><a href="https://www.perlfoundation.org/">The Perl Foundation</a></li>
   <li><a href="https://www.perlmonks.org/">Perl Monks</a></li>
   <li><a href="https://www.pm.org/">Perl Mongers</a></li>
</ul>

<ul>
   <li><a href="https://www.hamakor.org.il/">Hamakor</a></li>
</ul>

