   <p class="sideBarTitle">Israel.pm on</p>
   <div class="sideBarText">
   <a href="https://www.linkedin.com/groups/684/" style="text-decoration:none;"><img src="/images/linkedin_32.png"  alt="" style="border:0;width:32px;height:32px;"/></a>
   </div>

   <div class="sideBarText">
   <a href="https://www.linkedin.com/groups/684/">LinkedIn</a>
   </div>

