   <p class="sideBarTitle">Israel.pm on</p>
   <div class="sideBarText">
   <a href="http://www.facebook.com/Israeli.Perl.Mongers" style="text-decoration:none;"><img src="/images/facebook_32x32.png"  alt="" style="border:0;width:32px;height:32px;"/></a>
   </div>
   <div class="sideBarText">
   <!-- Place this tag where you want the badge to render -->
   <a href="https://plus.google.com/105209189901369984525/" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a>
   </div>
   <div class="sideBarText">
   <a href="http://www.linkedin.com/groups?gid=684" style="text-decoration:none;"><img src="/images/linkedin_32.png"  alt="" style="border:0;width:32px;height:32px;"/></a>
   </div>

   <div class="sideBarText">
   <a href="http://www.facebook.com/Israeli.Perl.Mongers">Facebook</a>
   </div>
   <div class="sideBarText">
   <a href="https://plus.google.com/105209189901369984525/">Google+</a>
   </div>
   <div class="sideBarText">
   <a href="http://www.linkedin.com/groups?gid=684">LinkedIn</a>
   </div>

<!--
   <p class="sideBarTitle">News</p>

   <div class="sideBarText">
      <strong>12, December, 2010</strong><br />
      Next meeting of <a href="http://rehovot.pm.org/">Rehovot Perl Mongers</a>
      is on 14 December. See website for details.
   </div>
   <div class="sideBarText">
      <strong>25, October, 2010</strong><br />
      Next meeting of <a href="http://rehovot.pm.org/">Rehovot Perl Mongers</a>
      is on 9th November. See website for details.
   </div>
   <div class="sideBarText">
      <strong>9, October, 2010</strong><br />
      Next meeting of <a href="http://rehovot.pm.org/">Rehovot Perl Mongers</a>
      is on 12 October.
   </div>
   <div class="sideBarText">
      <strong>2 September, 2010</strong><br />
      Shana Tova to the Israeli Perl Mongers and our guests.
   </div>
   <div class="sideBarText">
      <strong>30 December, 2009</strong><br />
      The web site of the Israeli Perl Mongers was moved to a new
      server and it can be updated again.
   </div>
   <div class="sideBarText">
      <strong>28 September, 2007</strong><br />
      We are organising an <a href="http://act.perl.org.il/ilpw2007/">Israeli
      Perl Workshop for 2007</a>.
   </div>
   <div class="sideBarText">
      <strong>8 July, 2007</strong><br />
      Perl jobs in Israel can be found on the newly created
      <a href="http://jobs.perl.org.il">jobs.perl.org.il</a> page.
   </div>
   <div class="sideBarText">
      <strong>28 June, 2005</strong><br />
      New Perl related job posts (all posted recently) added to
      <a href="/business.html">commercial</a> page.
   </div>
   <div class="sideBarText">
      <strong>25 April, 2005</strong><br />
      New projects and CPAN modules by Shlomi Fish added to
      <a href="/misc.html">misc</a> page.
   </div>
   <div class="sideBarText">
      <strong>22 Mar, 2005</strong><br />
      New projects and CPAN modules by Shlomi Fish added to
      <a href="/misc.html">misc</a> page.
   </div>
   <div class="sideBarText">
      <strong>25 Feb, 2005</strong><br />
      2 New Perl related jobs link added to
      <a href="/business.html">commercial</a> page.
   </div>
   <div class="sideBarText">
      <strong>24 Jan, 2005</strong><br />
      New Perl related job link (from F5 Networks) added to
      <a href="/business.html">commercial</a> page.
   </div>
-->

<!--
   <p class="sideBarTitle">Search</p>
   <div class="sideBarText">
      <form action="/exe/google.pl">
         <div><input name="term" size="11" maxlength="255" value=""/><br /></div>
         <div><input type="radio" name="group" value="1"/>On perl.org.il<br /></div>
         <div><input type="radio" name="group" value="2"/>On all Perl sites<br /></div>
         <div><input type="submit" value="Google It!"/></div>
      </form>
   </div>
   <div class="sideBarText">
     <form action="http://www.iglu.org.il/htsearch">
         <div><input name="words" size="11" maxlength="255" value=""/><br /></div>
         <div><input type="submit" value="Dig It!"/></div>
      </form>
   </div>
-->

