      <h1 id="introduction" style="border-top: none; padding-top: 0;">Introduction</h1>
      <p>
         The <a href="http://www.yapc.org/">Yet Another Perl Conferences</a>
         (YAPCs) are grassroots symposia on the Perl programming language, under the auspices
         of <a href="http://www.perlfoundation.org/">The Perl Foundation</a>, which is dedicated
         to the advancement of the Perl programming language through open discussion, collaboration,
         design, and code.
         <br />
         YAPC began as a smaller, less expensive version of
         <a href="http://conference.perl.com/">The Perl Conference</a>
         in the Eastern USA. The idea quickly caught on, and now YAPC
         conferences are routinly organized by local <a href="http://www.pm.org/">Perl Mongers</a>
         in many places- among others: <a href="http://www.yapc.org/America/">North America</a>,
         <a href="http://yapc.mongueurs.net/">Europe</a>,
         <a href="http://www.yapc.ca/">Canada</a> and, since 2003, in Israel.
         <br />
         The Israeli YAPC is organized by the Israeli Perl Mongers. Our aim is to bring together
         practitioners, scholars, students, programmers, researchers and managers from
         different areas to discuss their views on various aspects of the Perl programming language,
         to share knowledge, and to have fun while doing so.
      </p>
      <h1 id="ilpw-2007">Israeli Perl Workshop, 2007</h1>
      <p>
         The <a href="http://act.perl.org.il/ilpw2007/">Perl Workshop in Israel</a> took
         place on 31 December 2007.
      </p>
      <h1 id="yapc-2006">OSDC::Israel::2006</h1>
      <p>
         In 2006 the Perl Conference will be extended to other Open Source technologies.
         Please see the <a href="http://www.osdc.org.il/">conference website</a> for more details.
      </p>
      <h1 id="yapc-2005">YAPC::Israel::2005</h1>
      <p>
         The 2005 Perl Conference in Israel took place on 17 February, 2005.<br />
         Please see the <a href="http://www.perl.org.il/YAPC/2005">conference website</a> for more details
         about the conference.
      </p>
      <h1 id="yapc-2004">YAPC::Israel::2004</h1>
      <p>
         The 2004 Israeli YAPC took place on February 26, 2004. It was very successful, with almost
         100 participants and many interesting lectures.
         <br />
         We would like to thank <a href="http://www.idc.ac.il/">The Interdisciplinary Center Herzliya</a>
     for hosting the conference, as well as the following companies which provided
         sponsorship:
      </p>
      <ul>
         <li><a href="http://www.beyondsecurity.com/">Beyond Security, Ltd.</a></li>
         <li><a href="http://www.activestate.com/">ActiveState</a></li>
         <li><a href="http://www.mcgraw-hill.co.uk/">McGraw-Hill</a></li>
         <li><a href="http://www.focus.co.il/">Focus</a></li>
         <li><a href="http://www.apress.com/">Apress/Springer</a></li>
         <li><a href="http://www.awl.com/">Addison-Wesley (Pearson)</a></li>
         <li><a href="http://www.pti.co.il/">Perl Training Israel, Ltd.</a></li>
      </ul>
      <p>
         For further details about YAPC::Israel::2004 please see the
         <a href="YAPC/2004/">conference archives</a>.
      </p>
      <h1 id="yapc-2003">YAPC::Israel::2003</h1>
      <p>
         The 2003 Israeli YAPC took place on May 11, 2003. It was very successful, with over
         100 participants, many interesting lectures, and a special guest lecturer -
         <a href="http://perl.plover.com/">Mark Jason Dominus</a>.
         <br />
         We would like to thank the
         Caesarea Edmond Benjamin de Rothschild Foundation Institute for Interdisciplinary
         Applications of Computer Science (<a href="http://www.cri.haifa.ac.il/">CRI</a>)
         for hosting the conference, as well as the following companies which provided
         sponsorship:
      </p>
      <ul>
         <li><a href="http://www.mercury.co.il/">Mercury Interactive</a></li>
         <li><a href="http://www.actcom.net.il/">Actcom</a></li>
         <li><a href="http://www.activestate.com/">ActiveState</a></li>
         <li><a href="http://perl.oreilly.com/">O'Reilly</a></li>
         <li><a href="http://www.apress.com/">Apress/Springer</a></li>
         <li><a href="http://www.pearson.com/">Pearson Plc.</a></li>
         <li><a href="http://www.pti.co.il/">Perl Training Israel, Ltd.</a></li>
      </ul>
      <p>
         For further details about YAPC::Israel::2003 please see the
         <a href="YAPC/2003/">conference archives</a>.
      </p>
