unknown {
	font-size: 14px; color: #000000; font-family: arial; background-color: floralwhite; text-decoration: none
}
td {
	font-size: 14px; color: #4a4d4a; font-family: arial; text-decoration: none
}
a:link {
	font-size: 14px; color: #0033cc; font-family: arial
}
a:visited {
	font-size: 14px; color: #cc0000; font-family: arial
}
a:hover {
	font-size: 14px; color: #cc3333; font-family: arial
}
a:active {
	font-size: 14px; color: #000033; font-family: arial
}
a img {
	background: none transparent scroll repeat 0% 0%;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	color: white
}
ul {
	line-height: 19px
}
.center {
	text-align: center
}
hr.partruler {
   text-align: left;
   width: 100px
}
hr {
	height: 2pt
}
.bottomtext {
	font-size: smaller
}

.headertitle {
	text-align: center;
	font-size: 20px;
}

#pagetitle {
	text-align: center;
	font-size: 24px;
}
.entryname {
	font-size: 18px;
}

.newsdate {
	width:  150px;
	vertical-align: top;
}

.navigation {
	vertical-align: top;
	width: 18%;
}

/*
.rightpane {
	vertical-align: top;
}
*/

.fullpage {
	width: 90%;
}

/* similar to newsdate */
.milestonedate {
	width:  150px;
	vertical-align: top;
}

.error {
	color: red;	
}


.admintable {
	background: red;
/*	border="1" */
}

.pageentry {
	font-size: 18px;
}

.pagesubentry {
	font-size: 16px;
}

