<% myheader("Call for Proposals") %>
<tr>

<% mysidebar() %>

<td>
<pre>

			     YAPC::Israel

		     Yet Another Perl Conference
			  Weizmann Institute
			   Rehovot, Israel
			 Monday, May 12, 2003
		     http://www.perl.org.il/YAPC/

      hosted by the Bioinformatics and Biological Computing Unit
       organized by Rehovot-pm and Israel-pm Perl Users Groups

Call for Participation
----------------------

If you use Perl on a regular basis, and you are willing to share your
knowledge and experience with the rest of the Perl community, then we
invite you to participate in YAPC by giving a presentation or
presenting a poster.  A presentation can be on any subject, and on any
level, so long as it has to do with Perl.

Deadline: Proposals must be sent to <proposals@perl.org.il> *before* 5
January, 2003.  Each proposal -- which can be for a talk, a lightning
talk, or a poster -- should be short and descriptive, and written in
plain text, DocBook, PostScript, or well-formatted HTML.  To present
at the conference, you must be registered at
<a href=http://www.perl.org.il/YAPC/2003/registration.html>http://www.perl.org.il/YAPC/2003/registration.pasp</a>.
The registration fee is waived if you give a presentation.

If your proposal is accepted, then you will receive official
notification from the program committee by 20 January, 2003.
Abstracts from accepted proposals will be posted on our Web site.
Between acceptance and the actual conference, we will expect to
receive your slides and/or poster in a format suitable for printing in
the proceedings.

We are open to any presentation topic that involves Perl, including
(but not limited to) the following topics:

- Perl and bioinformatics
- Working with mod_perl
- Using Perl effectively with databases
- Writing extensions to Perl in C and C++ with XS
- We saved lots of money by switching from product XYZ to a system
  based on Perl
- Writing little languages using Perl
- Optimizing and debugging Perl programs
- Writing better regular expressions
- Challenges that you faced moving to Perl from language XYZ
- What you should know about Perl 6
- How to read and write XML from within Perl
- Working with Unicode from within Perl

The Perl community emphasizes *practical* solutions -- so we want to
know how you got something done, including code samples.  This is not
a conference about marketing; this is a conference about helping your
fellow Perl programmers to improve their skills.

Talks come in three lengths (30, 60, and 90 minutes), with longer ones
reserved for experienced speakers and/or complex topics.  The
organizers reserve the right to accept your proposal while changing
the length of time assigned to it.  If you want to speak about
multiple topics, then please submit a separate proposal for each talk.

Presentations, including written materials, may be in either Hebrew or
English.  The facilities will include a video projector and Internet
connectivity; if you don't have a laptop, then we can probably arrange
to lend you one, given enough notice.

We will also have a session of "lightning talks," created by
Mark-Jason Dominus and an increasingly popular event at YAPC.
Participants speak for no more than five minutes.  The talk ends at
the five-minute mark, regardless of whether the speaker has finished.
Any topic is allowed, and some have been fantastically
humorous. Lightning talks are an excellent forum for first-time
speakers.

YAPC::Israel will also introduce the idea of "posters," one-panel
depictions of projects that people have done.  Posters are the printed
equivalent of lightning talks, allowing people to learn something
about your work without a great deal of detail.  Posters are designed
to give conference attendees a general idea of what you're doing, such
that they can ask you questions about your work.


IMPORTANT DATES:

  Submission of Proposals:                January 5, 2003 
  Acceptance Notification:                January 20, 2003 
  Submission of Material for Proceedings: March 31, 2003
  Conference:                             May 12, 2003


If you have any questions about giving a talk at YAPC::Israel, then
please send e-mail to <a href=mailto:proposals@perl.org.il>proposals@perl.org.il</a>.

</pre>
</td>
</tr>
<% myfooter() %>

