<% myheader("Speakers dinner") %>
<tr>

<% mysidebar() %>

<td>
YAPC tradition to organize a special dinner for the speakers of the
conference.
<p>
In order to further enhance the communication among the Perl
programmers in Israel we decided that this dinner is open to everyone
who attended the conference.
<p>
Thanks to our <a href=sponsors.html>sponsors</a> the dinner will be
free of charge for the speakers of the conference. Other participants
will have to pay for their dinner.
<p>
The dinner will start about 18:30.<br>
It is going to be Kosher<br>
It is a great opportunity to get together.<br>
It will be in the university, so you don't need transportations from
the conference to the dinner.
<p>
See the <a href=schedule.html>schedule</a>
</td>
</tr>
<% myfooter() %>
