<% myheader("Yet Another Perl Conference in Israel") %>
<tr>
<% mysidebar() %>
<td>
  <h1>YAPC::Israel::2003</h1>
  <h2>1st Perl conference in Israel</h2>
  <table>
  <tr><td>Date:</td><td>Sunday May 11th 2003</td></tr>
  <tr><td>Time:</td><td>8:00-19:00</td></tr>
  <tr><td>Place:</td><td>Haifa University</td></tr>
  <tr><td>Price:</td><td>150 NIS. <br>
                         </td></tr>
  <tr><td></td><td></td></tr>
  <tr><td></td><td></td></tr>
  </table>
  <p>
   <h2>Training</h2>
   After the conference Mark Jason Dominus will teach 3 Perl classe. 
   <a href=http://www.pti.co.il/mjd.html>details</a>
  <h2><font color=red>Date and Location change !</font></h2>
  Please note that we changed both the location and the date of
  the conference. It will be on <b><font color=red>11th of May 2003</font></b> (one day earlier
  than planned originally) and it will be in <b><font color=red>Haifa</font></b> in 
  Caesarea Edmond Benjamin de Rothschild Foundation Institute for
  Interdisciplinary Applications of Computer Science 
  (<a href="http://www.cri.haifa.ac.il/">C.R.I.</a>)
  (instead of Rehovot).
  We are still going to talk about Perl.
  <p>
  <hr>
  Our special guest will be <b>Mark Jason Dominus</b>. Mark will give a presentation
  that he is planning to give on this years TPC as well. In addition, after the conference
  MJD will give <a href="http://www.pti.co.il/mjd.html">3 one-day classes</a>.
  <p>
  <hr>
  <b>What is YAPC?</b>
  <p>
  YAPC is "yet another Perl conference", with apologies to 
  The Perl Conference.
  This is an inexpensive conference
  with its roots in the <a href="http://www.pm.org/">Perl Mongers</a>
  users groups. The Israeli event is organized by the <a href="/">Israeli Perl Mongers.</a>
  <p>
  Thanks to our <a href="sponsors.html">sponsors</a> we could reduce the cost. It is now
  <b>150 NIS</b> and if you pay before the 15th of April you can enjoy the early bird discount
  and pay only <b>90 NIS</b>.
  <p>
  
   
  <p>
  <a href=other_yapc.html>Other and previous YAPC events</a>
  <p>
  The first <b>YAPC::Israel</b> in 2003 
  will be a one day event.
  It will be held on May 11, 2003 (Sunday) in 
  Caesarea Rothschild Institute at the University of Haifa
  <p>
  The presentations will be either in English or in Hebrew based on
  the preference of the speaker. Next to each presentation we'll list
  the language too.
  <p>
  <a href=registration.html>Registration</a> is open to the public.
  The number of places is limited so please register ASAP.
  <p>
  The Conference is Hosted by 
  Caesarea Rothschild Institute at the University of Haifa.
  There are
  various other <a href=sponsors.html>sponsors</a> of the event.
  <p>
  It is organized by the <a href="http://www.perl.org.il/">Israel.pm</a> User Group.

</td>
</tr>
<% myfooter() %>
