<% myheader("YAPC::Israel::2003 - Location") %>
<tr>

<% mysidebar() %>

<td>
   The Conference will be held in
   The Caesarea Edmond Benjamin de Rothschild Foundation 
   Institute for
   Interdisciplinary Applications of Computer Science  at
   Haifa university. (<a href="http://www.cri.haifa.ac.il/">C.R.I.</a>)
   <p>
   <h2>How To Get There</h2>
   CRI has a page on <a
   href="http://cri.haifa.ac.il/How-to-get-here/How-to-get-here.htm">How
   to get to there ?</a>
   <p>
<a href=http://maps.walla.co.il/AtlasNetlocator.dll?CMD=LoadPage&PageName=AtlasMain.html&NavCmd=Down&HorzPos=54079&VertPos=47823&ZoomLevel=-2&ImageWidth=450&ImageHeight=300&TargetPosX=52797&TargetPosY=47420&TargetVisible=True&OVW=136&OVH=116&Pos=62&SessionID=7329718&LayerVisible1=&LayerVisible2=&LayerVisible3=>Walla map</a> while the University is not marked, it is in the the middle of the
picture, where the small white square is. You can zoom out the map to get a better view of the
area.
<p>

   <h3>Car</h3>
There is no car access allowed into the university and parking outside the university 
is very complicated.
Therefore, we encourage participants to arrive by public transportation such as
train, bus and taxi.
   <h3>Car Pool</h3>
   Some people might want to share a car. Send e-mail about such request or
   offer to the <a href="http://www.perl.org.il/mailman/listinfo/perl">mailing list</a>.
   <p>
   <h3>Bus</h3>
   <a href="http://www.egged.co.il/egged/index.html">Egged</a> bus
   company in Hebrew.
   <p>
   <h3>Train</h3>
   Israel Railways: <a href="http://www.israrail.org.il/">Hebrew</a> and in 
   <a href="http://www.israrail.org.il/english/">English</a><p>

   From <b>Tel Aviv</b><br>
   Take one of the trains that leave at the following times from Tel Aviv Central station.
   (Also know as the north bus station or Arlozorov) 07:21, 07:40, 08:04.<br>
   Get off at Hof-Hacarmel station. (Matam)<br>
   Travel time is about 40-60 minutes.<br>
   Take a taxi from Hof-HaCarmel.
 
   <h3>Taxi</h3>
   A taxi from Hof Ha-Carmel train station costs about 25-35 NIS and it takes about 30-40 minutes.<br>
   At the train station try looking for other people attending the conference and share a taxi.<br>
   Usually there are taxis next to the station but if not call one of the following TAXI companies:<br>
	Keniyon Haifa	04-8500886<br>
	Kastra		04-8590055<br>
   <p>
<!--
 <a href="http://geourl.org/near/?p=http://www.perl.org.il/YAPC/2003/" title="check out my neighbors in meatspace">
<p>
 <img src="http://geourl.org/geourl.png" border=0 width=52 height=14 />
 </a>
-->
<p>

<p>
   <b>Accommodation</b><br>
   Those who mightwant to sleep in Haifa.
   <a href="http://www.tour-haifa.co.il/heb/Accomodation/index.phtml">Haifa Tour</a>
   (site in hebrew only and probably can be used only by IE, sorry we are looking
   for more sites to help you)
   <p>

<p><b>Genaral info</b></br>
   Here are a few maps of Israel:<br>
   <a href="http://www.mideastweb.org/misrael.htm">map 1</a><br>
   <a href="http://www.templebuilders.com/maps/maphtm.htm">map 2</a><br>
   Haifa is about 100 km north from Tel Aviv and 
   <a href="http://www.ben-gurion-airport.co.il/english/">Ben-Gurion
   Airport</a> (English).
   <p>

</td>
</tr>
<% myfooter() %>
