<% myheader("Milestones") %>
<tr>

<% mysidebar() %>

<td>
   <table>
   <tr><td width=150></td><td></td><td></td></tr>
   <tr><td>2004 ??? ??</td><td>Next Conference ?</td><td></td></tr>
   <tr><td colspan=3><hr></td></tr>
   <tr><td>2003 May 11</td><td>The Conference</td><td></td></tr>
   <tr><td>2003 April 15 </td><td>End of early bird <a href=registration.html>registration</a></td><td></td></tr>
   <tr><td>2003 April 1 </td><td>Deadline for submitting materials for
   the proceedings</td><td></td></tr>
   <tr><td>2003 January 20</td><td>Announcement of the list of presentations</td><td></td></tr>
   <tr><td>2003 January 5</td><td>Dead-line for <a
   href=speakers.html>proposals</a></td><td></td></tr>
   <tr><td>2002 December 1</td><td>Call for proposals</td><td></td></tr>
   <tr><td></td><td></td><td></td></tr>

   </table>
</td>
</tr>
<% myfooter() %>
