<% myheader("Latest News") %>
<tr>

<% mysidebar() %>

<td>
   <table>
   <tr><td width=150 valign=top></td><td></td></tr>

   <tr><td width=150 valign=top>2003 May 11</td><td>The Conference took place</td></tr>
   <tr><td width=150 valign=top>2003 May 8</td><td>The sharp eyes of
   Oooooooffer caught the <a href=http://www.perl.com/pub/a/2003/05/06/conferences.html>2003 Perl Conferences Overview</a></td></tr>
   <tr><td width=150 valign=top>2003 May 6</td><td><a
   href=http://www.pearson.com/>Pearson Education</a> offers to give
   us 10 books as their sponsorship.</td></tr>
   <tr><td width=150 valign=top>2003 April 15</td><td>End of early bird registration - More than 50 people paid their
   registration fee. Most of them on the last day.</td></tr>
   <tr><td width=150 valign=top>2003 April 11</td><td><a href="http://www.activestate.com/">ActiveState</a> will also sponsor our conference.</td></tr>
   <tr><td width=150 valign=top>2003 April 10</td><td>We participated on GO-Linux and lots of new people found us.</td></tr>
   <tr><td width=150 valign=top>2003 March 27</td><td><a
   href=http://perl.oreilly.com/>O'Reilly</a> will also sponsor our conference.</td></tr>
   <tr><td width=150 valign=top>2003 March 19</td><td>We have announced the final pricing
   and the early bird <a href=registration.html>registration</a> till 15th of April.</td></tr>
   <tr><td width=150 valign=top>2003 February 25</td><td>After one month
   of being homeless finally we got the OK from <a href="http://www.cri.haifa.ac.il/">CRI</a> 
   so we'll be able to
   organize the conference there. This means the date of the conference is changing to
   11th of May 2003, that is one day earlier than planned originally.</td></tr>
   <tr><td width=150 valign=top>2003 February 20</td><td>Finally we have mailed
   out the responses to people who will give the presentations. Soon
   we'll update the site with the list of presentation.</td></tr>
   <tr><td width=150 valign=top>2003 January 30</td><td><a
   href="http://www.actcom.net.il/">Actom</a> has agreed to give us
   sponsorship</td></tr>
   <tr><td width=150 valign=top>2003 January 12</td><td><a
   href="http://www.mercury.co.il/">Mercury Interactive</a> has agreed
   to give us sponsorship</td></tr>
   <tr><td>2003 January 12</td><td>We have received about 3 times more proposals than we have time.</td></tr>
    <tr><td>2003 January 5</td><td>The dead-line for proposals was
   extended by one week</td></tr>
    <tr><td>2002 December 4</td><td><a
   href="http://www.apress.com/">Apress</a> agrees to give sponsorship
   to the event</td></tr>
   <tr><td>2002 December 3</td><td><a
   href="https://szabgab.com/">PTI (Gabor Szabo) </a> decides to pay for the printing
   of the conference proceedings.</td></tr>
   <tr><td>2002 December 1</td><td>Gabor <a
   href="http://www.perl.org.il/pipermail/perl/2002-December/000683.html">announces</a>
   the conference on the mailing list.</td></tr>
   <tr><td>2002 November 27</td><td>Jaime finalizes the date with the
   Weizmann Institute</td></tr>
   <tr><td>2002 October 13</td><td>On the Israel.pm mailing list 
     <a href="http://www.perl.org.il/pipermail/perl/2002-October/000423.html">Gabor suggests</a>
      to organize a YAPC-like event.</td></tr>
   <tr><td></td><td></td></tr>

   </table>
</td>
</tr>
<% myfooter() %>
