<% myheader("Organizers") %>
<tr>

<% mysidebar() %>

<td>
  The Conference is Hosted by 
  The Caesarea Edmond Benjamin de Rothschild Foundation in the University of Haifa. 
  <br>
  It is organized by the <a href=/>Israel.pm</a> Perl Mongers.
  <p>
  <table>
  <tr><td><a href="https://szabgab.com/">Gabor Szabo</a></td>
      <td>Perl Training Israel</td></tr>
  <tr><td>Shlomo Yona</td>
      <td>(shlomo at cs.haifa.ac.il)  
      <a href="http://cs.haifa.ac.il/~shlomo/">CRI / Haifa University</a></td></tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><td colspan=2>I'd like to thank the following people for their
  help and support</td></tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><td>Offer Kaye</td>
      <td>(offerk at oren.co.il)
      <a href="http://www.oren.com/">Oren Semiconductor</a>
      </td></tr>
  <tr><td>Yevgeny Menaker</td>
      <td>(genmen at post.tau.ac.il)
      Author of Programming Perl in the .NET environment.
      </td></tr>
  <tr><td>Reuven Lerner</td>
      <td>(reuven at lerner.co.il)
      <a href="http://www.lerner.co.il/">Lerner Consulting</a>
      </td></tr>
  <tr><td>Dr. Jaime Prilusky</td>
      <td>(Jaime.Prilusky at weizmann.ac.il)
	  <a href="http://bioinformatics.weizmann.ac.il/jaime_prilusky.html">Bioinformatics Unit at the Weizman Institute of Science</a>
       </td></tr>
  <tr><td>Jay Lawrence</td>
      <td>(jay at infonium.ca)
         The organizer of <a href="http://www.yapc.ca/">YAPC::Canada::2003</a>
       </td></tr>

  </table>
</td>
</tr>
<% myfooter() %>
