<% myheader("Yet Another Perl Conference in Israel") %>
<tr>
<% mysidebar() %>
<td>
  <p>
  <table width="100%">
  <tr><td>
  This year's YAPC Events:
  <ul>
   <li><a href="http://www.yapc.ca/">YAPC::Canada</a> May 15-16, Ottawa
   <li><a href="http://www.yapc.org/America/">YAPC::NA</a> June 16-18, Boca Raton, Florida
   <li><a href="http://www.yapc.org/Europe/2003/">YAPC::Europe</a> July
  23-25, Paris
  </ul>
  </td><td>
  </td></tr>

  <tr><td>
  Previously YAPC were held in North America
  <ul>
   <li><a href="http://www.yapc.org/America/">Saint Louis</a>
   <li><a href="http://www.yapc.org/America/previous-years/2001/">Montréal</a>
   <li><a href="http://www.yapc.org/America/previous-years/19100/">Pittsburgh</a>
  </ul>
  </td><td>
  and in Europe in 
  <ul>
  <li><a href="http://www.yapc.org/Europe/2002/">Munich</a>
  <li><a href="http://www.yapc.org/Europe/2001/">Amsterdam</a>
  <li><a href="http://www.yapc.org/Europe/2000/">London</a>
  </ul>
  </td></tr></table>
  <p>
</td>
</tr>
<% myfooter() %>
