<% myheader("Registration Form") %>
<tr>
<% mysidebar() %>
<td>
<h1>The conference is over</h1>
Registration is closed.
<p>
If you are not a member yet, please consider <a
href="http://www.perl.org.il/mailman/listinfo/perl/">
registering to the mailing list</a> of the Israeli Perl Mongers group as well. 
<p>
If you have not heard about it yet, you might be interested to read
about the training classes of <a
href="http://www.pti.co.il/mjd.html">Mark Jason Dominus</a> that will
take place after the conference.
<p>
</td></tr>
<% myfooter() %>
