<% myheader("Retrospective") %>
<tr>

<% mysidebar() %>

<td>
by Gabor Szabo
<p>

The first part of this paper focuses on the content and the general
quality of the conference while in the second part I'll describe the
organizational side.<br>
<p>
<h2>Lightning talks</h2>
As in YAPC::EU::2002 we also put the lightning talks on a stand
alone track without competition as this was a good opportunity for 
participants to learn about several subjects in a short amount of time 
and for the speakers to present their ideas without the burden of 
preparing a longer presentation.
<p>
This is a low risk opportunity to both sides as if the talk is bad it
only lasts 5 minutes.
<p>
Most of the talks were really great and were done in time. One person 
asked up-front and received double time and in the end he talked less
than 5 minutes but he was on focus. Some people criticized the quality 
of some of the lightning talks. I am sure there is place for improvement
but in general we cannot do an up-front hearing of people and
we do want to give opportunity to lots of people.
<p>


<h2>Special speaker</h2>
We have invited Mark Jason Dominus and made sure has has two special spots in
the conference. He gave a 30 minutes talk just after the opening speech
and then he gave the last presentation of the day. This way we wanted to make
sure people will come early and leave only at the end. Our plot was partially
successful. Almost everyone got there on time and about 80% stayed till
the end. Of course this is not 


<h2>Registration process</h2>
It was not clear to everyone they have to go to a web by
them self and register there. Some people went to the Training
or Human Resources manager of their organization and asked 
her/him to register them. This mad a bit difficulty as we 
used double opt-in and asked for confirmation of the e-mail
address by sending the password to the given e-mail address.
<p>
   
<h2>Payment and invoices</h2>
This was a big problem in our case. We did manual processing of 
all the payments. Some people paid in cash, some in check and some by 
Credit Card. Luckily <a href=http://www.actcom.net.il/>Actcom</a> 
agreed to do the actually charging of the 
Credit Cards for a very low fee so we did not have to apply for
CC processing but doing the whole process for 100 people was too much
work. We need some automatic processing here.
<p>

CC payment seems to be a big problem in Israel as I think a lot of people
are not enthusiastic about using their CC via the Internet and AFAIK there
is no Israeli company that would let you setup a fully automated, web based
front-end to CC processing. We could do it with a foreign company but most
likely that would mean exchanging between NIS and USD twice and paying an
extra fee. That could cost us some 15-25% of the whole payment. Still it 
might be better than doing the whole thing manually.
<p>
There were quite a number of people who paid together. An automated system
should be able to handle such tasks.
<p>


<h2>Printed Proceedings</h2>
Our job was to collect the electronic versions and to create a
postscript file that is ready to go to printing. We allowed it
and unfortunately we received documents in various formats: HTML,
plain text, Word both in English and Hebrew. We had a hard time
converting them to one format and numbering the pages.
<p>

In the future we'll have to define one format and give guidelines 
how to write the document in the required format or we'll
have to define a few formats that then we can automatically
convert to the single format we are expected to give to the
printing shop. Probably the best would be to require Docbook format. 
Then it will be easy for us to put the various documents together in a nice format.
<p>

<h2>Artwork for the proceedings and the web site</h2>
The icons of the sponsors were taken off their site and 
usually they were not of high quality. They also came 
in different sizes so it made the printed page funny.
<p>
We might want to define a standard size for these icons 
(or to give a range) and ask the sponsors to send us 
an icon that will fit this requirement.
<p>

<h2>Announcements, Communication and PR</h2>
We used the main perl channels like YAPC, Perl Foundation, use.perl 
and of course our own local mailing list.
There was even an article on perl.com about all the Perl conferences that
came out a couple of days before our conference.  In addition there was
a Linux conference in Israel called GO-Linux about a month before
YAPC::Israel where we setup a booth. This also helped increasing the
number of people who knew about the conference. 
We also mentioned the conference on the local Linux mailing lists and web sites.
<br>


<h2>Coffee breaks and lunch</h2>
The coffee breaks were outsourced and they were organized 
by <a href=http://www.cri.haifa.ac.il/>CRI</a> (our hosts). 
We did not have to do with them anything. We just 
had to pay the bill. This was organized seamlessly well.
<p>
Lunch: everyone should have find and paid his own lunch.
CRI provided maps and directions. I think this was OK.
<p>

<h2>Reception</h2>
CRI organized the reception of the participants. 
There were 3-4 people helping. They put the materials 
in the bags, checked the people who arrived and collected
additional money when needed. This worked quite well
even though the instructions how to list the additional
people were not clear.
<p>
We have to make it clear exactly what should be the process
when people are arriving:<br>
List following groups:<br>
<ul>
   <li>Registered and paid people
   <li>Registered and not paid
   <li>Not registered but paid (we should avoid this)
</ul>   
   Then they can put a checkmark next to each person who 
   arrived, add the payment form to people who pay on the
   spot, register people who are not registered yet.
<p>   
The registration table should be ready 30 minutes before the announce 
opening time.
<p>

<h2>Conference Bags</h2>
They were done in a great rush within the week before the conference.
Next time we should decide upon the bags at least 3 weeks 
ahead and decide on the final number to be prepared about 
2 weeks before the conference.
<p>

<h2>Early bird payment</h2>
We have made an early bird payment offer 1 month before the
conference when we gave 40% discount from the original fee (which was 
not high either) so people could pay 90 NIS (~20 USD) instead 
of 150 NIS (~32 USD). 
About 50 people (that is 60% of the paying participants) paid,
mostly on the last day of the early bird registration.
<p>

Later we added a "late bird" registration with a 20% discount
(120 NIS) but that did not make additional surge in registrations.
There were a number of people who paid on the spot that made
some mess as we had to manually list them and write down who paid.
<p>
Next year I suggest we give early bird discounts and not use the
"late bird" discount. I also suggest to set an extra penalty payment 
for those who pay in the last 2 days or on the spot in order to
avoid this mess. 
<p>
Another way is to do the following:
Setup a "very early bird" (2-3 month in advance) and a 
"late bird" (3 weeks in advance), so it is still before we have 
to decide on number of proceedings, bags and other such expenses
and a penalty for on-the spot payment while we shut down the 
electronic payment in the last 1-2 days.
<p>

</td>
</tr>
<% myfooter() %>

