<% myheader("Slides") %>
<tr>

<% mysidebar() %>

<td>
Martha H Greenberg: <a
href="http://web.mit.edu/marthag/www/thoktalk/">Thokbook</a> 
(<a href="http://web.mit.edu/marthag/www/thoktalk/slides.tgz">download</a>)
<br>
Mikhael Goikhman: <a href="http://migo.sixbit.org/papers/X_WM_and_Perl/">X11 Window Managers and Perl</a> 
   (<a href="http://migo.sixbit.org/papers/X_WM_and_Perl.tar.gz">download</a>)<br>
Yevgeny Menaker: 
   <a href="slides/Yevgeny_Menaker_PerlNET_Yapc.ppt">Programming
   Perl in the .NET environment</a><br>




</td>
</tr>
<% myfooter() %>
