<% myheader("YAPC::Israel::2003 Sponsors") %>
<tr>

<% mysidebar() %>

<td>

<p>The <b>sponsorship coordinator</b> is <a
href="mailto:gabor@perl.org.il">Gabor Szabo</a> and 
he should be your first port of call if you are considering sponsorship.</p>
<p>Sponsoring an event such as the <a href="."><b>YAPC::Israel::2003</b></a> is not to be taken lightly, there are several things a potential sponsor should be aware of.</p>
<h3>Firstly this is <i>not</i> a sales event of any kind.</h3>
<p>It is rather, a grassroots gathering of like-minded enthusiastic <a
href="http://www.perl.org/">perl programmers</a>
who are coming together to discuss the language of choice, share knowledge
and generally soak up a bit of atmosphere.  If, along the way, the odd bit
of business gets done, someone finds a job, perhaps an idea is sparked by
a conversation with a peer, that turns profitable, all well and good.  This
is however not the prime purpose of the event.  There is <b>no</b> promise of 'you give us <b>x</b>, we will give you <b>y</b> in return'!  Once we get this kind of <i>sales angle</i> out of the way, we should be on firmer footing.</p>
<p>Primarily, we hope that potential sponsors may look on our event, as a
simple way of supporting the colossal, ongoing, that goes into developing
and maintaining the <a href="http://www.perl.com/">perl programming</a> language for free, for as long as it takes, in an <b>Open Source</b> spirit.  Many many companies reap the benefit of this free development, testing, debugging and support system that is <b>perl</b>,
without ever being asked for a penny in return, and this conference is a
simple way of giving something back to all those enthusiastic volunteers.</p> 
<h3>Specifically what we do by way of acknowledgment (and it's not much):</h3>
<ul>
<li>In the run up to, and during, and after the conference, sponsors will be
mentioned on our <a href="sponsors.html">sponsors</a> page, with if
supplied, a banner and a link to their respective home page.
</li><li>They will be mentioned on our <a
href="http://www.perl.org.il/pipermail/perl/">mailing list</a>
</li><li>Each sponsor will be mentioned individually at the opening and the final assembly thanks.
</li><li>Each sponsor will be mentioned with its banner in the first
internal page of the printed conference proceedings (a booklet of all the presentations
of the conference)
</li><li>Sponsors may drop a little something in the Conference Bag,
some marketing material or better yet something that people might find
useful.
</li><li>In placese where the conference is mentioned we'll mention
the names of our sponsors as well. (e.g. banner ads. while talking to
journalists etc.)
</li></ul>
<h3>Finally - we hope that sponsoring this conference makes you feel good.</h3>
<p>If it so happens that you receive some direct, or indirect, benefit via
200 to 250 IT professionals, from all around the world, becoming aware of
your contribution, then that would be a pleasant bonus.</p>
<p></p>

<p><font size=-2>This page was borrowed from YAPC::Europe::2002 and changed by Gabor Szabo</font></p>
</td>
</tr>
<% myfooter() %>
