<html style="direction: rtl">
      <h1 id="introduction" style="border-top: none; padding-top: 0; direction: rtl ; text-align: right">הקדמה</h1>
      <p <tmpl_var Hebrew> >
         <a href="http://www.pm.org/">Perl Mongers (שוחרי Perl)</a> ההוא מונח המתאר הן  משתתפים בקבוצות של משתמשי Perl והן את הארגון מקשר בין קבוצות משתמשי Perl ברחבי תבל.<br />

	 קבוצות שונות של שוחרי Perl, מציבות מטרות שונות,  אך המכנה המשותף לכולן הוא הרצון לפגוש עמיתים ושוחרי Perl אחרים.<br />

	ובפרט, מועדון שוחרי Perl הישראלי (Israel.pm) מהווה קבוצת משתמשים הרשומה באתר  שוחרי Perl הבין-לאומי. חברים  בו משתמשי Perl  במגוון רמות, ממתחילים שזה עתה כתבו "Hello, World"  ועד  למתכנתים מנוסים -  כולם מתקבלים בברכה
<br />

	 מטרת מועדון  שוחרי Perl הישראלי בראש ובראשונה הוא לקדם את התקשורת והעזרה ההדדית בין שוחרי Perl בישראל. ובנוסף לקדם את השימוש בPerl בישראל ולהפיץ את שפת התכנות המועדפת עלינו לכלל קהילת המתכנתים בארץ.<br />

	 בכדי לקדם מטרות אלו:
      </p>
      <ol>
         <li <tmpl_var Hebrew>>
	 הוקם <a href="index.html">את האתר הזה</a> , בכדי שיכיל את הארכיונים, תכנים שלנו וחדשות  הקשורות לפעילות בארץ.
	 </li>
         <li <tmpl_var Hebrew>>
	מנוהלות מספר<a href="mailing_lists.html"> רשימות דיוור </a>   המוקדשות ל Perl.רשימות אלו הן הדרך העיקרית לשיתוף מידע של שוחרי Perl הישראליים.
	 </li>
         <li <tmpl_var Hebrew>>
	    מתקיימות <a href="meetings.html">פגישות חודשיות</a>  בהן מועברות שתי הרצאות או יותר הקשורות לתיכנות   בכלל או לתיכנות בPerl בפרט,
 עבורנו זו דרך עיקרית להפגש ולקיים מפגשים חברתיים של שוחרי Perl.
	 </li>
         <li <tmpl_var Hebrew>>
	    נערך  <a href="yapc.html">מפגש שנתי</a> (בשנתיים האחרונות ובתקווה לעוד בעתיד) שבו מועדון שוחרי Perl חשף קהל רחב יותר במרתון הרצאות  הקשורות ל Perl, שהועברו על ידי חברי הקהילה.
	 </li>
      </ol>
      <p <tmpl_var Hebrew>>
	 כל אחד יכול להיות חבר במועדון שוחרי Perl ע"י הרשמה לרשימת הדיוור. ההרשמה חינם, אולם יש לשמור על רשימת הדיוור מפני ספאם (דואל זבל) גם ההשתתפות במפגשים החודשיים אינה עולה כסף.

      </p>

      <h1 id="officers" <tmpl_var Hebrew>>האחראי הנוכחי</h1>
      <p <tmpl_var Hebrew>>
מועדון שוחרי Perl  הישראלי מנוהל על ידי <a href="http://www.szabgab.com/">גאבור סבו</a>,אשר בנוסף גם ייסד אותו. בשאר זמנו גאבור מנהל חברה המכשירה מתכנתי Perl הנקראת :
	 <a href="http://www.pti.co.il/">Perl Training Israel</a>.
      </p>
      <p <tmpl_var Hebrew>>
עד תחילת 2004 כמעט כל שיגרת העבודה הקשורה להפעלה ולארגון המועדון הוטלה על כתפיו של גאבור סבו. מאז מספר שוחרים החלו לעזור לו בהבטים שונים:
      </p <tmpl_var Hebrew>>
      <ul>
         <li <tmpl_var Hebrew>>
	    <a href="mailto:library_HATESPAM_@perl.org.il" title="Email the Librarian">תומס מאייר</a>
	        מכהן כספרן של מועדון שוחרי Perl, עוקב אחר מי מחזיק באיזה ספר , ומעדכן ת דפי הספריה כנדרש. כמו כן מביא ספרים הנדרשים למפגשים.
	 </li>
         <li <tmpl_var Hebrew>>
	    <a href="http://cs.haifa.ac.il/~shlomo/">    שלמה יונה </a>
	     מכהן כאחראי על יחסי הציבור  בעברית יחד  עם <a href="http://okaye.esmartweb.com/">עופר קי</a>, who
האחראי על יחסי הציבור באנגלית. הם אלו המודיעים על מפגשים ושאר נושאים לרשימות הדיוור ולאתרים השונים.
 	 </li>
         <li <tmpl_var Hebrew>>
	        עופר קאי מתפקד  -גם כאחראי הנוכחי על האתר
	    <a href="mailto:web_HATESPAM_master@perl.org.il" title="Email the Webmaster">webmaster</a>.
	 </li>
      </ul>

      <h1 id="history" <tmpl_var Hebrew>>היסטוריה</h1>
      <p <tmpl_var Hebrew>>

רשימת הדיוור של הישראלית של Perl הוקמה במקור על ידי גאבור סבו על מנת לאפשר לסטודנטים שנכחו בקורסי הPerl האחרונים שהועברו על ידי גאבור לשאול אותו שאלות נוספות.
	 <a href="http://www.perl.org.il/pipermail/perl/2001-April/000000.html">הדואל הראשון</a>  הועבר ביום שישי ה27 באפריל 2001. <br/>
	 מתוך התחלה צנועה זו החל המועדון לשגשג
	 <a href="http://www.pm.org/"> ולהוות אחד ממועדוני הPerl</a>  הפעילים בעולם.
       עם מאות רשומים ונפח הולך וגדל של תכתובת
	 <a href="mailing_lists.html#statistics"> מידי שנה.</a>.<br />

מפגשי מועדון שוחרי Perl  החודשיים אף הם מתקדמים יפה. הפגישה הראשונה שנערכה ב 18 במרץ 2002 היתה פגישה קטנה של שישה אנשים, לא הוגדר סדר יום ולא היה מקום מפגש קבוע.
 ואולם מאז 2003  <a href="http://www.d.co.il/">דפי זהב </a> מאפשרים לנו  בטובם לקיים את מפגשי המועדון  ולהשתשמ בחדר עם מקרן.

אודות למקום מאורגן זה חברי המועדון מארגנים הרצאות ואודות לארגון של גאבור סבו ה מועדון מקיים מפגשים באופן קבוע בהם נינים בין 15 ל25 אנשים.
לאחרונה שוחרי Perl החלו לקיים לאחר המפגש הטכני מפגש חברתי ולבלות ביחד  לאחר ההרצאות בפאב קרוב. בתקווה להפוך זאת למסורת  :-)
      </p>

      <h1 id="about_site" <tmpl_var Hebrew>>אודות אתר זה</h1>
      <p <tmpl_var Hebrew>>
         האתר החדש של מועדון שוחרי Perl הישראלי הינו אתר המבוסס על
	 <a href="http://html-template.sourceforge.net/">HTML::Template</a>
	 עם מראה שנוצר לפי   התבנית
     <a href="http://www.oswd.org/viewdesign.phtml?id=1192">Gila</a> ,
     אשר נלקחה מתוך  האתר
     <a href="http://www.oswd.org/">Open Source Web Design</a>.<br />
קבצי הקוד של האתר מנוהלים בעזרת
      <a href="http://subversion.tigris.org/">Subversion</a>,
וניתן להורידם בעזרת הפקודה :
 <br />
<a href="https://github.com/szabgab/perl.org.il">GitHub</a>
<br />
	 <code>svn co http://svn.pti.co.il/svn/perl.org.il</code>
	 <br />
	 במערכת ההפעלה  Windows באפשרותכם  להעזר ב: <a href="http://tortoisesvn.tigris.org/">TortoiseSVN</a> על מנת לקבל גישה לגנזך<br />
     אם ברצונכם לתרום לאתר זה אנא עשו את הדברים הבאים:

	 <ol>
	    <li <tmpl_var Hebrew>>
בידקו את קוד המקור מגנזכי Subversion  בעזרת הפקודה שלעיל.
        </li>
	    <li <tmpl_var Hebrew>>
בצעו את השינויים בספריה: new_site_sources.
התוכן אמור להשתנות כמעט תמיד בקבצים: templates/*.tmpl.
        </li>
	    <li <tmpl_var Hebrew>> הריצו <code>perl update_site.pl</code> בתוך הסיפריה new_site_sources
        (כברירת מחדל ב"./site")באם השינויים היו תקינים.
	    </li>
	    <li <tmpl_var Hebrew>> הריצו <code>svn diff &gt; diff.txt</code>בזמן שאתם בספריה  new_site_sources .</li>
	    <li <tmpl_var Hebrew>> שלחו את הקובץ  diff.txt file	         לידי<a  href="mailto:web_HATESPAM_master@perl.org.il" title="Email the Webmaster">
	         האחראי על האתר</a>.</li>
	 </ol>
      </p>
      <p <tmpl_var Hebrew> >

     אם הוא יקבל את הטלאי הוא יחיל אותו על הגנזך ולאחר מכן על האתר.
      </p>
      </html>
