      <h1 id="jobs" style="border-top: none; padding-top: 0; direction: rtl ; text-align: right">
מקומות עבודה הקשורים ב perl בישראל
</h1>
      <p <tmpl_var Hebrew> >
לעיתים, נשלחת הודעה בדבר מקום עבודה הקשור בperl (בארץ) לשוחרי Perl.
הרשימה שבהמשך מיועדת לעזור לאנשים  למצוא הצעות עבודה אפילו לאחר שעבר זמן מה,
כמו כן הרשימה מיועדת לידע את ציבור הגולשים אילו חברות מחפשות (או חיפשו) מתכנתי Perl
ואילו עבודות מוצעות בתחום. להלן עשרת מקומות העבודה האחרונים לנשלחו לרשימת הדיוור:

      </p>
      <ol <tmpl_var Hebrew> >
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2004-October/006037.html">Radware</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2004-September/005934.html">Log-on.com</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2004-September/005925.html">רז מערכות מידע</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2004-September/005869.html">בזקאינט</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2004-September/005865.html">אקסליבריס</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2003-March/001338.html">צ'קפוינט</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/jerusalem/2004-March/000024.html">CJI</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2003-February/001113.html">Dealtime</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2003-February/001097.html">Perl Training Israel</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.org.il/pipermail/perl/2003-January/000882.html">Dealtime</a></li>
      </ol>

      <h1 id="commercial"  <tmpl_var Hebrew> >תמיכה מסחרית</h1>
      <p <tmpl_var Hebrew> >
         החברות הבאות תומכות מיסרית בקידום Perl בארץ:
      </p>
      <ul>
         <li>
	    <a href="http://www.pti.co.il/">Perl Training Israel</a> (PTI)
	 </li>
         <li>
	    <a href="http://www.raz.co.il/">רז מערכות מידע</a>
	 </li>
         <li>
	    <a href="http://www.cortext.co.il/cortext.html">Cortext</a>
	 </li>
         <li>
	    <a href="http://www.mirimar.net/">מירמר רשתות</a>
	 </li>
      </ul>

      <h1 id="who_uses_perl" <tmpl_var Hebrew> >מי משתמש בPerll</h1>
      <p <tmpl_var Hebrew> >
	  <em>
אחד המיתוסים הגדולים אודות Perl הוא שאף אחד לא משתמש בה. אולי מאחר שPerl  נוטה לשמש ככלי ניסתר,
משתמשים בה באירגונים כאשר היא דרושה, בן אם באישור ובין אם לאו.
	</em>
האמת היא שקיימות חברות רבות שבהן Perl משמשת  לביצוע משימות קצרות ועד ליישומים בעלי חשיבות מכרעת.
אנשים ב

          <a href="http://www.perltraining.com.au/">Perl Training Australia</a>
חיברו הסבר נחמד עם הכותרת :
	 <a href="http://www.perltraining.com.au/whyperl.html">why Perl</a>
וכללו בו רשימה של חברות אוסטרליות שמשתמשות בPerl.
      </p>
      <p <tmpl_var Hebrew> >
כחלק מהתגובה לבעית "חוסר הבהירות בPerl" כתבנו את רשימת החברות הישראליות הבאה שמשתמשות בPerl.
באופן זה אם אתם משתמשים בPerl או שוקלים להשתמש בPerl, תדכעו שאתם נמצאים בחברה טובה :-)<br />

ברשימה שלהן, לכל חברה  מצורף הסבר קצרצר לגבי אופן השימוש שלהם בPerl. איננוו מבטיחים כי הפרטים מדוייקים.
      </p>
      <ul>
         <li <tmpl_var Hebrew> ><a href="http://www.actcom.co.il/">אקטקום</a> הגשת חשבונות, CRM, ניהול המערכת, provisioning</li>
         <li <tmpl_var Hebrew> ><a href="http://www.agentinteractive.com/">www.agent.co.il</a> וכאן
         <a href="http://www.agent.co.il/">  האתר בעברית</a> - content management, database connectivity, Apache::ASP</li>
         <li <tmpl_var Hebrew> ><a href="http://www.amdocs.com/">אמדוקס</a> - תפעול קונפיגורציות</li>
         <li <tmpl_var Hebrew> ><a href="http://www.bankhapoalim.com/">בנק הפועלים</a> - ניהול המערכת</li
         <li <tmpl_var Hebrew> ><a href="http://www.cellcom.co.il/">סלקום</a> - ניהול המערכת provisoning</li>
         <li <tmpl_var Hebrew> ><a href="http://www.checkpoint.com/">צ'קפוינט</a> - אוטומאציה של בדיקות איכות,ישומי רשת פנימיים</li>
         <li <tmpl_var Hebrew> ><a href="http://www.compugen.co.il/">Compugen</a> - ביואינפורמטיקה</li>
         <li <tmpl_var Hebrew> ><a href="http://www.dwarfrabbit.net/">Dwarf Rabbit Netorks</a> - (סטארט אפ - אין פרטים)</li>
         <li <tmpl_var Hebrew> ><a href="http://www.ecitele.com/">ECI</a> - הן בפיתוח ו run time environment, גישה לבסיסי נתונים, עיבוד מקדים למידע</li>
         <li <tmpl_var Hebrew> ><a href="http://www.exlibris.co.il/">אקסליביריס</a> - Data munging, המרת מידע ממוחשב לפורמט של החברה</li>
         <li <tmpl_var Hebrew> ><a href="http://www.h24.co.il/">H24</a> - אוטומאציה של בדיקות ובניית מערכת </li>
         <li <tmpl_var Hebrew> ><a href="http://www.intel.com/">אינטל</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.ladpc.co.il/">החברה לאוטומציה</a> -
משתמשת בPerl ככלי תכנות ראשי להובלת הפרוייקטים שלנו ולניהול משימות בסביבת NT/UNIX.
	</li>
         <li <tmpl_var Hebrew> ><a href="http://www.marvell.com/">מרבל מוליכים למחצה</a> - אוטומאציה של בדיקות</li>
         <li <tmpl_var Hebrew> ><a href="http://www.mercury.com/">מרקורי</a> - תפעול קונפיגורציות, בניית מערכת, packaging</li>
         <li <tmpl_var Hebrew> ><a href="http://www.monoshpere.com/">מונוספייר</a> - אוטומאציה של בדיקות </li>
         <li <tmpl_var Hebrew> ><a href="http://www.motorola.com/">מוטורולה מוליכים למחצה</a> - אוטומאציה של בדיקות ומערכת</li>
         <li <tmpl_var Hebrew> ><a href="http://www.nasa.proj.ac.il/">Israeli EOSDIS NASA node (Israeli Space Agency)</a> - שפת פיתוח עיקרית</li>
         <li <tmpl_var Hebrew> ><a href="http://www.nmi.co.il/">Mennen Medical Ltd.</a> - משתמשים בPerl  כחלק מהמוצר Cathlab בסקריפטים, ליצור דוחות וייצוא מידע  עבור מערכות אחרות
	</li>
         <li <tmpl_var Hebrew> ><a href="http://www.optier.com/">OpTier</a> - אוטומאציה של בדיקות</li>
         <li <tmpl_var Hebrew> ><a href="http://www.qualcomm.co.il/">Qualcomm</a> - system conformance automation, software and hardware build systems, configuration management tools extensions, system administration</li>
         <li <tmpl_var Hebrew> ><a href="http://www.radware.com/">Radware</a> - אוטומאציה של בדיקות</li>
         <li <tmpl_var Hebrew> ><a href="http://www.sanctum.com/">Sanctum</a> - אוטומאציה של בדיקות איכות עבור יישומי רשת (מערכת דמוייתproxy)
	</li>
         <li <tmpl_var Hebrew> ><a href="http://www.sheernetworks.com/">Sheer Networks</a> -  אינטגרציה עם מערות ישנות של הלקוחות</li>
         <li <tmpl_var Hebrew> ><a href="http://www.shopping.com/">Shopping (הידועה גם כ Dealtime)</a> - אתר הפרודקשן נבנה בעזרת Pel</li>
      </ul>
      <p <tmpl_var Hebrew> >
אם ברצונכם להוסיף עוד חברות לרשימה, אנא צרו קשר עם

	  <a href="mailto:web_HATESPAM_master@perl.org.il" title="Email the Webmaster">האחראי על האתר</a>.
      </p>

