<div id="footer" <tmpl_var Hebrew> >
   <div <tmpl_var Hebrew> >
שאלות והערות ניתן לשלוח ל
      <a href="mailto:web_HATESPAM_master@perl.org.il" title="Email the Webmaster">אחראי על האתר</a>
   </div>
   <div <tmpl_var Hebrew> >שונה לאחרונה בתאריך  <tmpl_var name="date"></div>
   <div <tmpl_var Hebrew> >אתר זה מתארח בחסות <a href="http://www.pti.co.il/">הכשרת Perl בארץ</a></div>
   <div id="copyright" <tmpl_var Hebrew> >כל הזכויות שמורות 2004 Israel.pm וכותבי האתר.<br />
   רישיון לקוד בדומה לperl</div><div><a href="http://www.opensource.org/licenses/">(GPL || Artistic)</a><br />
   הרשיון לטקסט
   <div <tmpl_var Hebrew> ><a href="http://www.gnu.org/licenses/licenses.html">GNU FDL</a>
   </div>
   </div>
</div>
