<tmpl_if name="homepage">
    <title>Israel.pm - Perl בישראל</title>
    <meta name="description" content="דף הבית של Israel.pm, שוחרי Perl בישראל" />
</tmpl_if>

<tmpl_if name="about">
    <title>אודות שוחרי Perl בישראל</title>

    <meta name="description" content="מתאר מהם שוחרי Perl בכלל בשוחרי Perl בישראל בפרט." />
</tmpl_if>

<tmpl_if name="mailing">
    <title> רשימות הדיוור של Israel.pm</title>
    <meta name="description" content="הצגת רשימות הדיוור של שוחרי perl ." />
</tmpl_if>

<tmpl_if name="meetings">
    <title> מפגשים של Israel.pm</title>
    <meta name="description" content="About Israel.pm's meetings, past and future." />
</tmpl_if>

<tmpl_if name="yapc">
    <title>ועידת Israel.pm </title>
    <meta name="description" content="About Israel.pm's conferences, past and future." />
</tmpl_if>

<tmpl_if name="library">
   <title>ספריית מועדון שוחרי Perl</title>
   <meta name="description" content="אודות ספריית מועדון שוחרי הכוללת ספרים הנוגעים ל Perl ומיחשוב בכלל." />
</tmpl_if>

<tmpl_if name="misc">
   <title>תכנים שונים של שוחרי Perl</title>
   <meta name="description" content="תכנים שונים של שוחרי Perl" />
</tmpl_if>

<tmpl_if name="business">
   <title>שוחרי Perl בעולם העיסקי</title>
   <meta name="description" content="שימוש בPerlבעולם העיסקי " />
</tmpl_if>

<tmpl_if name="error">
   <title>Israel.pm - Error page</title>
   <meta name="description" content="שגיאה באתר של שוחרי Perl" />
</tmpl_if>

