      <h1 id="introduction" style="border-top: none; padding-top: 0;">Introduction</h1>
      <p>
         This is the homepage of the Israeli Perl Mongers, a group of people dedicated
         to the advancement of Perl in Israel. There are other
         <a href="http://www.pm.org/">Perl Mongers</a> groups around the world, as well as
	 another group - <a href="http://jerusalem.perl.org.il/">Jerusalem.pm</a>, here in Israel.
	 <br />
	 Read on below for current news, upcoming meetings and new site content.
      </p>
      <h1 id="new-site">New Israel.pm Site Launched</h1>
      <p>
         A new and improved Israel.pm site has been launched, using an advanced
	 <acronym title="eXtensible HyperText Markup Language">XHTML</acronym> and
         <acronym title="Cascading Style Sheets">CSS</acronym> based layout. The layout is based on
	 the <a href="http://www.oswd.org/viewdesign.phtml?id=1192">Gila</a> template, which was
	 downloaded from the <a href="http://www.oswd.org/">Open Source Web Design</a> site.
      </p>
      <h1 id="next_il_pm_meeting">Next Israel.pm Meeting</h1>
      <p>
         On Thursday, November 4th, the <a href="http://www.perl.org.il/">Israeli Perl
         Mongers</a> will hold their regular monthly meeting. The program:
      </p>
      <ul>
	 <li> 18:00-19:00 -- Assembly and light refreshments</li>
	 <li> 19:00-20:00 -- <em> David Baird</em> will lecture about the
              <a href="http://staf.sourceforge.net/">STAF</a>
	      test framework - an open source automated test framework from IBM.</li>
	 <li> 20:00-20:20 -- Break and refreshments</li>
	 <li> 20:20-21:20 -- <em>Ran Eilam</em> will lecture about "Intro to XUL-Node"</li>
	 <li> As usual after the meeting we will go out to a nearby
              pub/coffee-shop/etc. for a post-meeting social gathering.</li>
      </ul>
      <p>
         The event will take place in the <em>Dapey Zahav building</em>, 23 Abba Hillel
         St., Ramat Gan.<br />
	 Attendence is free, but a 10 NIS donation to help buy the bourekas will be
	 welcome.
      </p>

      <h1 id="next_jm_pm_meeting">Next Jerusalem.pm Meeting</h1>
      <p>
         On Wednesday, October 27th, the <a href="http://jerusalem.perl.org.il/">Jerusalem Perl
         Mongers</a> will hold their regular monthly meeting. The program:
      </p>
      <ul>
         <li> 18:00-18:30 -- <em>Motke Keshet</em>: 'Reinventing dates'</li>
         <li> 18:30-18:45 -- <em>Motke Keshet</em>: 'Charsets to utf - the Perl way'</li>
         <li> 18:45-19:00 -- Break and refreshments</li>
         <li> 19:00-20:00 -- <em>Zach Kessin</em>: 'An introduction to Web Services' (in English)</li>
      </ul>
      <p>
         The event will take place in the <a href="http://www.exlibris-usa.com/">
	 Exlibris</a> offices, Malcha Technology Park, Building 9, 4th floor.
	 Attendence is free. <br />
	 For more information, see
	 <a href="http://jerusalem.perl.org.il/">http://jerusalem.perl.org.il/</a> or contact
	 <a href="mailto:eitan_HATESPAM_@perl.org.il" title="Email Eitan">Eitan</a>.
      </p>
