<tmpl_if name="homepage">
    <p class="sideBarTitle">בית</p>
    <ul>
        <li <tmpl_var Hebrew>><a href="#introduction"         title="Introduction">מבוא</a></li>
        <li <tmpl_var Hebrew>><a href="#new-site"             title="New Israel.pm Site">האתר החדש של שוחרי Perl</a></li>
        <li <tmpl_var Hebrew>><a href="#next_il_pm_meeting"   title="Next Israel.pm Meeting">המפגש הבא של שוחרי Perl בתל אביב</a></li>
        <li <tmpl_var Hebrew>><a href="#next_jm_pm_meeting"   title="Next Jerusalem.pm Meeting">המפגש הבא של שוחרי Perl  בירושלים</a></li>
    </ul>
</tmpl_if>

<tmpl_if name="about">
    <p class="sideBarTitle">אודותינו</p>
    <ul>
        <li <tmpl_var Hebrew>><a href="#introduction"    title="Introduction">מבוא</a></li>
        <li <tmpl_var Hebrew>><a href="#officers"        title="Current Israel.pm officers">אחראים כרגע</a></li>
        <li <tmpl_var Hebrew>><a href="#history"         title="History of Israel.pm">היסטוריה</a></li>
        <li <tmpl_var Hebrew>><a href="#about_site"      title="About This Site">אודות אתר זה</a></li>
    </ul>
</tmpl_if>

<tmpl_if name="mailing">
    <p class="sideBarTitle">רשימות דיוור</p>
    <ul>
        <li <tmpl_var Hebrew>><a href="#israel.pm"       title="The main Israel.pm mailing list">רשימת הדיוור העיקרית</a></li>
        <li <tmpl_var Hebrew>><a href="#jerusalem.pm"    title="Mailing list of the Jerusalem group">רשימת הדיוור של המועדון הירושלמיt</a></li>
        <li <tmpl_var Hebrew>><a href="#starter"         title="Mailing list for beginners">רשימת דיוור למתחילים</a></li>
        <li <tmpl_var Hebrew>><a href="#news"            title="Israel.pm News Announcements">הודעות חדשות</a></li>
        <li <tmpl_var Hebrew>><a href="#statistics"      title="Some mailing list statistics">נתונים סטטיסטיים</a></li>
    </ul>
</tmpl_if>

<tmpl_if name="meetings">
    <p class="sideBarTitle">מפגשים</p>
    <ul>
        <li <tmpl_var Hebrew>><a href="#future_meetings" title="Info about future meetings">מפגשים עתידיים</a></li>
        <li <tmpl_var Hebrew>><a href="#about_meetings"  title="About Our Meetings">מידע הנוגע למפגשים</a></li>
        <li <tmpl_var Hebrew>><a href="#past_meetings"   title="Archives of past meetings">מפגשים שהיו</a></li>
    </ul>
</tmpl_if>

<tmpl_if name="yapc">
     <p class="sideBarTitle">ועידה</p>
     <ul>
           <li <tmpl_var Hebrew>><a href="#introduction" title="Introduction">מבוא</a></li>
           <li <tmpl_var Hebrew>><a href="#yapc-2005" title="YAPC::Israel::2005">YAPC::Israel::2005</a></li>
           <li <tmpl_var Hebrew>><a href="#yapc-2004" title="YAPC::Israel::2004">YAPC::Israel::2004</a></li>
           <li <tmpl_var Hebrew>><a href="#yapc-2003" title="YAPC::Israel::2003">YAPC::Israel::2003</a></li>

     </ul>
</tmpl_if>

<tmpl_if name="library">
     <p class="sideBarTitle">ספריה</p>
     <ul>
           <li <tmpl_var Hebrew>><a href="#introduction" title="Introduction">מבוא</a></li>
           <li <tmpl_var Hebrew>><a href="#sponsors" title="List of sponsors">רשימת מממנים</a></li>
           <li <tmpl_var Hebrew>><a href="#books" title="List of books">רשימת ספרים</a></li>
     </ul>
</tmpl_if>

<tmpl_if name="misc">
     <p class="sideBarTitle">שונות</p>
     <ul>
           <li <tmpl_var Hebrew>><a href="#pl_vs_pl" title="Perl vs. perl">בין Perl לבין perl</a></li>
           <li <tmpl_var Hebrew>><a href="#learn" title="Learning Perl">ללמוד Perl</a></li>
           <li <tmpl_var Hebrew>><a href="#cpan" title="CPAN Mirrors">אתרי מראה של CPAN </a></li>
           <li <tmpl_var Hebrew>><a href="#projects" title="Perl Projects in Israel">פרוייקטי Perl בישראל</a></li>
     </ul>
</tmpl_if>

<tmpl_if name="business">
     <p class="sideBarTitle">עסקים</p>
     <ul>
           <li <tmpl_var Hebrew>><a href="#jobs" title="Perl related jobs">מקומות עבודה הנוגעים לPerl</a></li>
           <li <tmpl_var Hebrew>><a href="#commercial" title="Commercial Support">תמיכה מסחרית</a></li>
           <li <tmpl_var Hebrew>><a href="#who_uses_perl" title="Who Uses Perl in Israel">מימשתמש בPerl בארץ</a></li>
     </ul>
</tmpl_if>

<tmpl_if name="error">
    <!--
    <p class="sideBarTitle"></p>
    <ul>
        <li <tmpl_var Hebrew>><a href="#"         title=""></a></li>
    </ul>
    -->
</tmpl_if>
