      <h1 id="introduction" style="border-top: none; padding-top: 0; direction: rtl ; text-align: right">מבוא</h1>
      <p>
 הספרייה של מועדון שוחרי Perl מכילה קרוב ל80 כותרים, רובם עוסקים בתכנות בPerl ,
 ושאר נושאים הנוגעים למחשבים. הספרים זמינים כשרות מיוחד לחברים במועדון וניתן להשאילם בחינם, על ידי הגעה
     <a href="meetings.html">למפגשים</a>. ובפרט:
     </p>
      <ol>
         <li> על מנת להזמין ספר, בידקו את זמינותו ברשימה למטה.</li>
         <li>
         צרו קשר עם הספרן של המועדון
        <a href="mailto:libraryHATESpaM@perl.org.il" title="Email the librarian"> תומאס מאייר</a>,
        והזמינו את הספר.
     </li>
         <li> את הספר תוכלו להשיג  במפגש השוחרים הבא.</li>
         <li>
        קראו את הספר וכתבו לנו סקירה שלו ( אתם יכולים לשלוח אותו, הן כטסקט  והן כקובץ HTML פשוט הכולל תגים כגון
        &lt;b&gt;<strong>bold text</strong>&lt;/b&gt;, כרצונכם).<br />
       על אף שהסקירה אינה חובה, נעריך אותה מאוד, שכן היא מהווה אחד מגורמי המוטיבציה של גופים לתרום לנו ספרים.
     </li>
         <li> החזירו את הספר במפגש השוחרים לספרן..</li>
         <li>
         אם ברצונכם לשאול ספר שמושאל כבר על ידי שוחר Perl, צרו קשר עם הספרן על מנת להוסיף אתכם לרשימת ההמתנה לספר.
     </li>
      </ol>
      <h1 id="sponsors" <tmpl_var Hebrew>>רשימה של נותני חסות</h1>
      <p>
         הגורמים הבאים הסכימו בטובם לתרום למועדון שוחרי Perl ספרים. תודתנו, בשם כל החברים נתונה להם,
        הן על נדיבותם והן בשל התרומה שלהם לקהילה
      </p>
      <ul>
         <li>
        <a href="http://www.aw-bc.com/">Addison-Wesley and Benjamin Cummings</a><br />
        AW &amp; BC  היא אחת ההוצאות לאור  המובילות בתחומי המיחשוב, כלכלה, מדע מתמטיקה וסטטיסטיקה.
     </li>
         <li>
        <a href="http://www.apress.com/">Apress</a><br />
        Apress היא הוצאה לאור המוקדשת לצרכי הקהילה המקצועית של העוסקים בתכנותץ
     </li>
         <li>
        <a href="http://www.focus.co.il/">פוקוס</a><br />
        פוקוס הוא בית ההוצאה לאור הגדול ביותר בישראל  הנוגע למחשבים ומכיל את המבחר
            המגוון ביותר של ספרי מחשבים בנושאי: חלונות אופיס, אינטרנט, גרפיקה, תכנות, חומרה ועוד.
     </li>
         <li>
        <a href="http://www.manning.com/">Manning Publications Co.</a><br />
        Manning מוצאים לאור ספרי מחשבים למתכנתים מקצועיים, אנשי סיסטם, מעצבי מערכות, מנהלים ועוד.
     </li>
         <li>
        <a href="http://www.osborne.com/">McGraw-Hill/Osborne Media</a><br />
        McGraw-Hill/Osborne Media, a unit of
        <a href="http://www.mcgraw-hill.com/">McGraw-Hill Education</a>, is a
        McGraw-Hill/Osborne Media,, יחידה מתוך McGraw-Hill Education,
          הוצאה לאור המפיקה חומרי לימוד ללמידה עצמית  הכוללים מדריכי רפרנס למשתמש,
          רבי מכר  בנושאי מחשבים, כותרים בנושאי עסקים וטכנולוגיה וגם כותרים מעשיים בנושאי
          תכנות רשתות וכלי פיתוח לאתרים.
     </li>
         <li>
        <a href="http://www.newriders.com/">New Riders</a><br />

סיפרי New Riders מאפשרים פורום עבור הגורמים החשובים בתחמי הWeb, גרפיקה משחקים ומדיה.
 New Riders מהווים חלק מ

             <a href="http://www.peachpit.com/">Peachpit</a>,
שמהווה בעצמו חלק מ

        of <a href="http://www.pearsoned.com/">Pearson Education</a>.
     </li>
         <li>
        <a href="http://www.oreilly.com/">O'Reilly Media, Inc.</a><br />
        מה? אתם לא מכירים את  הספרים של O'Reilly? כאילו דההה! סידרת הספרים עם החיות?
            מאיזה כוכב נפלתם?
     </li>
         <li>
        <a href="http://www.prenhall.com/">Prentice Hall</a><br />
        הוצאת הספרים Prentice Hall מציגה נושאים מורכבים ומקצועיים רבים, ב1998 התאחדה הוצאה זו עם ההוצאה
        <a href="http://www.pearsoned.com/">Pearson Education</a>.
     </li>
      </ul>
      <h1 id="books" <tmpl_var Hebrew>>רשימת הספרים</h1>
      <p>
בטבלה הבאה, הקליקו על תא הותרת בטבלה בכדי למיין על פי אותו נושא.
שמות הספרים, הם קישורים לדף המתאר את אותו הספר, שם תמצאו מידע נוסף (באנגלית).

      </p>
      <table id="t1" class="sortable" border="1">
     <tr>
       <th>Number</th><th>Name</th><th>ISBN</th><th>Publisher</th><th>Current User</th>
     </tr>
     <tmpl_loop name="books_table">
     <tr>
        <td><tmpl_var number></td>
        <td><tmpl_var name></td>
        <td><tmpl_var isbn></td>
        <td><tmpl_var publisher></td>
        <td><tmpl_var cuser></td>
     </tr>
     </tmpl_loop>
      </table>
