      <h1 id="israel.pm" style="border-top: none; padding-top: 0;">Israel.pm Mailing List</h1>
      <p>
         This is the main mailing list of the Israeli Perl Mongers, where most discussions take
         place. Fairly high volume, but of course there is always the digest version available.
     <br />
     For both this and all the other lists mentioned below, all posts are in English, so
     feel free to participate even if you don't speak Hebrew,
     or live in Israel for that matter :-). In addition, only list subscribers can post to
     these lists, so these lists are SPAM free.
     <br />
     To register and for more details, see the
     <a href="http://www.perl.org.il/mailman/listinfo/perl/">information page</a>. To browse past messages,
     see <a href="http://perl.org.il/pipermail/perl/">the archives</a>.
      </p>
      <h1 id="jerusalem.pm">Jerusalem.pm Mailing List</h1>
      <p>
         This is the mailing list of the Jerusalem Perl Mongers.
     <br />
     To register and for more details, see the
     <a href="http://www.perl.org.il/mailman/listinfo/jerusalem/">information page</a>. To browse past messages,
     see <a href="http://perl.org.il/pipermail/jerusalem/">the archives</a>.
      </p>
      <h1 id="starter">Starter Mailing List</h1>
      <p>
         Since the main mailing list is used by Perl users of every level, the discussions there might
     sometimes seem intimidating to new Perl users. This list is for them. The list isn't moderated,
     so if you post, please make sure the level is appropriate. If you want to post a higher level
     question, please post it to the main mailing list.
     <br />
     To register and for more details, see the
     <a href="http://www.perl.org.il/mailman/listinfo/starter/">information page</a>. To browse past messages,
     see <a href="http://perl.org.il/pipermail/starter/">the archives</a>.
      </p>
      <h1 id="news">News Announcements Mailing List</h1>
      <p>
         This mailing list is a very low volume mailing list used to distribute Israel.pm (and Jm.pm) news and
     announcements, mostly meeting announcements. Use if even the digest version of the main
     mailing list is too much and you just want to receive news about meetings and such.
     <br />
     Note that unlike the other lists, this list is <strong>moderated</strong> - all posts must first be
     manually approved by the list moderator.
     <br />
     To register and for more details, see the
     <a href="http://www.perl.org.il/mailman/listinfo/news/">information page</a>. To browse past messages,
     see <a href="http://perl.org.il/pipermail/news/">the archives</a>.
      </p>
      <h1 id="statistics">Statistics</h1>
      <p>
         The folling data was collected from <a href="http://perl.org.il/pipermail/perl/">the archives</a> of
     the Israel.pm mailing list and is known to be inaccurate due to the fact the it is not always possible
     to extract from the archives the exact sender. Nontheless, these numbers accuratly show general
     trends in the mailing list and are fairly accurate (to within 10%) regarding absolute numbers
     (per poster).
      </p>
      <h3 class="year">
         2001
      </h3>
      <ul>
         <li>In the year 2001 there were a total of 27 posts from 9 people.</li>
         <li>The top poster was Gabor, with 33.3% of the posts (yes, a grand total of 9 emails in almost a year :-)</li>
         <li>Together, the top 3 posters posted over 70% of all posts in 2001.</li>
      </ul>
      <h3 class="year">
         2002
      </h3>
      <ul>
         <li>In the year 2002 there were a total of 830 posts from 66 people.<br />
        That's a rise of over 3000% in the number of emails sent, and an increase of over 700% in the number
        of people participating.
     </li>
         <li>The top poster was again Gabor, with almost 25% of the posts.</li>
         <li>Together, the top 10 posters posted over 70% of all posts in 2002.</li>
      </ul>
      <h3 class="year">
         2003
      </h3>
      <ul>
         <li>In the year 2003 there were a total of 2889 posts from 145 people.<br />
        That's a rise of nearly 350% in the number of emails sent as compared to 2002, and an increase of
        nearly 220% in the number of people participating. Still impressive growth :-)
     </li>
         <li>The top poster was yet again Gabor, but his share fell to "just" 15.6% of the posts.</li>
         <li>Together, the top 10 posters posted nearly 60% of all posts in 2003, showing a greater
        amount of participation by a larger amount of people.
     </li>
      </ul>
      <h3 class="year">
         2004
      </h3>
      <p>
         In 2004, the Israeli Perl community, and together with it the mailing list, continues to grow.
     Statistics for 2004 will be ready once we reach 2005... :-)
      </p>
