     <h1 id="pl_vs_pl" style="border-top: none; padding-top: 0; direction: rtl ; text-align: right">Perl vs. perl</h1>
      <p <tmpl_var Hebrew>>
הדיון הבא הינו הרחבה שאלה ותשובה מתוך perlfaq1 של דפי התעוד של Perl:

      <br />
     <q>
מה ההבדל בין "perl" ל "Perl" ?
    </q><br />
לעיתים תתקלו במילה "Perl" כתובה עם האות הגדולה 'P' ולעיתים "perl" עם האות הקטנה 'p' ולעיתים אפילו
          <acronym title="Practical Extraction and Reporting Language">PERL</acronym>.<br />
מבולבלים? אל חשש ואל דאגה :-)
      <br />
הנוהג פשוט למדי:
      </p>
      <ul>
         <li <tmpl_var Hebrew>>

נהוג להשתמש במילה "Perl" כאשר כותבים לגבי השפה, למשל:

        <p dir="ltr">
        <blockquote cite="http://www.perldoc.com/perl5.8.4/pod/perl.html">
           <p>Perl is a language optimized for scanning arbitrary text files, extracting
           information from those text files, and printing reports based on that
           information. It's also a good language for many system management tasks.
           The language is intended to be practical (easy to use, efficient, complete)
           rather than beautiful (tiny, elegant, minimal).</p>
        </blockquote>
            </p >
     </li>
         <li <tmpl_var Hebrew> >
מאידך, נוהגים להשתמש ב"perl" כאשר כותבים את שם קובץ ההרצה המתרגם קוד Perl למשל:
 <p dir="ltr">
        <q>the <em>perl</em> executable can
        usually be found at <span>/use/bin/perl</span> on Unix/Linux systems, or on
        <span>c:\Perl\bin\perl.exe</span> on Windows systems.</q>

</p>
         </li>
         <li <tmpl_var Hebrew> >
אין האמור לעיל בבחינת חוק בל יעבור, ואפילו בדפי התיעוד של Perl חוטאים פה ושם בין שתי המילים, אך בכל מקרה
         <strong>לעולם</strong> לא נהוג להשתמש ב
        "PERL".<br />

     </li>
      </ul>
      <p <tmpl_var Hebrew> >
         ציטטה מפורסמת המיוחסת ל
     Tom Christiansen,
גורסת כי
         <q>רק perl יכולה לעבד Perl</q> <br />
נשאיר אתכם להרהר עמוקות בדברי חכמה אלו...
     </p>

      <h1 id="learn" <tmpl_var Hebrew> >ללמוד Perl</h1>
      <p <tmpl_var Hebrew>>
הרשימה הבאה מציגה מספר מקורות (מקומיים) שיכולים לעזור לכם לקבל עזרה בבעיות הנוגעות לPerl:
      </p>
      <dl>
         <dt <tmpl_var Hebrew>>מדריכים מקוונים</dt>
     <dd>
        <ul>
           <li <tmpl_var Hebrew> >
              <a href="http://vipe.technion.ac.il/~shlomif/lecture/Perl/Newbies/">
          סדרת הרצאות למתחילים בPerl</a>, נכתב ע"י שלומי פיש.
           </li >
           <li <tmpl_var Hebrew> >
              <a href="http://imagic.weizmann.ac.il/~dov/gimp/perl-tut.html">
              מדריך Perl עבור משתמשי Gimp</a>, , נכתב ע"י דב (פטר) גולדברג.
           </li>
           <li <tmpl_var Hebrew>>
              <a href="http://www.shmuelfomberg.com/perlhebtut/">
              מדריך בעברית </a>, נכתב ע"י שמואל פומברג
           </li >
           <li <tmpl_var Hebrew>>
              <a href="http://www.guides.co.il/download.php?guide=161">
              ביטויים רגולריים בעברית </a>, נכתב ע"י שלומי לובטון.
           </li >
        </ul>
     </dd>
         <dt <tmpl_var Hebrew>>ספרים</dt>
     <dd <tmpl_var Hebrew>>
פרט לספרים הרבים שאתם יכולים להשאיל

        <a href="library.html" <tmpl_var Hebrew>>מהספריה שלנו</a>, קיימים גם מספר ספרים מקוונים ב
      <a href="http://www.perl.org/books/library.html">ספרייה של  perl.org
        </a>.
     </dd>
         <dt <tmpl_var Hebrew>>קורסים</dt>
     <dd>
אם אתם סטדנטים ב
        I
        <a href="http://www.weizmann.ac.il/">מכון וייצמן</a>, קיימים שם שני קורסים הקשורים לPerl
        <a href="http://bip.weizmann.ac.il/course/prog/">Perl Programming Course for Bioinformatics
        and Internet</a>,וגם
        <a href="http://bip.weizmann.ac.il/course/prog2/">Object-Oriented and Database
        Programming for Bioinformatics and Internet</a>. <br />
בנוסף לכך, החברות הבאות מציעות קורסי Perl מסחריים:

        <a href="https://szabgab.com/">גאבור סבו</a>.
     </dd>
         <dt <tmpl_var Hebrew>>המגע האנושי</dt>
     <p <tmpl_var Hebrew>>
קיימות מספר רשימות דיוור ב

        <a href="mailing_lists.html">דף רשימות הדיוור</a>
שלנו. וכמובן שאתם יכולים להגיע
         <a href="meetings.html" >לפגישות</a>שלנו.
     </p>

      </dl>

      <h1 id="cpan" <tmpl_var Hebrew>>CPAN Mirrors</h1>
      <p <tmpl_var Hebrew> >
הרשימה הבאה היא רשימת אתרי מראה של
     <a href="http://www.cpan.org/SITES.html">CPAN</a> בישראל:
      </p>
      <ul>
         <li <tmpl_var Hebrew> >
        <a href="http://bioinfo.weizmann.ac.il/pub/software/perl/CPAN/">מכון וייצמן (http)</a>
     </li>
          <li <tmpl_var Hebrew> >
        <a href="ftp://bioinfo.weizmann.ac.il/pub/software/perl/CPAN/">מכון וייצמן (ftp)</a>
     </li>
          <li <tmpl_var Hebrew> >
        <a href="http://www.iglu.org.il/pub/CPAN/">האיגלו (http)</a>
     </li>
          <li <tmpl_var Hebrew> >
        <a href="ftp://ftp.iglu.org.il/pub/CPAN/">האיגלו (ftp)</a>
     </li>
          <li <tmpl_var Hebrew> >
        <a href="http://mirror.mirimar.net/cpan/">mirimar.net (http)</a>
     </li>
      </ul>

      <h1 id="projects" <tmpl_var Hebrew>>פרוייקטי Perl בישראל</h1>
      <p <tmpl_var Hebrew>>
להלן רשימת פרוייקטים ומודולים בPerl שפותחו על ידי ישראלים או קשורים לישראל:
      </p>
      <h2 <tmpl_var Hebrew> >פרוייקטים</h2>
      <ul>
          <li <tmpl_var Hebrew> >
        <a href="http://www.wisdom.weizmann.ac.il/~jason/perl/perl.html">tv_grab_il</a>
הוא סקריפט להורדת שידורי טלוויזה (בעברית),  המכוון להוות חלק מפרוייקט

        <a href="http://www.xmltv.org/">xmltv</a>
המפותח ותוחזק על ידי ג'יסון פרידמן.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://www.billauer.co.il/perlilog.html">Perlilog</a>
        הינו כלי שורת פקודה היוצר מודולי Verilog מאוסף קבצים המגיעים במספר פרומטים, מתוחזק על ידי אלי בילאור.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://www.billauer.co.il/eobj.html">Eobj</a>
        ("<strong>E</strong>asy <strong>Obj</strong>ects")
הינה סביבת פיתוח לפרל המתוחזקת על ידי אלי בילאור.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://mila.cs.technion.ac.il/">מילה</a> -


מרכז ידע לתקשוב בשפה העברית. מפותח ומתוחזק על ידי שלמה יונה
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://cpants.szabgab.com/">CPANTS database</a>
 - A Web front-end for the
        CPANTS database. Maintained by Gabor Szabo.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://imagic.weizmann.ac.il/~dov/freesw/FriBidi/">FriBidi</a> -
        מימוש חופשי של אלגוריתם דו כיווני של יוניקוד ע"י דב (פטר) גולדברג.

         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://nadav.harel.org.il/homepage/work.html">SendSMS</a>
  שולח הודעות SNS תוך שימוש באתרי 4 החברות הסלולריות בישראל, ע"י נדב הראל.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://sourceforge.net/projects/ilsendsms/">Send SMS (Israel)</a> -
עוד פרוייקט לשליחת SMS  - נבנה על גבי הליבה של נדב הראל ע"י אלון אלטמן.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://perl-begin.berlios.de/">האתר למתחילים בPerl </a> -
        האתר הלא רשמי למתחילים בPerl ע"י שלומי פיש.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://gamla.iglu.org.il/">Gamla</a> - A Perl based RAD and application
        server. By Shlomi Fish.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://www.tracert.com/">Tracert</a> - A database of public traceroute
        gateways with a tool to run them from one central location. By Gabor Szabo.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="https://szabgab.com/">Gabor Szabo</a> -
 רשימת חברות להכשרה בPerl  ברחבי העולם - מתוחזקת ע"י גאבור סבו.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://sourceforge.net/projects/rmerge/">Merge</a> - כלי סקריפטיג משובץ Perl/HTML/SQL
        ע"י עודד רזניק (ראו גם את  כותבים בCPAN ומודולים שלהם למטה)
         </li>
          <li <tmpl_var Hebrew> >
            <a href="http://cortext.co.il/">RUI</a>
מטרת הממשק למשתמש מרחוק היא לאפשר הצגה של שולחן העבודה על גבי מחשבים מרוחקים עבור שפות צד שרת נפוצות עם מסגרות GUI ופלטפורמות לקוח נפוצות ע"י רן אלירן.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://www.fvwm.org/documentation/perllib/">FVWM ספריית  Perl </a> -
            A Perl library that makes creating FVWM modules in Perl possible and easy.
        By Mikhael Goikhman.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://www.stason.org/">סטאט בקמן</a> אחד מהכותבים של
            <a href="http://modperlbook.org/">Practical mod_perl</a>,ויוצר ה
             <a href="http://perl.apache.org/docs/1.0/guide/">מדריך לmod_perl</a>.
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://chiqchaq.sourceforge.net/">צ'יק צ'אק</a>  Wiki לאנשים רגילים ע"י יונת שרון.
         </li>
      </ul>
      <h2 <tmpl_var Hebrew> >כותבים בCPAN ומודולים שלהם</h2>
      <ul>
          <li <tmpl_var Hebrew> >
        <a href="http://metacpan.org/author/AMOSS/">AMOSS</a> - עמוס שפירא
        <ul>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/SGI::FM/">SGI::FM</a></li>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/SGI::GL/">SGI::GL</a></li>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/SGI::SysCalls/">SGI::SysCalls</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://metacpan.org/author/GENIE/">GENIE</a> - גולדין יבגני
        <ul>
            <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/Tie::LazyList/">Tie::LazyList</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://metacpan.org/author/ISAAC/">ISAAC</a> - יצחק גולדנסנד
        <ul>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/Apache::UploadMeter/">Apache::UploadMeter</a></li>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/Apache::GD::Thumbnail/">Apache::GD::Thumbnail</a></li>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/DBIx::Objects/">DBIx::Objects</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://metacpan.org/author/PRILUSKYJ/">PRILUSKYJ</a> - ג'יימי פרילוסצקי
        <ul>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/Bio::Maxd/">Bio::Maxd</a></li>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/Bundle::DataMint/">Bundle::DataMint</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
            <a href="http://metacpan.org/author/RAZINF/">RAZINF</a> - עודד רזניק
            <ul>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/HTML::Merge/">HTML::Merge</a></li>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/Data::Password/">Data::Password</a></li>
                <li <tmpl_var Hebrew> ><a href="http://metacpan.org/module/Term-InKey/">Term::InKey</a></li>
            </ul>
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://search.cpan.org/author/RBOW/">RBOW</a> - ריץ' בוון
        <ul>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Date-Passover/">Date-Passover</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://search.cpan.org/author/REUVEN/">REUVEN</a> - ראובן לרנר
        <ul>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Apache-CodeRed/">Apache-CodeRed</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/author/ROMM/">ROMM</a> - רומן פרפרוב
        <ul>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Mt">Mt</a></li>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Time-Travel">Time::Travel</a></li>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Empire">Empire</a></li>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Net-Whois-IANA">Net::Whois::IANA</a></li>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Chess-FIDE">Chess::FIDE</a></li>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Chess-ICClib">Chess::ICClib</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://search.cpan.org/author/SHLOMOY/">SHLOMOY</a> - שלמה יונה
        <ul>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Lingua-EN-Sentence/">Lingua-EN-Sentence</a></li>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Lingua-HE-Sentence/">Lingua-HE-Sentence</a></li>
            <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/SuffixTree/">SuffixTree</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
            <a href="http://search.cpan.org/author/SMALYSHEV/">SMALYSHEV</a> - Stanislav Malyshev
            <ul>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Lingua-IW-Logical/">Lingua-IW-Logical</a></li>
            </ul>
         </li>
          <li <tmpl_var Hebrew> >
        <a href="http://search.cpan.org/author/SZABGAB/">SZABGAB</a> - גאבור סבו
        <ul>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Array-Unique/">Array::Unique</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Bundle-Test/">Bundle::Test</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Bundle-SSH/">Bundle::SSH</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Bundle-Kwiki/">Bundle::Kwiki</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/CGI-FileManager/">CGI::FileManager</a></li>
        </ul>
         </li>
          <li <tmpl_var Hebrew> >
            <a href="http://search.cpan.org/author/SCHOP/">SCHOP</a> - אריאל ברוש (R.I.P.)
            <ul>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Data-ACL/">Data-ACL</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Data-Direct/">Data-Direct</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Data-ENAML/">Data-ENAML</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Data-JavaScript/">Data-JavaScript</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/File-FTS/">File-FTS</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Geography-Country-Utils/">Geography-Country-Utils</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/htpls/">htpl</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Language-Mumpss/">Language-Mumps</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Locale-Hebrews/">Locale-Hebrew</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Mail-EXPNs/">Mail-EXPN</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Net-Whois-Raws/">Net-Whois-Raw</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Text-Morses/">Text-Morse</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/Tie-Toolss/">Tie-Tools</a></li>
                <li <tmpl_var Hebrew> ><a href="http://search.cpan.org/dist/XML-Confs/">XML-Conf</a></li>
            </ul>
         </li>
      </ul>

      <h1 id="who_uses_perl"  <tmpl_var Hebrew> >מי משתמש בPerl</h1>
      <p  <tmpl_var Hebrew> >חלק זה הועבר ל<a href="/business.html#who_uses_perl">חלק המסחרי</a>.</p>

