<a href="about.html" <tmpl_var Hebrew> >אודותנו</a> |
<a href="mailing_lists.html"<tmpl_var Hebrew> >רשימות דיוור</a> |
<a href="meetings.html" <tmpl_var Hebrew> >מפגשים</a> |
<a href="yapc.html" <tmpl_var Hebrew> >ועידות</a> |
<a href="library.html"<tmpl_var Hebrew> >הסיפרייה</a> |
<a href="misc.html" <tmpl_var Hebrew>>שונות</a> |
<a href="business.html" <tmpl_var Hebrew> >Perl בעסקים</a>
