<p class="sideBarTitle">Related Sites</p>
<ul>
<!--   <li>
      <span class="thisPage" title="Israel.pm's KWiki based Wiki">
      <a href="http://perl.org.il/kwiki/index.cgi">Israel.pm's Wiki</a></span>
   </li>
-->
   <li>
      <span class="thisPage" title="Jerusalem Perl Mongers">
      <a href="http://jerusalem.perl.org.il/">Jerusalem Perl Mongers</a></span>
   </li>
   <li>
      <hr />
      <a href="http://search.cpan.org/">Search CPAN</a>
   </li>
   <li><a href="http://use.perl.org/">use Perl;</a></li>
   <li><a href="http://www.perl.com/">Perl.com</a></li>
   <li><a href="http://www.perl.org/">The Perl Directory</a></li>
   <li><a href="http://www.perldoc.com/">Perldoc - Perl Documentation</a></li>
   <li><a href="http://www.perlfoundation.org/">The Perl Foundation</a></li>
   <li><a href="http://www.perlmonks.org/">Perl Monks</a></li>
   <li><a href="http://www.pm.org/">Perl Mongers</a></li>
   <li><a href="http://planet.perl.org/">Planet Perl</a></li>
</ul>
