     <p class="sideBarTitle">News</p>
     <div class="sideBarText">
            <strong>Nov 2, 2004</strong><br />
            A <a href="/business.html">commercial page</a> was split out
        from the <a href="/misc.html">Misc</a> page.
     </div>
     <div class="sideBarText">
            <strong>Oct 17, 2004</strong><br />
            Added modules by Isaac Goldstand to
        <a href="/misc.html">Misc</a> page.
     </div>
     <div class="sideBarText">
            <strong>Oct 17, 2004</strong><br />
            Added a new project by
        <a href="http://www.wisdom.weizmann.ac.il/~jason/">Jason Friedman</a>
        to the <a href="/misc.html">Misc</a> page.
     </div>
     <div class="sideBarText">
            <strong>Oct 17, 2004</strong><br />
            Added 2 new projects by
        <a href="http://www.billauer.co.il/">Eli Billauer</a>
        to the <a href="/misc.html">Misc</a> page.
     </div>
     <div class="sideBarText">
            <strong>Oct 15, 2004</strong><br />
            Meeting report for
        <a href="/meetings/2004/20041014.html">October 2004 meeting</a> added.
     </div>
     <div class="sideBarText">
            <strong>Oct 13, 2004</strong><br />
            New Perl related job link (from radware) added to
        <a href="/misc.html">misc page</a>.
     </div>
     <div class="sideBarText">
            <strong>Oct 10, 2004</strong><br />
            October meeting description updated. See
        <a href="/index.html">front page</a> for details.
     </div>
     <div class="sideBarText">
            <strong>Oct 04, 2004</strong><br />
            Added "Perl Beginners" site by Shlomi Fish
        to <a href="/misc.html">Misc</a> page, projects section.
     </div>
     <div class="sideBarText">
            <strong>Sep 26, 2004</strong><br />
            Added 2 new job postings to the
        <a href="/misc.html">Misc</a> page.
     </div>
     <p class="sideBarTitle">Search</p>
     <div class="sideBarText">
        <form action="http://www.perl.org.il/exe/google.pl">
           <div><input name="term" size="11" maxlength="255" value=""/><br /></div>
           <div><input type="radio" name="group" value="1"/>On perl.org.il<br /></div>
           <div><input type="radio" name="group" value="2"/>On all Perl sites<br /></div>
           <div><input type="submit" value="Google It!"/></div>
        </form>
     </div>
