      <h1 id="introduction" style="border-top: none; padding-top: 0; direction: rtl ; text-align: right">הקדמה</h1>
      <p <tmpl_var Hebrew> >
הועידה  או כפי שאנו מכנים אותה באנגלית -
         The <a href="http://www.yapc.org/">Yet Another Perl Conferences</a>
         (YAPCs)
הינה הארוע העיקרי  של מועדון השוחרים בנושא שפת Perl, בחסות
<a href="http://www.perlfoundation.org/">www.perlfoundation.org</a>,
המוקדש לקיידום התכנות בשפת Perl ע"י דיון ציבורי ושיתוף פעולה  בעיצוב ותכנון קוד.


     <br />
         YAPC
החלה כגרסא  קטנה יותר של

  <a href="http://conference.perl.com/">
    הועידה המקבילה לה
</a> במזרח ארה"ב.
הרעיון התגלה כמוצלח ובמהרה YAPC  הפעו לועידות  המאורגנות על ידי <a href="http://www.pm.org/"> שוחרי Perl
</a>
במגוון מקומות בעולם, ובינהם:


     <a href="http://www.yapc.org/America/">
 צפון אמריקה
</a>,
         <a href="http://yapc.mongueurs.net/">
אירופה
</a>,
         <a href="http://www.yapc.ca/">
קנדה
</a>
והחל מ2003 גם בישראל.
         <br />
הועידה בארץ מאורגנת על ידי  מועדון שוחרי Perl. מטרתנו היא להציג את Perl  ככלי רב גוני מנקודת
ההשקפה של מתכנתים מנוסים, אנשי אקדמיה, סטודנטים חוקרים ומנהלים. ובכך לעורר דיון הנוגע להיבטים שונים
הנוגעים לתכנות ושימוש בPerl, וכמובן לצד השיתוף במידע, להנות תוך כדי.


      </p>
      <h1 id="yapc-2005"  <tmpl_var Hebrew> >YAPC::Israel::2005</h1>
      <p  <tmpl_var Hebrew> >
הועידה לשנת 2005 עדיין בתכנון, כרגע אין מידע סופי זמין.
אנא התעדכנו מאוחר יותר או הצטרפו לרשימת הדיוור של.
        <a href="mailing_lists.html#news">
     החדשות
</a>)
בכדי לקבל עידכונים שוטפים.
      </p>
      <h1 id="yapc-2004" <tmpl_var Hebrew> >YAPC::Israel::2004</h1>
      <p <tmpl_var Hebrew> >
הועידה ב2004 התקיימה ב26 בפברואר. בועידה השתתפו קרוב ל100  אנשים והרצאות מעניינות רבות.
     <br />
ברצוננו להודות ל

<a href="http://www.idc.ac.il/">מרכז הבין תחומי הרצליה
 </a>
עבור ארוח הועידה וכמו כן לחברות הבאות אשר סיפקו חסות.
for hosting the conference, as well as the following companies which provided
     sponsorship:
      </p>
      <ul <tmpl_var Hebrew> >
         <li <tmpl_var Hebrew> ><a href="http://www.beyondsecurity.com/">Beyond Security, Ltd.</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.activestate.com/">ActiveState</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.mcgraw-hill.co.uk/">McGraw-Hill</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.focus.co.il/">Focus</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.apress.com/">Apress/Springer</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.awl.com/">Addison-Wesley (Pearson)</a></li>
         <li <tmpl_var Hebrew> ><a href="https://szabgab.com/">Perl Training Israel, Ltd.</a></li>
      </ul>
      <p <tmpl_var Hebrew> >
בכדי לקבל פרטים נוספים בקרו בארכיון

     <a href="YAPC/2004/">
הועדות
</a>
 שלנו.
      </p>
      <h1 id="yapc-2003" <tmpl_var Hebrew>  >YAPC::Israel::2003</h1>
      <p <tmpl_var Hebrew>  >
הועידה ב 2003 התקיימה ב11 במאי בועידה השתתפו מעל 100 אנשים. בנוסף להרצאות המענינות הגיע גם
         The 2003 Israeli YAPC took place on May 11, 2003. It was very successful, with over
     100 participants, many interesting lectures, and a special guest lecturer -
     <a href="http://perl.plover.com/">
מארק ג'יסון דומינוס
</a>.
     <br />
ברצוננו להודות ל

     מוסד ע"ש אדמונד בנימין רוטשילד ליישומים בין תחומיים במדעי המחשב
 (<a href="http://www.cri.haifa.ac.il/">CRI</a>)
עבור ארוח הועידהץ כמו כן ברצוננו להודות לחברות הבאות אשר נתנו חסותן לארוע:
      </p>
      <ul>
         <li <tmpl_var Hebrew> ><a href="http://www.mercury.co.il/">Mercury Interactive</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.actcom.net.il/">Actcom</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.activestate.com/">ActiveState</a></li>
         <li <tmpl_var Hebrew> ><a href="http://perl.oreilly.com/">O'Reilly</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.apress.com/">Apress/Springer</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.pearson.com/">Pearson Plc.</a></li>
         <li <tmpl_var Hebrew> ><a href="http://www.pti.co.il/">Perl Training Israel, Ltd.</a></li>
      </ul>
    <p <tmpl_var Hebrew> >
בכדי לקבל פרטים נוספים בקרו בארכיון

     <a href="YAPC/2004/">
הועדות
</a>
 שלנו.
      </p>
